<div class="row talk" id="<%= dom_id(workshop) %>">

  <div class="span8">
    <h4>
      <%= link_to workshop.title, workshop %>
      <%= image_tag("approved_talk.png") if workshop.accepted? %>
      <%= image_tag("icon_slides.gif") if admin? && workshop.slide.file? %>
    </h4>

    <p class="muted">
      Workshop - Suggested by <%= workshop.users.map { |u| u.name }.join(", ") %>,
      <%= time_ago_in_words(workshop.created_at) %> ago.
      <%= "Max number of participants: " + h(workshop.max_participants) if admin? %>
    </p>

    <p>
      <% if contains_html workshop.description %>
          <%= sanitize workshop.description %>
      <% else %>
          <%= simple_format h(workshop.description) %>
      <% end %>
      <br/>
      <%= link_to "Read more...", workshop %>
    </p>

    <%# link_to "#{talk.comments_count or 0} comment(s).", talk_path(talk, :anchor => "comments") %>

    <% unless workshop.tags.size == 0 %>
        <div class="tags">
          Tags: |
          <% workshop.tags.each do |tag| %>
              <%= link_to tag.title, :controller => "talks", :action => "article_tags", :id => tag.id %> |
          <% end %>
        </div>
    <% end %>
  </div>
</div>
