<script type="text/javascript">
    $(document).ready(function () {
                $("#acceptances").tablesorter({
                    theme:'blue',
                    // use save sort widget
                    widgets:["saveSort"]

                });
            }
    );
</script>
<h1>Approval of talk</h1>

<p>
    Total number of submitted talks: <%= @talks.size %><br><br>
    <% @types.each_pair{ |key, value| %>
        <img src="images/<%= key %>.gif" alt="<%=key %>" /> : <%= value  %> <br />
    <% } %>
</p>
<table id="acceptances" class="table tablesorter" colspan="0" cellspacing="0">
  <tr>
    <th>Speaker</th>
    <th>Title</th>
    <th>Status</th>
    <th>Email sent</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
<% for talk in @talks %>
<tr>
    <td>
      <%= h(talk.speaker_name) %>
      <%= talk.speaker_invited ? "(invited)" : "" %>

    </td>
    <td>
      <%= link_to h(talk.title), talk %>
      (<%= talk.talk_type.name %>)
    </td>
    <td>
      <img src="images/<%= talk.acceptance_status %>.gif" alt="<%= talk.acceptance_status %>" />
    </td>
    <td>
      <%=talk.email_sent ? "Yes" : "No"%>
    </td>
    <% if talk.email_sent%>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    <% else %>
      <td>
        <%= link_to_unless talk.accepted?, 'Accept', :action => 'accept', :id => talk.id %>
      </td>
      <td>
        <%= link_to_unless talk.refused?, 'Reject', :action => 'refuse', :id => talk.id %>
      </td>
      <td>
        <%= link_to_unless talk.pending?, 'Await', :action => 'await', :id => talk.id %>
      </td>
      <td>
        <%= link_to_unless talk.email_sent, 'Send mail', :action => 'send_mail', :id => talk.id %>
      </td>
    <% end%>
  </tr>
<% end %>
</table>