<script type="text/javascript">
    $(document).ready(function () {
      $("#acceptances").tablesorter({
          theme: 'blue',
           // use save sort widget
          widgets: ["saveSort"]

        });


        $("#acceptances").sieve({
            itemSelector: 'tbody tr',
            textSelector: 'td:not(.no-filter), td select option[selected]',
            searchTemplate: "<div style='float: right;'><label>Search: <input type='text'></label></div>",
            complete: function(){
                // update the zebra widget after Sieve completes
                $table.trigger('applyWidgets');
            }
        });

        $(".email").bind("ajax:error", function (evt, data, status, xhr) {
            $.notify("Oops! an error occurred.", "error");
        });
        $(".email").bind("ajax:success", function (evt, data, status, xhr) {
            $(evt.target).remove();
        });
      }
    );
</script>
<h1>Approval of talk</h1>
<div id="notice">
    <%= render "shared/notice" %>
</div>
<p>
  Total number of submitted talks: <%= @talks.size %><br><br>
  <ul>
  <% @types.each_pair { |key, value| %>
    <li> 
      <img src="images/<%= key %>.gif" alt="<%= key %>"/> : <%= value %> 
      <%= key %>
    </li>
  <% } %>
</ul>
</p>
<table id="acceptances" class="table table-striped">
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Title</th>
      <th>Status</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% for talk in @talks %>
      <tr>
        <td>
          <%= h(talk.speaker_name) %>
        </td>
        <td>
          <%= link_to h(talk.title), talk %>
          (<%= talk.talk_type.name %>)
        </td>
        <td>
          <img src="images/<%= talk.acceptance_status %>.gif" alt="<%= talk.acceptance_status %>"/>
          <% if talk.invited? %>
            Invited
          <% elsif talk.speakers_confirmed? %>
            Confirmed
          <% else %>
            <%= talk.acceptance_status.capitalize %>
          <% end %>
        </td>
        <% if talk.invited? %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        <% else %>
          <td>
            <% unless talk.pending? || talk.email_sent? %>
              <%= link_to 'Reset', :action => 'await', :id => talk.id %>
            <% end %>
          </td>
          <% if talk.pending? %>
              <td>
                <%= link_to 'Accept', :action => 'accept', :id => talk.id %>   
              </td>
              <td>
                <%= link_to 'Reject', :action => 'refuse', :id => talk.id %> 
              </td>
          <% elsif talk.accepted?%>
            <td>
                <% if talk.speakers_confirmed? %>
                  <%= link_to 'Cancel', :action => 'unconfirm', :id => talk.id %>
                <% else %> 
                  <%= link_to 'Confirm', :action => 'confirm', :id => talk.id %> 
                <% end %>
            </td>
            <td>
              <% unless talk.could_not_attend? %>
                <%= link_to 'Decline', :action => 'could_not_attend', :id => talk.id %>
              <% end %>
            </td>
          <% else %>
            <td> </td>
            <td> </td>
          <% end %>
          <td>
            <% if !talk.email_sent? && (talk.accepted? || talk.refused?) %>
              <%= link_to image_tag('mimiglyphs/57.png'), { :action => 'send_mail', :id => talk.id, remote: true }, class: 'email' %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>