<script type="text/javascript">
    $(document).ready(function () {
      $("#acceptances").tablesorter({
          theme: 'blue',
           // use save sort widget
          widgets: ["saveSort"]

        });


        $("#acceptances").sieve({
            itemSelector: 'tbody tr',
            textSelector: 'td:not(.no-filter), td select option[selected]',
            searchTemplate: "<div style='float: right;'><label>Search: <input type='text'></label></div>"
        });

      }
    );
</script>
<h1>Approval of talk</h1>

<p>
  Total number of submitted talks: <%= @talks.size %><br><br>
  <% @types.each_pair { |key, value| %>
      <img src="images/<%= key %>.gif" alt="<%= key %>"/> : <%= value %> <br/>
  <% } %>
</p>
<table id="acceptances" class="table table-striped table-condensed" colspan="0" cellspacing="0">
  <tr>
    <th>Speaker</th>
    <th>Title</th>
    <th>Status</th>
    <th>Email sent</th>
    <th>Confirmed</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
		<th>&nbsp;</th>
  </tr>
  <% for talk in @talks %>
      <tr>
        <td>
          <%= h(talk.speaker_name) %>
        </td>
        <td>
          <%= link_to h(talk.title), talk %>
          (<%= talk.talk_type.name %>)
        </td>
        <td>
          <img src="images/<%= talk.acceptance_status %>.gif" alt="<%= talk.acceptance_status %>"/>
        </td>
        <td>
          <%= YesNo.new(talk.email_sent) %>
        </td>
        <td>
          <%= YesNo.new(talk.speakers_confirmed) %>
        </td>

        <% if talk.invited? %>
            <td colspan="4">Invited</td>
        <% elsif talk.email_sent? || talk.speakers_confirmed? %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
              <% if talk.speakers_confirmed? %>
                  <%= link_to 'Cancel', :action => 'unconfirm', :id => talk.id %>
              <% else %>
                  <%= link_to_if talk.accepted?, 'Confirm', :action => 'confirm', :id => talk.id %>
              <% end %>
            </td>
            <td>&nbsp;</td>

        <% else %>
            <td>
              <%= link_to_unless talk.accepted?, 'Accept', :action => 'accept', :id => talk.id %>
            </td>
            <td>
              <%= link_to_unless talk.refused?, 'Reject', :action => 'refuse', :id => talk.id %>
            </td>
            <td>
              <%= link_to_unless talk.pending?, 'Await', :action => 'await', :id => talk.id %>
            </td>
            <td>
              <% if talk.speakers_confirmed? %>
                  <%= link_to 'Cancel', :action => 'unconfirm', :id => talk.id %>
              <% else %>
                  <%= link_to_if talk.accepted?, 'Confirm', :action => 'confirm', :id => talk.id %>
              <% end %>
            </td>
            <td>
              <%= link_to_unless talk.email_sent?, 'Send mail', :action => 'send_mail', :id => talk.id %>
            </td>
						<td>
              <%= link_to_unless talk.could_not_attend?, 'Could not attend', :action => 'could_not_attend', :id => talk.id %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>