<% form_for(@slot) do |f| %>
    <% if @slot.errors %>
        <ul>
          <% @slot.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :room %><br />
      <%= f.select :room, @rooms %>
    </div>

    <div class="form-group">
      <%= f.label :period %><br />

      <%= f.collection_select :period_id, @periods, :id, :to_s %>
    </div>

    <div class="form-group">
      <%= f.label :talk %><br />
      <%= f.collection_select :talk_id, @talks, :id, :title %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Save' %>
      <%= link_to 'Back', slots_path, class: 'btn' %>
    </div>
<% end %>
