<h1>Listing slots</h1>


<% for day in @days.keys %>

    <h2><%= day.strftime('%a') %></h2>

    <table>
      <% for period in @days[day] %>
          <tr>
            <td><%= h period.start_time.strftime('%H:%M') %> - <%= h period.end_time.strftime('%H:%M') %></td>
            <% for slot in period.slots %>
                <td><%= slot.talk.title %> <br /> <span class="small"><%= slot.room %></span></td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>
<br/>

<%= link_to 'New slot', new_slot_path %>