<h1>Program builder (tm)</h1>


<% @days.keys.each do |day|
  periods_for_day = @days[day]
%>


    <h2><%= day.strftime('%a') %></h2>

    <table class="program-editor table table-striped">
      <tr>
        <th></th>
        <% @rooms.each do |room| %>
            <th style="border: 1px solid black; padding: 5px">
              <%= room.name %>
              <small>(<%= room.capacity %>)</small>
            </th>
        <% end %>
      </tr>
      <% periods_for_day.each do |period| %>
          <tr>
            <th>
              <%= period.start_and_end_time %> <br>
              <small><%= period.period_type.humanize %></small>
            </th>

            <% @rooms.each do |room| %>
                <% if period.period_type == "lightning" %>
                    <td>
                      <table>
                        <% (1..4).each do |position| %>
                            <tr>
                              <% talk = period.talk_in(room, position) %>
                              <td class="acceptance-status <%= talk.try(:status) %>">
                                <% if talk %>
                                    <%= link_to talk.title, talk %>
                                    <% if talk.max_participants %>
                                        <small>(cap: <%= talk.max_participants %>)</small>
                                        <br/>
                                    <% end %>
                                    <small><%= link_to '[Remove]', period.slot_in(room), confirm: 'Are you sure?', method: :delete, class: 'action' %></small>
                                <% else %>
                                    None <br/>
                                    <small><%= link_to '[Assign]', new_slot_url(slot: { room_id: room.id, period_id: period.id },  position: position), class: 'action' %></small>
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                      </table>
                    </td>
                <% else %>

                    <% talk = period.talk_in(room) %>
                    <td class="acceptance-status <%= talk.try(:status) %>">
                      <% if talk %>
                          <%= link_to talk.title, talk %>
                          <% if talk.max_participants %>
                              <small>(cap: <%= talk.max_participants %>)</small>
                              <br/>
                          <% end %>
                          <small><%= link_to '[Remove]', period.slot_in(room), confirm: 'Are you sure?', method: :delete, class: 'action' %></small>
                      <% else %>
                          None <br/>
                          <small><%= link_to '[Assign]', new_slot_url(slot: { room_id: room.id, period_id: period.id }), class: 'action' %></small>
                      <% end %>
                    </td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>