<h1>Listing slots</h1>


<% @days.keys.each do |day|
  periods_for_day = @days[day]
%>


    <h2><%= day.strftime('%a') %></h2>

    <table style="border: 1px solid black; padding: 5px">
      <tr>
        <th></th>
        <% @rooms.each do |room| %>
            <th style="border: 1px solid black; padding: 5px">
              <%= room.name %>
            </th>
        <% end %>
      </tr>
      <% periods_for_day.each do |period| %>
          <tr>
            <th style="border: 1px solid black; padding: 5px">
              <%= h period.start_time.strftime('%H:%M') %> - <%= h period.end_time.strftime('%H:%M') %>
            </th>

            <% @rooms.each do |room| %>
                <td style="border: 1px solid black; padding: 5px">
                  <%=
                      talk = period.talk_in(room)
                      if talk
                        link_to talk.title, talk
                      else
                        link_to 'Assign talk here', new_slot_url(slot: { room_id: room.id, period_id: period.id })
                      end
                  %>
                </td>
            <% end %>

          </tr>
      <% end %>
    </table>
<% end %>
<br/>

<%= link_to 'New slot', new_slot_path %>