<h1>Program builder (tm)</h1>


<% @days.keys.each do |day|
  periods_for_day = @days[day]
%>


    <h2><%= day.strftime('%a') %></h2>

    <table class="program-editor">
      <tr>
        <th></th>
        <% @rooms.each do |room| %>
            <th style="border: 1px solid black; padding: 5px">
              <%= room.name %>
            </th>
        <% end %>
      </tr>
      <% periods_for_day.each do |period| %>
          <tr>
            <th>
              <%= period.start_time.strftime('%H:%M') %> - <%= period.end_time.strftime('%H:%M') %>
            </th>

            <% @rooms.each do |room| %>
                <td>
                  <%
                     talk = period.talk_in(room)
                     slot = period.slot_in(room)
                     if talk
                  %>
                      <%= link_to talk.title, talk %> <br />
                      <%= link_to '[Remove]', slot, confirm: 'Are you sure?', method: :delete, class: 'action' %>
                  <% else %>
                      None <br />
                      <%= link_to '[Assign]', new_slot_url(slot: { room_id: room.id, period_id: period.id }), class: 'action' %>
                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>