<article class="inner">
<div class="row">
  <div class="span12">

    <%= render :partial => 'steps', :locals => {:active_id => "start"} %>

    <h2>SHORT TALKS</h2>
    <p>
      We have <strong>only eight</strong> slots for what we call <strong>short talks</strong>, a 30 minute exploration of a subject. We reserve these for experience reports and other story-telling type talks. If you want to talk about a technology, a methodology, a technique or a tool we would <i class="fa fa-heart" style="color: red"></i> it if you manage to turn it into a workshop instead. Remember, people <strong>learn more by doing!</strong> There is a <strong>high barrier to be considered for a short talk. If you are unsure that your short talk is excellent, you want to submit either a lightning talk or a workshop.</strong>
    </p>

    <h3>Who are you?</h3>

    <p>
      Please start by telling us a little about yourself.

    </p>
      <%= form_for @user, :url => '/register_short_talk/create_user' do |f| %>

        <%= render :partial => 'users/personal_details', :locals => {:f => f} %>
        <%= render :partial => 'users/roles', :locals => {:f => f} %>
<%#= render :partial => 'users/confirmations', :locals => {:f => f} %>

        <%= render :partial => 'users/passwords', :locals => {:f => f} %>

        <div class="clearfix">&nbsp;</div>

        <div class="form-actions">
          <%= f.submit "Next", :class => "btn btn-primary" %>
        </div>

    <% end %>
  </div>
</div>
</article>
