<%= form_for :comment, :url => talk_comments_path(@talk, :anchor => 'new_comment') do |f| %>

    <% @comment.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>

    <p><%= f.label :title, "Title" %> <%= f.text_field :title, :class => 'input-xlarge' %></p>
    <p><%= f.text_area :description, :rows => 5, :class => 'input-xlarge'  %></p>
    <p><%= f.submit "Submit comment", :class => 'btn btn-primary' %></p>
<% end %>
