<script>
    function removeLine(id) {
        $.post(
                "<%= invoice_path(@invoice) + "/remove_line" %>",
                {
                    invoice_line_id: id
                },
                function (data) {
                    var tr = $("tr[data-invoice-line-id=" + data.id + "]");
                    tr.hide(500, function () {tr.remove()});
                }
        );
    }

    function addUser() {
        var id = $("#add-user").val();
        $.post(
                "<%= invoice_path(@invoice) + "/add_user" %>",
                {
                    user_id: id
                },
                function (data) {
                    $("#users tr:first").after(
                            '<tr data-invoice-line-id="' + data.id + '">' +
                            '<td>' + data.text + '</td>' +
                            '<td>' + data.price + '</td>' +
                            '<td><a href="javascript:removeLine(' + data.id + ')">remove</a></td>' +
                            '</tr>');
                    $("#add-user")[0].selectize.clear();
                }
        ).error(function () {
                    $.notify("This user is already added", "error");
                });

        return false;
    }

    $(document).ready(function () {
        $('#add-user').selectize({
            sortField: 'text',
            allowEmptyOption: true
        });

        $("#add-user-button").click(function (e) {
            e.preventDefault();
            addUser();
        });
    });


</script>
<%= form_for(@invoice) do |f| %>
    <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
            <% @invoice.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>Status: <%= @invoice.status.humanize %></p>

    <label for="recipient_name">Recipient name</label>
    <%= f.text_field :recipient_name %>

    <label for="address">Snail mail address</label>
    <%= f.text_area :adress, rows: 5 %>

    <label for="email">Email address</label>
    <%= f.text_field :email %>

    <legend>Details:</legend>
    <select id="add-user">
      <option value="">Select or search</option>
      <%= options_for_select(@users) %>
    </select>
    <button id="add-user-button">Add user by id</button>
    <table class="table table-striped" id="users">
      <tr>
        <th>Text</th>
        <th>Price</th>
        <th>&nbsp;</th>
      </tr>
      <% @invoice.invoice_lines.each do |line| %>
          <tr data-invoice-line-id="<%= line.id %>">
            <td><%= line.text %></td>
            <td><%= line.price %></td>
            <td><a href="javascript:removeLine(<%= line.id %>)">remove</a></td>
          </tr>
      <% end %>
    </table>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
