<article class="inner">
  <div class="header-join">
<h2>Invoices</h2>
</div>

<table class="table table-striped">
  <tr>
    <th>Recipient</th>
    <th>Delivery</th>
    <th>Address</th>
    <th>Total</th>
    <th>Created</th>
    <th>Invoiced</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.recipient_name %></td>
        <td><%= invoice.delivery_method.humanize %></td>
        <td><%= invoice.delivery_method == 'email' ? invoice.email : invoice.adress %></td>
        <td><%= invoice.total %></td>
        <td><%= time_ago_in_words(invoice.created_at) %> ago</td>
        <td><%= time_ago_in_words(invoice.invoiced_at) + ' ago' if invoice.invoiced_at.present? %></td>
        <td><%= invoice.status.humanize %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td>
          <% if invoice.possible_to_change? %>
              <%= link_to 'Edit', edit_invoice_path(invoice) %>
          <% end %>
        </td>
        <td>
          <% if invoice.possible_to_change? %>
              <%= link_to 'Mark as invoiced', invoiced_invoice_path(invoice), confirm: 'Mark as invoiced?', method: :post %>
          <% end %>
          <% if invoice.unpaid? %>
              <%= link_to 'Mark as paid', paid_invoice_path(invoice), confirm: 'Mark as paid?', method: :post %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<p>
<%= link_to 'New Invoice', new_invoice_path %>
</p>
</article>