<h2>Invoices</h2>

<table class="table table-striped">
  <tr>
    <th>Recipient</th>
    <th>Delivery</th>
    <th>Address</th>
    <th>Total</th>
    <th>Created</th>
    <th>Invoiced</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

  <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.recipient_name %></td>
        <td><%= invoice.delivery_method %></td>
        <td><%= invoice.delivery_method == 'email' ? invoice.email : invoice.adress %></td>
        <td><%= invoice.total %></td>
        <td><%= time_ago_in_words(invoice.created_at) %> ago</td>
        <td><%= time_ago_in_words(invoice.invoiced_at) + ' ago' if invoice.invoiced_at.present? %></td>
        <td><%= invoice.status %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td>
          <% if invoice.is_possible_to_change? %>
              <%= link_to 'Edit', edit_invoice_path(invoice) %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Invoice', new_invoice_path %>
