<p id="notice"><%= notice %></p>

<h2>Invoice</h2>

<legend>Recipient:</legend>
<p><%= @invoice.recipient_name %></p>
<p><%= @invoice.delivery_method == 'email' ? @invoice.email : @invoice.adress %></p>
<legend>Total (ex. MVA):</legend><p><%= @invoice.total %></p>

<legend>Registrations (<%= @invoice.registrations.size %>):</legend>

<table class="table table-striped">
  <tr>
  	<th>Name</th>
  	<th>Email</th>
  	<th>Ticket type</th>
  	<th>Price</th>
  </tr>
  <% @invoice.registrations.each do |registration| %>
  	<tr>
  		<td><%= registration.user.name %></td>
  		<td><%= registration.user.email %></td>
  		<td><%= registration.ticket_type_old %></td>
  		<td><%= registration.price %></td>
  	</tr>
  <% end %>
</table>
