<p id="notice"><%= notice %></p>

<h2>Invoice</h2>

<legend>Id:</legend><p><%= @invoice.id %></p>

<h3>Tickets in invoice (<%= @invoice.registrations.size %>)</h3>

  <% @invoice.registrations.each do |registration| %>
  	<br/><%= registration.user.name %> (<%= registration.user.email %>)
  <% end %>

