<p id="notice"><%= notice %></p>

<h2>Invoice</h2>

<legend>Recipient:</legend>
<p><%= @invoice.recipient_name %></p>
<p><%= @invoice.delivery_method == 'email' ? @invoice.email : @invoice.adress %></p>
<legend>Total (ex. MVA):</legend><p><%= @invoice.total %></p>

<legend>Lines (<%= @invoice.invoice_lines.size %>):</legend>

<table class="table table-striped">
  <tr>
  	<th>Text</th>
  	<th>Price</th>
  </tr>
  <% @invoice.invoice_lines.each do |line| %>
  	<tr>
  		<td><%= line.text %></td>
  		<td><%= line.price %></td>
  	</tr>
  <% end %>
</table>
