<h2> Admin resources </h2>

<ul>

  <li><%= link_to 'Users', registrations_path %></li>
  <li><%= link_to 'Talks', talks_path %></li>
  <li><%= link_to 'Sponsors', sponsors_path %></li>
  <li><%= link_to 'Acceptances', acceptances_path %></li>
  <li><%= link_to 'Register an invited speaker', new_user_path(:invited => "true") %></li>
  <li><%= link_to 'Create a skeleton user', new_skeleton_user_path %></li>

  <!--
  <li><%#= #link_to 'Invitees', :controller => 'invitees', :action => 'index' %></li>
  <li><%#= #link_to 'Acceptances', :controller => 'acceptances', :action => 'index' %></li>
  <li><%#= #link_to 'Talk feedbacks', :controller => 'talk_feedbacks', :action => 'index' %></li>
  <li><%#= #link_to 'Periods', :controller => 'periods', :action => 'index' %></li>
  <li><%#= #link_to 'Slots', :controller => 'slots', :action => 'index' %></li>
  <li><%#= #link_to 'Ticket types', :controller => 'ticket_types', :action => 'index' %></li>
  <li><%#= #link_to 'Email addresses', :controller => 'emails', :action => 'index' %></li>
   -->
</ul>


<h3>Statistics</h3>
<!--
<ul>
    <li><%#= link_to "Number of participants per company", :controller => "statistics/users_by_company" %></li>
    <li><%#= link_to "Number of submitted speakers per company", :controller => "statistics/users_by_company", :filter => 'speakers' %></li>
    <li><%#= link_to "Number of accepted speakers per company", :controller => "statistics/users_by_company", :filter => 'accepted'%></li>
</ul>
-->