<article class="inner">
  <div class="header-join">
<h2> Admin resources </h2>
</div>

<ul>

  <li><%= link_to 'Users', registrations_path %></li>
  <li><%= link_to 'Talks', talks_path %></li>
  <li><%= link_to 'Partners', sponsors_path %></li>
  <li><%= link_to 'Ticket types', ticket_types_path %></li>
  <li><%= link_to 'Acceptances', acceptances_path %></li>
  <li><%= link_to 'Tickets', tickets_path %></li>
  <li><%= link_to 'Program builder', slots_path %></li>
  <li><%= link_to 'See all reviews', reviews_path %></li>
  <li><%= link_to 'Register an invited speaker', new_user_path(invited: true) %></li>
  <li><%= link_to 'Create a skeleton user', new_skeleton_user_path %></li>
  <li><%= link_to 'Download nametags', nametags_path(:format => 'pdf') %></li>
  <li><%= link_to 'Send dinner registration reminder email (NB! sends immediately!)', send_ticket_email_tickets_path %></li>
  <li><%= link_to 'Download all participant emails', download_emails_tickets_path(:format => 'csv') %></li>

  <!--
  <li><%#= #link_to 'Invitees', :controller => 'invitees', :action => 'index' %></li>
  <li><%#= #link_to 'Ticket types', :controller => 'ticket_types', :action => 'index' %></li>
  <li><%#= #link_to 'Email addresses', :controller => 'emails', :action => 'index' %></li>
   -->
</ul>


<h3>Statistics</h3>
<ul>
    <li><%= link_to 'Number of participants per company', users_by_company_statistics_path %></li>
    <li><%= link_to 'Number of submitted speakers per company', users_by_company_statistics_path(filter: 'speakers') %></li>
    <li><%= link_to 'Number of accepted speakers per company', users_by_company_statistics_path(filter: 'accepted') %></li>
</ul>
</article>