<h1>Editing period</h1>

<% form_for(@period) do |f| %>
    <% if @period.errors %>
        <ul>
          <% @period.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <p>
      <%= f.label :start_time %><br/>
      <%= f.time_select :start_time %>
    </p>

    <p>
      <%= f.label :end_time %><br/>
      <%= f.time_select :end_time %>
    </p>

    <p>
      <%= f.label :day %><br/>
      <%= f.date_select :day %>
    </p>

    <p>
      <%= f.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Show', @period %> |
<%= link_to 'Back', periods_path %>