<section class='period lightning-talk'>
  <header>
    <span class='location'><%= location %></span>
  </header>
  <div class='slot lightning-talk-slot'>
    <% talks.each do |talk| %>
        <div class='talk' data-talkid='<%= talk.id %>'>
          <h4><%= link_to talk.title, talk_path(talk.id) %></h4>
          <span class='author'><%= talk.speaker_name %></span>
          <div class='description'><%= talk.description %></div>
        </div>
    <% end %>
  </div>
</section>
