<section class='period lightning-talk'>
  <header>
    <span class='location'><%= location %></span>
  </header>
  <div class='slot lightning-talk-slot'>
    <% talks.each do |talk| %>
        <a class="single-talk" href="<%= talk_path(talk.id) %>">
          <div class='talk' data-talkid='<%= talk.id %>'>
            <h4><%= talk.title %></h4>
            <span class='author'><%= talk.speaker_name %></span>
            <% if admin? %>
                <h3>Vakt: Anders</h3>
                <% talk.volunteers.each do |volunteer| %>
                    <%= volunteer.first_name %>
                <% end %>
            <% end %>
          </div>
        </a>
    <% end %>
  </div>
</section>
