<div class="program-row row">
  <div class="span12">
    <section class="period">
      <header>
        <time class="time"><%= time %></time>
        <span class="location"><%= location %></span>
      </header>
      <a href="<%= talk_path(talk.id) %>">
        <div class="slot">
          <div class="plenary-type">
            <h4>Keynote: <%= talk.title %></h4>
            <span class='author'><%= talk.speaker_name %></span>
          </div>
        </div>
      </a>
    </section>
  </div>
</div>