<section class='period program-column'>
  <header>
    <span class='location'> <%= location %></span>
  </header>
  <div class='slot'>
    <% if talk %>
        <a href="<%= talk_path(talk.id) %>">
          <div class='talk' data-talkid='<%= talk.id %>'>
            <h5><%= talk.title %></h5>
            <span class='author'><%= talk.speaker_name %></span>

            <div class='description'><%= talk.description %></div>
            <span class='location-small'> Room: <%= location %></span>
          </div>
        </a>
    <% end %>
  </div>
</section>