<div class="group">
  <div class="program">

    <h2>Wednesday March 13</h2>

    <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>

    <%= render 'open_space_section', location: 'Dragefjellet', time: '09:00-09:15', title: 'Welcome from the organizers' %>
    <%= render 'plenary_section', location: 'Dragefjellet', time: '09:15-10:15', talk: @talks[507] %>

    <div class='program-row row'>
      <div class="span12 ">
        <header class='time'>10:30 - 11:15</header>
        <%= render 'lightning_talk_section', location: 'Dragefjellet', time: '10:30 - 11:15',
                   talks: [@talks[401], @talks[432], @talks[371], @talks[338]] %>
        <%= render 'lightning_talk_section', location: 'Teatergaten', time: '10:30 - 11:15',
                   talks: [@talks[344], @talks[353], @talks[451], @talks[404]] %>
        <%= render 'lightning_talk_section', location: 'Sydneshaugen', time: '10:30 - 11:15',
                   talks: [@talks[474], @talks[444], @talks[464], @talks[360]] %>
      </div>
    </div>

    <%= render 'break_section', location: 'Downstairs', time: '11:15-11:30', title: 'Coffee break' %>

    <div class='program-row row'>
      <div class="span12">
        <header class='time'>11:30 - 12:15</header>
        <%= render 'lightning_talk_section', location: 'Dragefjellet', time: '11:30 - 12:15',
                   talks: [@talks[489], @talks[374], @talks[388], @talks[503]] %>
        <%= render 'lightning_talk_section', location: 'Teatergaten', time: '11:30 - 12:15',
                   talks: [@talks[460], @talks[473], @talks[453], @talks[433]] %>
        <%= render 'lightning_talk_section', location: 'Sydneshaugen', time: '11:30 - 12:15',
                   talks: [@talks[337], @talks[420], @talks[486], @talks[457]] %>
      </div>
    </div>

    <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

    <div class='program-row row'>
      <div class="workshop-slot span12">
        <% period = @periods.pop %>
        <header class='time'><%= period.start_and_end_time %></header>
        <% period.slots.each do |slot| %>
            <%= render 'workshop_section_8', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk %>
        <% end %>
      </div>
    </div>

    <%= render 'break_section', location: 'Downstairs', time: '15:00-15:15', title: 'Coffee break' %>

    <div class='program-row row'>
      <div class="workshop-slot span12">
        <% period = @periods.pop %>
        <header class='time'><%= period.start_and_end_time %></header>
        <% period.slots.each do |slot| %>
            <%= render 'workshop_section_8', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk %>
        <% end %>
      </div>
    </div>

    <%= render 'break_section', location: 'Galleri Nygaten', time: '19:00-00:00', title: 'Conference dinner' %>

    <h2>Thursday March 14</h2>

    <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>

    <div class='program-row row'>
      <div class="workshop-slot span12">
        <% period = @periods.pop %>
        <header class='time'><%= period.start_and_end_time %></header>
        <% period.slots.each do |slot| %>
            <%= render 'workshop_section_8', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk %>
        <% end %>
      </div>
    </div>

    <%= render 'break_section', location: 'Downstairs', time: '10:30-10:45', title: 'Coffee break' %>

    <div class='program-row row'>
      <div class="workshop-slot span12">
        <% period = @periods.pop %>
        <header class='time'><%= period.start_and_end_time %></header>
        <% period.slots.each do |slot| %>
            <%= render 'workshop_section_8', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk %>
        <% end %>
      </div>
    </div>

    <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

    <%= render 'open_space_section', location: 'Dragefjellet', time: '13:30-14:00', title: 'Introduction to open spaces' %>
    <%= render 'open_space_section', location: 'Dragefjellet and more', time: '14:00-14:45', title: 'Open spaces 1' %>
    <%= render 'open_space_section', location: 'Dragefjellet and more', time: '14:45-15:30', title: 'Open spaces 2' %>

    <%= render 'open_space_section', location: 'TBA', time: '18:00-01:00', title: 'Geek beer/Community night' %>

    <h2>Friday March 15</h2>

    <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>

    <div class='program-row row'>
      <div class="workshop-slot span12">
        <% period = @periods.pop %>
        <header class='time'><%= period.start_and_end_time %></header>
        <% period.slots.each do |slot| %>
            <%= render 'workshop_section_8', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk %>
        <% end %>
      </div>
    </div>

    <%= render 'break_section', location: 'Downstairs', time: '10:30-10:45', title: 'Coffee break' %>

    <div class='program-row row'>
      <div class="workshop-slot span12">
        <% period = @periods.pop %>
        <header class='time'><%= period.start_and_end_time %></header>
        <% period.slots.each do |slot| %>
            <%= render 'workshop_section_8', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk %>
        <% end %>
      </div>
    </div>

    <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

    <div class='program-row row'>
      <div class="workshop-slot span12">
        <% period = @periods.pop %>
        <header class='time'><%= period.start_and_end_time %></header>
        <% period.slots.each do |slot| %>
            <%= render 'workshop_section_8', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk %>
        <% end %>
      </div>
    </div>

    <%= render 'break_section', location: 'Downstairs', time: '15:00-15:15', title: 'Coffee break' %>

    <%= render 'plenary_section', location: 'Dragefjellet', time: '15:15-16:15', talk: @talks[497] %>
    <%= render 'open_space_section', location: 'Dragefjellet', time: '16:15-16:30', title: 'See you next year' %>
  </div>
</div>
