<div class="program">

  <div class="program-row row">
    <div class="span12">
      <h2>Wednesday March 13</h2>
      <section class="period">
        <header>
          <span class="location">Dragefjellet</span>
          <time class="time">09:00 - 09:15</time>
        </header>
        <div class="slot">
          <div class="pause">
            <h3>Welcome!</h3>
            <span class="author">From the organizers</span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="program-row row">
    <div class="span12">
      <section class="period">
        <header>
          <span class="location">Dragefjellet</span>
          <time class="time">09:15-10:15</time>
        </header>
        <div class="slot">
          <div class="talk">
            <h3>Opening keynote: UX stuff</h3>
            <span class="author">Jonas Söderström</span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class='program-row row'>
    <div class="span12 ">
      <%= render 'lightning_talk_section', location: 'Dragefjellet', time: '10:30 - 11:15',
                 talks: [@talks[125], @talks[161], @talks[183], @talks[176]] %>
      <%= render 'lightning_talk_section', location: 'Sydneshaugen', time: '10:30 - 11:15',
                 talks: [@talks[184], @talks[170], @talks[177], @talks[126]] %>
      <%= render 'lightning_talk_section', location: 'Muséplass', time: '10:30 - 11:15',
                 talks: [@talks[148], @talks[124], @talks[166], @talks[129]] %>
    </div>
  </div>

  <div class="program-row row">
    <div class="span12">
      <section class="period">
        <header>
          <span class="location">Downstairs</span>
          <time class="time">11:15 - 11:30</time>
        </header>
        <div class="slot">
          <div class="pause">
            <h3>Coffee break</h3>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class='program-row row'>
    <div class="span12">
      <%= render 'lightning_talk_section', location: 'Dragefjellet', time: '11:30 - 12:15',
                 talks: [@talks[171], @talks[162], @talks[144], @talks[179]] %>
      <%= render 'lightning_talk_section', location: 'Sydneshaugen', time: '11:30 - 12:15',
                 talks: [@talks[104], @talks[123], @talks[168], @talks[186]] %>
      <%= render 'lightning_talk_section', location: 'Muséplass', time: '11:30 - 12:15',
                 talks: [@talks[160], @talks[141], @talks[174], @talks[114]] %>
    </div>
  </div>

  <div class="program-row row">
    <div class="span12">
      <section class="period">
        <header>
          <span class="location">Restaurant</span>
          <time class="time">12:00 - 13:00</time>
        </header>
        <div class="slot">
          <div class="pause">
            <h3>Lunch</h3>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class='program-row row'>
    <div class="workshop-slot span12">
      <header class='time'>13:00 - 14:30</header>
      <%= render 'workshop_section', location: 'Dragefjellet', time: '13:30-15:00', talk: @talks[138] %>
      <%= render 'workshop_section', location: 'Sydneshaugen', time: '13:30-15:00', talk: @talks[156] %>
      <%= render 'workshop_section', location: 'Muséplass', time: '13:30-15:00', talk: @talks[151] %>
      <%= render 'workshop_section', location: 'Hødden', time: '13:30-15:00', talk: @talks[188] %>
      <%= render 'workshop_section', location: 'Trangesmauget', time: '13:30-15:00', talk: @talks[191] %>
      <%= render 'workshop_section', location: 'Teatergaten', time: '13:30-15:00', talk: @talks[111] %>
      <%= render 'workshop_section', location: 'Tårnplass', time: '13:30-15:00', talk: @talks[155] %>
    </div>
  </div>


  <div class="program-row row">
    <div class="span12">
      <section class="period">
        <header>
          <span class="location">Downstairs</span>
          <time class="time">15:00-15:30</time>
        </header>
        <div class="slot">
          <div class="pause">
            <h3>Coffee break</h3>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class='program-row row'>
    <div class="workshop-slot span12">
      <header class='time'>15:30-17:00</header>
      <%= render 'workshop_section', location: 'Dragefjellet', time: '13:30 - 15:00', talk: @talks[138] %>
      <%= render 'workshop_section', location: 'Sydneshaugen', time: '13:30 - 15:00', talk: @talks[156] %>
      <%= render 'workshop_section', location: 'Muséplass', time: '13:30 - 15:00', talk: @talks[151] %>
      <%= render 'workshop_section', location: 'Hødden', time: '13:30 - 15:00', talk: @talks[188] %>
      <%= render 'workshop_section', location: 'Trangesmauget', time: '13:30 - 15:00', talk: @talks[191] %>
      <%= render 'workshop_section', location: 'Teatergaten', time: '13:30 - 15:00', talk: @talks[111] %>
      <%= render 'workshop_section', location: 'Tårnplass', time: '13:30 - 15:00', talk: @talks[155] %>
    </div>
  </div>
</div>