<div class="program">

  <div class="program-row row">
    <div class="span12">
      <h2>Wednesday March 13</h2>
      <section class="period">
        <header>
          <span class="location">Dragefjellet</span>
          <time class="time">09:00 - 09:15</time>
        </header>
        <div class="slot">
          <div class="pause">
            <h3>Welcome!</h3>
            <span class="author">From the organizers</span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="program-row row">
    <div class="span12">
      <section class="period">
        <header>
          <span class="location">Dragefjellet</span>
          <time class="time">09:15-10:15</time>
        </header>
        <div class="slot">
          <div class="talk">
            <h3>Opening keynote: UX stuff</h3>
            <span class="author">Jonas Söderström</span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class='program-row row'>
    <div class="span12">
      <%= render 'lightning_talk_section', location: 'Dragefjellet', time: '10:30 - 11:15',
                 talks: [@talks[1], @talks[2], @talks[3], @talks[4]] %>
      <%= render 'lightning_talk_section', location: 'Sydneshaugen', time: '10:30 - 11:15',
                 talks: [@talks[1], @talks[2], @talks[3], @talks[4]] %>
      <%= render 'lightning_talk_section', location: 'Muséplass', time: '10:30 - 11:15',
                 talks: [@talks[1], @talks[2], @talks[3], @talks[4]] %>
    </div>
  </div>

  <div class="program-row row">
    <div class="span12">
      <section class="period">
        <header>
          <span class="location">Downstairs</span>
          <time class="time">11:15 - 11:30</time>
        </header>
        <div class="slot">
          <div class="pause">
            <h3>Coffee break</h3>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class='program-row row'>
    <div class="span12">
      <%= render 'lightning_talk_section', location: 'Dragefjellet', time: '11:30 - 121:15',
                 talks: [@talks[1], @talks[2], @talks[3], @talks[4]] %>
      <%= render 'lightning_talk_section', location: 'Sydneshaugen', time: '11:30 - 12:15',
                 talks: [@talks[1], @talks[2], @talks[3], @talks[4]] %>
      <%= render 'lightning_talk_section', location: 'Muséplass', time: '11:30 - 12:15',
                 talks: [@talks[1], @talks[2], @talks[3], @talks[4]] %>
    </div>
  </div>

  <div class="program-row row">
    <div class="span12">
      <section class="period">
        <header>
          <span class="location">Restaurant</span>
          <time class="time">12:00 - 13:00</time>
        </header>
        <div class="slot">
          <div class="pause">
            <h3>Lunch</h3>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class='program-row row'>
    <div class="span12">
      <header class='time'>13:00 - 14:30</header>
      <%=  render 'workshop_section', location: 'Dragefjellet', time: '13:00 - 14:30', talk: @talks[1] %>
      <%=  render 'workshop_section', location: 'Sydneshaugen', time: '13:00 - 14:30', talk: @talks[2] %>
      <%=  render 'workshop_section', location: 'Muséplass', time: '13:00 - 14:30', talk: @talks[3] %>
      <%=  render 'workshop_section', location: 'Hødden', time: '13:00 - 14:30', talk: @talks[4] %>
      <%=  render 'workshop_section', location: 'Trangesmauget', time: '13:00 - 14:30', talk: @talks[1] %>
      <%=  render 'workshop_section', location: 'Teatergaten', time: '13:00 - 14:30', talk: @talks[2] %>
      <%=  render 'workshop_section', location: 'Tårnplass', time: '13:00 - 14:30', talk: @talks[3] %>
    </div>
  </div>
</div>