<div class="program">

  <h2>Schedule</h2>

  <table>
    <tr>
      <th colspan="3">
        Wednesday March 12th
      </thd>
    </tr>
    <tr class="odd">
      <td class="time">08:00</td>
      <td class="what">Registration</td>
      <td class="location">Reception </td>
    </tr>
    <tr class="even">
      <td class="time">09:00</td>
      <td class="what">Welcome from the organizers</td>
      <td class="location">Dragefjellet</td>
    </tr>
    <tr class="odd">
      <td class="time">09:15</td>
      <td class="what">
        <span class="meta">Opening keynote</span>
        <% talk = @talks[AppConfig.opening_keynote] %>
        <a href="<%= talk_path(talk.id) %>"><%= talk.speaker_name %>: <%= talk.title %></a>
      </td>
      <td class="location">Dragefjellet</td>
    </tr>
    <tr class="even">
      <td class="time">10:15</td>
      <td class="what">Coffee break</td>
      <td class="location"></td>
    </tr>
    <tr class="odd">
      <td class="time">10:30</td>
      <td class="what"><a href="/program/lightning#1">Lightning talks I</a></td>
      <td class="location"></td>
    </tr>
    <tr class="even">
      <td class="time">11:15</td>
      <td class="what">Coffee break</td>
      <td class="location"></td>
    </tr> 
    <tr class="odd">
      <td class="time">11:30</td>
      <td class="what"><a href="/program/lightning#2">Lightning talks II</a></td>
      <td class="location"></td>
    </tr>
    <tr class="even">
      <td class="time">12:15</td>
      <td class="what">Lunch</td>
      <td class="location"></td>
    </tr> 
    <tr class="odd">
      <td class="time">13:30</td>
      <td class="what">
        <a href="/program/workshops?day=Wednesday%2013:30">Workshops</a>
      </td>
      <td class="location"></td>
    </tr> 
    <tr class="even">
      <td class="time">15:00</td>
      <td class="what">Coffee break</td>
      <td class="location"></td>
    </tr> 
    <tr class="odd">
      <td class="time">15:15</td>
      <td class="what">
        <a href="/program/workshops?day=Wednesday%2015:15">Workshops</a>
      </td>
      <td class="location"></td>
    </tr> 
    <tr class="even">
      <td class="time">19:00</td>
      <td class="what"><a href="/info/conference_dinner">Conference dinner</a></td>
      <td class="location"></td>
    </tr>
    <tr>
      <th colspan="3">
        Thursday March 13th
      </th>
    </tr>
    <tr class="odd">
      <td class="time">08:00</td>
      <td class="what">Registration</td>
      <td class="location">Reception </td>
    </tr>
    <tr class="even">
      <td class="time">09:00</td>
      <td class="what">
        <a href="/program/workshops?day=Thursday%2009:00">Workshops</a>
      </td>
      <td class="location"></td>
    </tr>
    <tr class="odd">
      <td class="time">10:30</td>
      <td class="what">Coffee break</td>
      <td class="location"></td>
    </tr>
    <tr class="even">
      <td class="time">10:45</td>
      <td class="what">
        <a href="/program/workshops?day=Thursday%2010:45">Workshops</a>
      </td>
      <td class="location"></td>
    </tr>
    <tr class="odd">
      <td class="time">12:15</td>
      <td class="what">Lunch</td>
      <td class="location"></td>
    </tr> 
    <tr class="even">
      <td class="time">13:30</td>
      <td><a href="/info/openspaces">Open spaces I</td>
      <td class="location"></td>
    </tr> 
    <tr class="odd">
      <td class="time">15:10</td>
      <td class="what">Coffee break</td>
      <td class="location"></td>
    </tr> 
    <tr class="even">
      <td class="time">15:30</td>
      <td class="what"><a href="/info/openspaces">Open spaces II</td>
      <td class="location"></td>
    </tr> 
    <tr class="odd">
      <td class="time">18:00</td>
      <td class="what"><a href="/info/fishbowl">NNUG Fishbowl event</a></td>
      <td class="location"></td>
    </tr>
    <tr>
      <th colspan="3">
        Friday March 14th
      </th>
    </tr>
    <tr class="odd">
      <td class="time">08:00</td>
      <td class="what">Registration</td>
      <td class="location">Reception </td>
    </tr>
    <tr class="even">
      <td class="time">09:00</td>
      <td class="what">
        <a href="/program/workshops?day=Friday%2009:00">Workshops</a>
      </td>
      <td class="location"></td>
    </tr>
    <tr class="odd">
      <td class="time">10:30</td>
      <td class="what">Coffee break</td>
      <td class="location"></td>
    </tr>
    <tr class="even">
      <td class="time">10:45</td>
      <td class="what">
        <a href="/program/workshops?day=Friday%2010:45">Workshops</a>
      </td>
      <td class="location"></td>
    </tr>
    <tr class="odd">
      <td class="time">12:15</td>
      <td class="what">Lunch</td>
      <td class="location"></td>
    </tr> 
    <tr class="even">
      <td class="time">13:30</td>
      <td class="what">
        <a href="/program/workshops?day=Friday%2013:30">Workshops</a>
      </td>
      <td class="location"></td>
    </tr> 
    <tr class="odd">
      <td class="time">15:00</td>
      <td class="what">Coffee break</td>
      <td class="location"></td>
    </tr> 
    <tr class="even">
      <td class="time">15:15</td>
      <td class="what">
        <span class="meta">Closing keynote</span>
        <% talk = @talks[AppConfig.closing_keynote] %>
        <a href="<%= talk_path(talk.id) %>"><%= talk.speaker_name %>: <%= talk.title %></a>
      </td>
      <td class="location">Dragefjellet</td>
    </tr> 
    <tr class="odd">
      <td class="time">16:15</td>
      <td class="what">Thank you for coming, see you next year!</td>
      <td class="location">Dragefjellet</td>
    </tr>
  </table>

</div>