<div class="group">
  <div class="header-join">
    <ul class="nav nav-tabs">
      <li role="presentation" class="nav-item">
        <a class="nav-link white" id="choose-day1" href="#day1" aria-controls="choose-day1" role="tab">Wed</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link white" id="choose-day2" href="#day2" aria-controls="choose-day2" role="tab">Thu</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link white" id="choose-day3" href="#day3" aria-controls="choose-day3" role="tab">Fri</a>
      </li>
      <li role="presentation" class="nav-item">
        <a class="nav-link white" id="choose-all" href="#" aria-controls="choose-all" role="tab">All</a>
      </li>
    </ul>
  </div>

  <div class="program">

    <div id="day1">
      <h2>Wednesday</h2>

      <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>
      <%= render 'open_space_section', location: 'Dragefjellet', time: '09:00-09:15', title: 'Welcome from the organizers' %>
      <%= render 'plenary_section', location: 'Dragefjellet', time: '09:15-10:15', talk: @talks[1364] %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Lightning talks</header>
        <div class="lightning-sections">
          <% period.slots.each do |slot| %>
            <%= render 'lightning_talk_section', location: slot.room.try(:name), time: period.start_and_end_time,
                       talks: slot.talk_positions.map(&:talk) %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Downstairs', time: '11:15-11:30', title: 'Coffee break' %>



      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Lightning talks</header>
        <div class="lightning-sections">
          <% period.slots.each do |slot| %>
            <%= render 'lightning_talk_section', location: slot.room.try(:name), time: period.start_and_end_time,
                       talks: slot.talk_positions.map(&:talk) %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Workshops</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Downstairs', time: '15:00-15:15', title: 'Coffee break' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Workshops</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <div class="program-row">
        <section class="period">
          <header class="break">
            <time class="time">19:00-00:00</time>
            <span class="location">Grand Selskapslokaler(<%= link_to "map", "https://goo.gl/maps/8kY8TnMHWRP2", target: "_new" %>
              )</span>
            <span>&mdash; Conference dinner</span>
          </header>
        </section>
      </div>
    </div>

    <div id="day2">
      <h2>Thursday</h2>

      <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Workshops</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Downstairs', time: '10:30-10:45', title: 'Coffee break' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Workshops</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

      <%= render 'open_space_section', location: 'Dragefjellet', time: '13:30-14:00', title: 'Introduction to open spaces' %>
      <%= render 'open_space_section', location: 'Dragefjellet and more', time: '14:00-14:45', title: 'Open spaces 1' %>
      <%= render 'open_space_section', location: 'Dragefjellet and more', time: '14:45-15:30', title: 'Open spaces 2' %>
      <%= render 'break_section', location: 'Downstairs', time: '15:30-15:45', title: 'Coffee break' %>
      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Short talks</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Downstairs', time: '16:15-16:30', title: 'Coffee break' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Short talks</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <!-- <%= render 'open_space_section', location: 'Dragefjellet', time: '20:00-01:00', title: 'Fishbowl / Community Night' %> -->
      <div class="program-row">
        <section class="period">
          <header class="break">
            <time class="time">19:00-00:00</time>
            <span class="location">Grand Hotel Terminus (<%= link_to "map", "https://www.google.com/maps/place/Grand+Hotel+Terminus/@60.3855722,5.3347115,14.5z/data=!4m5!3m4!1s0x0:0xc2191cbcc53f2cb4!8m2!3d60.3906762!4d5.3343569", target: "_new" %>
              )</span>
            <span>&mdash;
              Speaker's dinner</span>
          </header>
        </section>
      </div>
    </div>

    <div id="day3">
      <h2>Friday</h2>

      <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Workshops</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Downstairs', time: '10:30-10:45', title: 'Coffee break' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Workshops</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

      <div class='program-row'>
        <% period = @periods.pop %>
        <header class='time follow-me'><%= period.start_and_end_time %> - Workshops</header>
        <div class="workshop-slot">
          <% period.slots.each do |slot| %>
            <%= render 'workshop_section', location: slot.room.try(:name), time: period.start_and_end_time, talk: slot.talk, period: period %>
          <% end %>
        </div>
      </div>

      <%= render 'break_section', location: 'Downstairs', time: '15:00-15:15', title: 'Coffee break' %>

      <%= render 'plenary_section', location: 'Dragefjellet', time: '15:15-16:15', talk: @talks[1368] %>

      <%= render 'open_space_section', location: 'Dragefjellet', time: '16:15-16:30', title: 'See you next year' %>
    </div>
  </div>
</div>
