<div class="program">

  <h2>Wednesday March 13</h2>

  <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>
  <%= render 'break_section', location: 'Dragefjellet', time: '09:00-09:15', title: 'Welcome from the organizers' %>
  <%= render 'plenary_section', location: 'Dragefjellet', time: '09:15-10:15', talk: @talks[194] %>

  <div class='program-row row'>
    <div class="span12 ">
      <header class='time'>10:30 - 11:15</header>
      <%= render 'lightning_talk_section', location: 'Room: TBA', time: '10:30 - 11:15',
                 talks: [@talks[125], @talks[161], @talks[183], @talks[176]] %>
      <%= render 'lightning_talk_section', location: 'Room: TBA', time: '10:30 - 11:15',
                 talks: [@talks[184], @talks[170], @talks[177], @talks[126]] %>
      <%= render 'lightning_talk_section', location: 'Room: TBA', time: '10:30 - 11:15',
                 talks: [@talks[148], @talks[124], @talks[166], @talks[129]] %>
    </div>
  </div>

  <%= render 'break_section', location: 'Downstairs', time: '11:15-11:30', title: 'Coffee break' %>

  <div class='program-row row'>
    <div class="span12">
      <header class='time'>11:30 - 12:15</header>
      <%= render 'lightning_talk_section', location: 'Room: TBA', time: '11:30 - 12:15',
                 talks: [@talks[171], @talks[162], @talks[144], @talks[179]] %>
      <%= render 'lightning_talk_section', location: 'Room: TBA', time: '11:30 - 12:15',
                 talks: [@talks[104], @talks[123], @talks[168], @talks[186]] %>
      <%= render 'lightning_talk_section', location: 'Room: TBA', time: '11:30 - 12:15',
                 talks: [@talks[160], @talks[141], @talks[174], @talks[114]] %>
    </div>
  </div>

  <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

  <div class='program-row row'>
    <div class="workshop-slot span12">
      <header class='time'>13:30 - 15:00</header>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[138] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[156] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[193] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[188] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[191] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[111] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[155] %>
    </div>
  </div>

  <%= render 'break_section', location: 'Downstairs', time: '15:00-15:30', title: 'Coffee break' %>

  <div class='program-row row'>
    <div class="workshop-slot span12">
      <header class='time'>15:30-17:00</header>
      <%= render 'workshop_section', location: 'Room: TBA', time: '15:30-17:00', talk: @talks[138] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '15:30-17:00', talk: @talks[156] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '15:30-17:00', talk: @talks[193] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '15:30-17:00', talk: @talks[188] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '15:30-17:00', talk: @talks[191] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '15:30-17:00', talk: @talks[111] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '15:30-17:00', talk: @talks[159] %>
    </div>
  </div>

  <h2>Thursday March 14</h2>

    <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>

  <div class='program-row row'>
       <div class="workshop-slot span12">
         <header class='time'>09:00 - 10:30</header>
         <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[187] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[195] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[105] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[163] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[189] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[133] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[101] %>
       </div>
     </div>

  <%= render 'break_section', location: 'Downstairs', time: '10:30-10:45', title: 'Coffee break' %>

  <div class='program-row row'>
         <div class="workshop-slot span12">
           <header class='time'>10:45 - 12:15</header>
           <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[187] %>
           <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[195] %>
           <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[105] %>
           <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[163] %>
           <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[189] %>
           <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[133] %>
           <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[101] %>
         </div>
       </div>

  <%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

  <%= render 'break_section', location: 'Room: TBA', time: '13:30-14:00', title: 'Introduction to open spaces' %>
  <%= render 'break_section', location: 'Room: TBA', time: '14:00-14:45', title: 'Open spaces 1' %>
  <%= render 'break_section', location: 'Room: TBA', time: '15:45-15:30', title: 'Open spaces 2' %>
  <%= render 'break_section', location: 'Room: TBA', time: '21:00-01:00', title: 'Community night' %>

  <h2>Friday March 15</h2>


  <%= render 'break_section', location: 'Reception area', time: '08:00-09:00', title: 'Registration' %>

<div class='program-row row'>
     <div class="workshop-slot span12">
       <header class='time'>09:00 - 10:30</header>
       <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[190] %>
       <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[117] %>
       <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[151] %>
       <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[146] %>
       <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[169] %>
       <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[130] %>
       <%= render 'workshop_section', location: 'Room: TBA', time: '09:00-10:30', talk: @talks[195] %>
     </div>
   </div>

  <%= render 'break_section', location: 'Downstairs', time: '10:30-10:45', title: 'Coffee break' %>

<div class='program-row row'>
       <div class="workshop-slot span12">
         <header class='time'>10:45 - 12:15</header>
         <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[190] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[106] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[152] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[146] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[169] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[130] %>
         <%= render 'workshop_section', location: 'Room: TBA', time: '10:45-12:15', talk: @talks[192] %>
       </div>
     </div>

<%= render 'break_section', location: 'Restaurant', time: '12:15-13:30', title: 'Lunch' %>

<div class='program-row row'>
    <div class="workshop-slot span12">
      <header class='time'>13:30 - 15:00</header>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[190] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[145] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[157] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[149] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[169] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[130] %>
      <%= render 'workshop_section', location: 'Room: TBA', time: '13:30-15:00', talk: @talks[192] %>
    </div>
  </div>

  <%= render 'break_section', location: 'Downstairs', time: '15:00-15:15', title: 'Coffee break' %>
  <%= render 'plenary_section', location: 'Dragefjellet', time: '15:15-16:15', talk: @talks[196] %>
  <%= render 'break_section', location: 'Room: TBA', time: '16:15-16:30', title: 'See you next year' %>
</div>