<div class="program">
	<h2>Lightning talks</h2>
	<h3><a id="1">Wednesday March 12th 10:30</a></h3>
	<table >
		<tr>
			<th>Dragefjellet</th>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[282] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[201] %>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[226] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[289] %>
			</td>
		</tr>
		<tr>
			<th>Teatergaten</th>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[306] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[285] %>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[218] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[232] %>
			</td>
		</tr>
		<tr>
			<th>Muséplass</th>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[204] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[206] %>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[296] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[199] %>
			</td>
		</tr>
	</table>

	<h3><a id="2">Wednesday March 12th 11:30</a></h3>
	<table >
		<tr>
			<th>Dragefjellet</th>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[228] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[295] %>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[208] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[202] %>
			</td>
		</tr>
		<tr>
			<th>Teatergaten</th>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[213] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[293] %>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[304] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[237] %>
			</td>
		</tr>
		<tr>
			<th>Muséplass</th>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[297] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[287] %>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<%= render partial: "program/talk", object: @talks[288] %>
			</td>
		</tr>
		<tr class="even">
			<td>
				<%= render partial: "program/talk", object: @talks[313] %>
			</td>
		</tr>
	</table>
</div>