<div class="program">
	<h1>Workshops</h1>
	<h2><%= @day %></h2>
	<table >
		<% odd = true %>
		<% @talks.each do |talk| %>
			<tr class="<%= odd ? 'odd' : 'even' %>">
				<td>
					<a href="<%= talk_path(talk.id) %>">
            			<div class="title"><%= talk.title + (talk.starts_now?(@day) ? '': ' (continued)') %></div>
            			<span class='author'><%= talk.speaker_name %></span>
            			<div class="location">
            				Location: <%= talk.timeslot ? talk.timeslot.location : 'TBA' %>
            			</div>
            			<div class="type"><%= talk.talk_type.name %> - <%= talk.talk_type.duration %></div>
        			</a>
				</td>            
	    	</tr>
	    	<% odd = !odd %>
	    <% end %>
	</table>
</div>