<article class="inner">
  <div class="header-join">
<h2>Thank you for registering!</h2>
</div>
<p>
  We've now registered <%= @group_registration.tickets.count %> tickets for you. They have been assigned
  to the following
  email addresses:
</p>

<ul>
  <% @group_registration.tickets.each do |ticket| %>
      <li>
        <%= ticket.email %> (<%= ticket.ticket_type.name%> - NOK <%= ticket.ticket_type.price %>)
      </li>
  <% end %>
</ul>
<p><strong>This invoice has a total of NOK <%= @group_registration.tickets.inject(0) {|sum, t| sum + t.ticket_type.price } %>
  (excluding VAT).</strong></p>

<p>They have each have received an email confirming the registration.</p>

<p>We have also prepared an invoice that will be sent soon
  by <%= @group_registration.email.present? ? "email" : "snail mail" %>
  to the address
  <b><%= @group_registration.email.present? ? @group_registration.email : @group_registration.adress %></b>.
</p>
<p>
  <% if @group_registration.your_reference.present? %>
      Your reference is "<%= @group_registration.your_reference %>".
  <% end %>
  <% if @group_registration.text.present? %>
      The invoice text is "<%= @group_registration.text %>".
  <% end %>
</p>
</article>
