<h2>Group registration</h2>

<p class="alert-error"><%= flash[:error] %> </p>
<p>
  So, you have a whole bunch of people that you want to register for Booster? That's great! We can register several
  in one go and send you a collective invoice. The people you register will get separate emails with information
  about how to provide us with the rest of the information we need.
</p>

<%= form_for @group_registration, url: group_registrations_path do |f| %>

    <%= f.label :delivery_method, 'How do you want to receive the invoice?' %>
    <fieldset>
      <label class="radio">
        <%= f.radio_button :delivery_method, 'email' %>
        By email
      </label>
      <label class="radio">
        <%= f.radio_button :delivery_method, 'snail_mail' %>
        By snail mail
      </label>
    </fieldset>

    <div id="email">
      <%= f.label :email, 'Invoice email' %>
      <%= f.text_field :email, class: 'input-xlarge', type: 'email' %>
    </div>

    <div id="snail_mail">
      <%= f.label :adress, 'Invoice snail mail address' %>
      <%= f.text_area :adress, cols: 20, rows: 5 %>
    </div>

    <%= f.label :zip, "Zip code for the paying company" %>
    <%= f.text_field :zip, class: 'input-small', required: true %>

    <%= f.label :your_reference %>
    <%= f.text_field :your_reference, class: 'input-xlarge' %>

    <%= f.label :text, "Extra text needed on the invoice" %>
    <%= f.text_field :text, class: 'input-xlarge' %>

    <%= f.label :company %>
    <%= f.text_field :company, class: 'input-xlarge', placeholder: "Your company's name", required: true %>

    <%= f.label :emails %>
    <%= f.text_area :emails, cols: 20, rows: 5, :placeholder => 'me@company.com, you@company.com...', required: true %>

    <br/>
    <%= f.submit "Send me an invoice", :class => "btn btn-primary" %>

<% end %>

<% content_for :javascript do %>
    <script type="text/javascript">
      <% unless @group_registration.delivery_method %>
        $("#email").show();
        $("#snail_mail").hide();
        $("#group_registration_form_delivery_method_email").prop("checked", true);
      <% end %>

        $("#group_registration_form_delivery_method_email").click(function () {
            $("#email").show();
            $("#snail_mail").hide();
            $("#snail_mail textarea").val("");
        });

        $("#group_registration_form_delivery_method_snail_mail").click(function () {
            $("#email").hide();
            $("#email input").val("");
            $("#snail_mail").show();
        });

    </script>
<% end %>