<article class="inner">
  <div class="header-join">
    <h2>Group registration</h2>
  </div>

  <% if flash[:error] %>
      <div id='notifications'>
        <div class='alert alert-warning'><%= flash[:error] %></div>
      </div>
  <% end %>

  <p>
    So, you have a whole bunch of people that you want to register for Booster? That's great! We can register several
    in one go and send you a collective invoice. The people you register will get separate emails with information
    about how to provide us with the rest of the information we need.
  </p>

  <%= form_for @group_registration, url: group_registrations_path do |f| %>

      <div class='form-group'>
        <label>How do you want to receive the invoice?</label>

        <div class="btn-group">
          <button id='invoice_delivery_method_email' type="button" class="btn btn-primary active">By email</button>
          <button id='invoice_delivery_method_snail_mail' type="button" class="btn btn-primary">By snail mail</button>
          <%= f.hidden_field :delivery_method, value: 'email' %>
        </div>
      </div>

      <div id="email" class='form-group'>
        <%= f.label :email, 'Invoice email' %>
        <%= f.text_field :email, class: 'form-control', type: 'email' %>
      </div>

      <div id="snail_mail" class='form-group'>
        <%= f.label :adress, 'Invoice snail mail address' %>
        <%= f.text_area :adress, cols: 20, rows: 5, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :zip, "Zip code for the paying company" %>
        <%= f.text_field :zip, class: 'form-control', required: true %>
      </div>

      <div class='form-group'>
        <%= f.label :your_reference %>
        <%= f.text_field :your_reference, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :text, "Extra text needed on the invoice" %>
        <%= f.text_field :text, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :company %>
        <%= f.text_field :company, class: 'form-control', placeholder: "Your company's name", required: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :emails %>
        <%= f.text_area :emails, cols: 20, rows: 5, :placeholder => 'me@company.com, you@company.com...', required: true, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.submit "Send me an invoice", :class => "btn btn-primary" %>
      </div>
  <% end %>

  <% content_for :javascript do %>
      <script type="text/javascript">
          $("#email").show();
          $("#snail_mail").hide();

          $("#invoice_delivery_method_email").click(function () {
              $("#invoice_delivery_method_snail_mail").removeClass('active');
              $(this).addClass('active');
              $("#email").show();
              $("#snail_mail").hide();
              $("#snail_mail textarea").val("");
              $("#group_registration_form_delivery_method").val("email");
              console.log("delivery method email!")
          });

          $("#invoice_delivery_method_snail_mail").click(function () {
              $("#invoice_delivery_method_email").removeClass('active');
              $(this).addClass('active');
              $("#email").hide();
              $("#email input").val("");
              $("#snail_mail").show();
              $("#group_registration_form_delivery_method").val("snail_mail");
              console.log("delivery method snail mail!!")
          });
      </script>

  <% end %>
</article>
