<html>
<body><p>Hi,</p>

<p>
  <%= @primary_speaker.name %> (<%= @primary_speaker.email %>) just let us know that you'll be presenting
  "<%= @talk.title %>" together at the Booster
  conference. However, we need to know a little bit more about you. Please go to <%= link_to @create_user_url, 'here' %>
  and provide us with the information we need,
</p>

<p>
  If you think <%= @primary_speaker.name %> made a mistake when s/he added you to the workshop, we would really
  appreciate it if you <%= link_to "mailto:kontakt@boosterconf.no", 'let us know' %>.
</p>

<p>- The Booster 2013 organizers</p>
</body>
</html>