<html>
<body>
<p>
  Hei <%= @sponsor.contact_person_first_name %>!
</p>

<p>
  Jeg er en av arrangørene av Boosterkonferansen som arrangeres neste gang <strong>12.-14. mars 2014</strong> i Scandic
  Bergen City konferansesenter.
</p>

<% if @sponsor.was_sponsor_last_year %>
<p>
  Det viktigste først: Tusen takk for at <%= @sponsor.name %> sponset Booster 2013!
</p>
<% end %>

<p>
  Booster 2013 var en stor suksess, det er derfor med stor glede vi nå har startet forberedelsene til neste års
  konferanse! En viktig del av forberedelsene er å sikre en god finansiering, og vi vil svært gjerne ha med oss
  <%= @sponsor.name %> som sponsor for årets konferanse. Sponsorene er veldig viktige for oss, det er dere som gjør at
  vi kan holde et høyt faglig nivå på konferansen samtidig som vi kan holde deltagerprisene lave!
</p>

<p>
  Som sponsor får du:
<ul>
  <li>Logo på trykt materiell som program, flyvebrev, plakater osv</li>
  <li>Logo på konferansens nettsider</li>
  <li>Ha roll-up-banner i konferansens plenumsal</li>
  <li>Bruke Boosterkonferansens logo i markedsføring</li>
  <li>To billetter til konferansen og konferansemiddagen</li>
  <li>Adgang til å distribuere markedsføringsmateriell som blir delt ut til deltagerne. Dette må forhåndsgodkjennes av
    hensyn til plass og praktisk gjennomførbarhet.
  </li>
</ul>
</p>
<p>
  Prisen på sponsorpakken er kr. 28.000,- + MVA.
</p>

<p>
  Vi som står bak Booster 2014 har tidligere også vært med på å organisere Rootskonferansen som sist ble arrangert i
  2012. Booster og Roots er begge internasjonal konferanser for alle som jobber med utvikling, til sammen
  har de vært arrangert i Bergen i over ti år.
</p>

<p>
  I fjor hadde konferansen over 200 deltagere, og de fikk fikk med seg internasjonale navn som; Jonas Søderstrøm,
  Esther Derby, Matt Barcomb og Fred George - i tillegg til en rekke lokale foredragsholdere. Tilbakemeldingene på
  konferansen var overveldende positive, av de som ga oss tilbakemelding sa over 90% at de vil anbefale konferansen
  til andre.
</p>

<p>
  Vi er godt i gang med programmet for neste års konferanse og kan allerede nå røpe at vi har sikret oss Gojko Adzic,
  Lisa Crispin og Jim "Cope" Coplien!
</p>

<p>
  Booster skiller seg ut fra mange andre konferanser ved at vi er en konferanse som passer for alle som jobber i et
  utviklingsteam: Utviklere, prosjektledere, testere, arkitekter, sikkerhetseksperter, produkteiere og de som jobber
  med brukeropplevelse. Vi legger også vekt på praktisk læring, ved at deltakerne på konferansen faktisk får forsøke
  seg på å jobbe med teknologier og problemstillinger i mindre grupper. Vårt mål er at deltakerne skal vende tilbake
  til arbeidsplassen sin etter konferansen med ny inspirasjon, lærdom og nye bekjentskaper.

  <p>
  <% if @sponsor.is_in_bergen? %>
      Et sponsorat av Booster er en investering i det lokale fagmiljøet, og en god arena for rekruttering av nye
      ansatte. Vi har et vidt spekter av deltakere, alt fra studenter til folk med flere tiårs erfaring.
  <% end %>
  For mer informasjon om oss, besøk våre nettsider på <a href="http://www.boosterconf.no">boosterconf.no</a>.
  </p>

<p>
  Jeg håper at både du og
  <%= @sponsor.name %> synes dette er et interessant tilbud og vil vurdere det. Dersom dere har spørsmål er det bare å
  kontakte
  meg, enten på epost
  <%= @sender.email %> eller telefon
  <%= @sender.phone_number %>.
</p><p>
  Med vennlig hilsen <br />
  <%= @sender.name %><br />
  for Booster 2014
</p>
</body>
</html>