<html>
<body>
<p>
  Hei <%= @sponsor.contact_person_first_name %>!
</p>

<% if @sponsor.was_sponsor_last_year %>
<p>
  Tusen takk for at <%= @sponsor.name %> sponset Booster 2015! Konferansen var nok en gang en sterk faglig opplevelse til en overkommelig pris for deltagerne, sammen bidrar vi til å gjøre IT-Bergen litt bedre!
</p>
<% else %>
<p>
  Jeg vil gjerne invitere <%= @sponsor.name %> til å sponse Boosterkonferansen <%= Dates::CONFERENCE_YEAR %>!
</p>
<% end %>

<p>

  Vi er godt i gang med planleggingen av konferansen, sett gjerne av datoene 
  <strong><%= Dates::CONFERENCE_DATES %></strong> med en gang. Booster har som ambisjon å være en konferanse for alle som jobber i et utviklingsteam: Utviklere, prosjektledere, testere, arkitekter, sikkerhetseksperter, produkteiere og de som jobber med brukeropplevelse. Som vanlig vil det meste av programmet bestå av workshops og foredrag som er sendt inn på vår Call For Paper (cfp), denne har vi akkurat åpnet nå. Vi vet at våre sponsorer er sterke fagmiljø, så vi håper som vanlig på at vi får mange spennende forslag fra dere!
</p>

<p>
  Boosterkonferansen er en intim konferanse med et sterkt faglig innhold, dette får vi til på grunn av noen viktige faktorer; mye frivillig innsats, ingen honorar til speakere og en solid base av sponsorer. Vi håper <%= @sponsor.name %> vil bidra til dette ved å være med som sponsor av Booster <%= Dates::CONFERENCE_YEAR %>.
</p>


<p>
  Vi har behold samme sponsorpakke som i fjor, som sponsor får du:
<ul>
  <li>Logo på trykt materiell som program, flyvebrev, plakater osv</li>
  <li>Logo på konferansens nettsider</li>
  <li>Ha roll-up-banner i konferansens plenumsal</li>
  <li>Bruke Boosterkonferansens logo i markedsføring</li>
  <li>To billetter til konferansen og konferansemiddagen</li>
  <li>Adgang til å distribuere markedsføringsmateriell som blir delt ut til deltagerne. Dette må forhåndsgodkjennes av
    hensyn til plass og praktisk gjennomførbarhet.
  </li>
</ul>
</p>
<p>
  Prisen på sponsorpakken er kr. 28.000,- + MVA.
</p>

<p>
  Hvis du ikke var på konferansen i fjor, eller bare ikke husker helt hvem som var der, vil jeg gjerne minne deg på noen av høydepunktene. Johanna Rothman(US), Vaughn Vernon(US), Vitaly Friedman, Jim Benson(US), Ivana Gancheva(N), Einar Høst(N), Geir Amsjø(N), Sandi Metz ... Vil du se hele programmet kan du sjekke det ut her: http://2015.boosterconf.no/program
</p>


  <% if @sponsor.is_in_bergen? %>
      Et sponsorat av Booster er en investering i det lokale fagmiljøet, og en god arena for rekruttering av nye
      ansatte. Vi har et vidt spekter av deltakere, alt fra studenter som jobber som frivillige til folk med flere tiårs erfaring.
  <% end %>
  For mer informasjon om oss, besøk våre nettsider på <a href="http://www.boosterconf.no">boosterconf.no</a>.
  </p>

<p>
  Jeg håper at både du og
  <%= @sponsor.name %> synes dette er et interessant tilbud og vil vurdere det. Dersom dere har spørsmål er det bare å
  kontakte
  meg, enten på epost
  <%= @sender.email %> eller telefon
  <%= @sender.phone_number %>.
</p><p>
  Med vennlig hilsen <br />
  <%= @sender.full_name %><br />
  for Booster <%= Dates::CONFERENCE_YEAR %>
</p>
</body>
</html>
