<html>
<body><p>Hi,</p>

<p>
  <%= @review.reviewer.name %> has added a new review on the submission '<%= @talk.title %>'.
  This is what it says:
</p>

<h3><%= @review.subject %></h3>


<p>
  <%= @review.text %>
</p>


<p>
  For full history and to reply to the review, <a href="<%= @talk_url %>">Go here</a>.
</p>

<p>- The Booster conference organizers</p>
</body>
</html>