<html>
<body>
<p>Hello <%= @user.first_name %>,
</p>

<p>Booster <%= Dates::CONFERENCE_YEAR %> starts Wednesday next week. Here is some important
  information you will need. Key points:</p>

<ul>
  <li>Bring your laptop to Booster</li>
  <li>Some workshops require some pre-installed software</li>
  <li>Please <%=  link_to 'update your dinner reservation', 'http://boosterconf.no/users/current' %></li>
</ul>


<h3>LOCATION AND TRANSPORT</h3>

<p>Booster <%= Dates::CONFERENCE_YEAR %> takes place at the Scandic Bergen City Hotel.
You can get there by airport bus, taxi, bus/light rail or car. The
closest bus stop is at Olav Kyrres gate, and the closest light rail
stop and airport bus is at Festplassen. The best place to park your
car is the the parking house Klostergarasjen. We will encourage you to
use public transportation, if possible. You can find a map with key
locations <%= link_to 'here', 'http://bit.ly/booster-2014-map' %>
</p>

<h3>LAPTOPS</h3>

<p>Booster has a lot of hands-on tutorials, so we recommend everyone
to bring a laptop if possible, in order to get the most out of the
different tutorials. In order to minimize startup time, some tutorial
speakers prefer that you have some piece of software installed before
the tutorial starts. Please read the abstracts of the tutorials you
plan to attend carefully.</p>

<p>If you don't have a laptop, don't despair. We encourage pairing with
others to maximize learning for both of you.</p>


<h3>REGISTRATION</h3>

<p>Registration opens at 08:00 Wednesday morning, and the conference itself
starts at 09:00. To avoid standing in a queue when you could be
talking to interesting people and drinking awesome coffee, come early.
Please note that we will not send out any physical tickets in advance -
you will receive your name badge at the registration.</p>


<h3>CONFERENCE DINNER</h3>
<p>
  The conference dinner will be at Kalfaret Brygghus
  (see the <%=  link_to 'map', 'http://bit.ly/booster-2014-map' %>). It will feature a three course dinner,
drinks and entertainment by the local theatre group Bergen Impro Laug. We start with
an ap&eacute;ritif Wednesday at 19:00, and the dinner is served at 20:00. We
expect this to be the party of the year! The theatre group will come on stage after dinner.</p>

<p>
	<a href="http://boosterconf.no/users/current/attending_dinner">
		Click here for YES, I'd love to attend the dinner</a>
</p>
<p>
	<a href="http://boosterconf.no/users/current/not_attending_dinner">
		Click here for NO, unfortunately I am unable to attend the dinner</a>
</p>

<p>The conference dinner is included in the ticket price, so there's no reason not to attend :)</p>


<h3>TWITTER</h3>
<p>The official Twitter account for the Booster conference is
@boosterconf. Please use the hash tag #booster<%= Dates::CONFERENCE_YEAR %> when you tweet about
the conference, so that other people can easily find your tweets and
follow the conference.</p>

<p>If you have any questions, please contact us at kontakt@boosterconf.no. We're looking forward to seeing you there!</p>

<p>- The Booster conference organizers</p>
</body>
</html>
