
<%= form_for @talk, :url => {:action => "create_assigned"} do |f| %>
    <input type="hidden" name="user_id" value="<%= @user.id %>"/>

    <fieldset id="talk_details">

      <div class="field type">
        <%= f.label :type, "Type of talk" %>
        <%= f.collection_select :talk_type_id, @types, :id, :name_and_duration %>
      </div>

      <div class="field language">
        <input id="talk_language_english" name="talk[language]" type="radio" value="English" style="display:inline" <%=@talk.language == 'English' ? "checked" : "" %> />
        <label for="talk_language_english">English</label><br/>
        <input id="talk_language_norwegian" name="talk[language]" type="radio" value="Norwegian" style="display:inline" <%=@talk.language == 'Norwegian ' ? "checked" : "" %>/>
        <label for="talk_language_norwegian">Norwegian</label>
      </div>

      <div class="field title">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title %>
      </div>

      <div class="field abstract">
        <%= f.label :description, "Abstract" %>
        <%= f.text_area :description, :class => "mceEditor" %>
      </div>

    </fieldset>

    <br><br>

    <div class="field buttons">
      <%= f.submit "Publish abstract" %>
    </div>

<% end %>
