
<script>
    $(document).ready(function() {
        var availableTags = [];
        var selectedTags = [];
        <% @tags.each do |tag| %>
        availableTags.push("<%=h tag.title %>");
        <% if @talk.tags.include? tag%>
        selectedTags.push("<%=h tag.title %>");
        <%end%>
        <% end %>
        $("#mytags").tagit({availableTags: availableTags, selectedTags: selectedTags});
    });
</script>


<%= form_for @talk do |f| %>

    <h3>What would you like to talk about?</h3>

    <fieldset id="talk_details">

      <% @talk.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>

      <div class="field type">
        <%= f.label :talk_type, "Type of talk" %>
        <%= f.collection_select :talk_type_id, TalkType.all, :id, :name_and_duration, :class => 'input-xlarge' %>
      </div>

      <script type="text/javascript">
        $("#talk_talk_type_id").change(function() {
            var talk_type_id = $(this).val();
            var norwegian = $("#talk_language_norwegian");
            var english = $("#talk_language_english");
            if (talk_type_id != 1) {
                english.attr("checked", "checked");
                norwegian.attr("disabled", "disabled");
            } else {
                norwegian.attr("disabled", "");
            }
        });

      </script>

      <div class="radios">
        Tutorials must be held in English. Lightning talks can be held in English or Norwegian.
        <fieldset>
          <label class="radio" for="talk_language_english" >
            <input id="talk_language_english" name="talk[language]" type="radio" value="English" <%=@talk.language == 'English' ? "checked" : "" %> />
            English
          </label>
          <label class="radio" for="talk_language_norwegian" >
            <input id="talk_language_norwegian" name="talk[language]" type="radio" value="Norwegian" <%=@talk.language == 'Norwegian ' ? "checked" : "" %>/>
            Norwegian
          </label>
        </fieldset>
      </div>

      <div class="field title">
        <%= f.label :title, "Title" %>

        <%= f.text_field :title, :class => 'input-xxlarge'  %>
      </div>

      <div class="field abstract">
        <%= f.label :description, "Abstract" %>

        <%= f.text_area :description, :class => "tinymce span10" %>
      </div>

       <%= tinymce %>

      <div class="field audience">
        <%= f.label :audience_level, "Target audience level: " %>
        <%= f.select :audience_level, [['Any', 'any'], ['Novice', 'novice'], ['Intermediate', 'intermediate'], ['Expert', 'expert']], :class => 'input-xxlarge'  %>
      </div>


      <div class="field max_participants">
        <%= f.label :max_participants, "Maximum number of participants for this talk (no less than 24, please): " %>
        <%= f.text_field :max_participants, :class => 'input-xxlarge'  %>
      </div>

      <div class="field participant_requirements">
        <%= f.label :participant_requirements, "What do the participants have to bring to the presentation?" %>
        <%= f.text_area :participant_requirements, :class => 'input-xxlarge', :rows => 5    %>
      </div>

      <div class="field equipment">
        <%= f.label :equipment, "Do you need any extra equipment for your session? " %>
        <%= f.text_area :equipment, :class => 'input-xxlarge', :rows => 5  %>
      </div>

      <div class="field room_setup">
        <%= f.label :room_setup, "Desired room setup" %>
        <%= f.select :room_setup, [['Classroom', 'Classroom'], ['Horseshoe', 'Horseshoe'], ['Group tables', 'Group tables']], :class => 'input-xxlarge'  %>
      </div>

    </fieldset>

    <h4>Terms and Conditions</h4>
    <p>I agree to present this session at Booster 2014 in Bergen. If my presentation is accepted, and I cannot attend, I
      will notify the conference committee as soon as possible.</p>

    <p>
      I grant the right to the Booster conference to distribute presentation materials for the conference sessions on the conference
      website.
    </p>

    <p>
      I agree that my presentation information and materials will be limited to content directly relevant to the session
      topic, and will not promote in an overly commercial way my products or services or the products or services of any
      organization. It is acceptable to provide contact information and brief reference to any books, products, or
      services that are relevant to the session topic.
    </p>

    <fieldset class="confirmations">
      <% if @talk.new_record? %>
          <div class="checkbox">
            <%= f.check_box :accepted_guidelines %>
            <%= f.label :accepted_guidelines, "I accept the Booster conference terms and conditions" %>
          </div>
      <% end %>
    </fieldset>

    <div class="tag">
      <h4>Tags</h4>

      <div class="line">
        <label for="tags">You may tag your talk. Existing tags will be suggested as you type, while new tags will be
          added as soon as you save your changes.</label>
        <ul id="mytags"></ul>
      </div>
    </div>

    <div class="field buttons">
      <%= f.submit "Publish abstract", :class => 'btn btn-primary' %>
    </div>

<% end %>
