<legend>Reviews</legend>

<div id="new-review">
  <%= form_for [@talk, @review], html: {class: 'form-inline'}, remote: true do |f| %>

      <%= f.text_field :subject, class: 'input-xxlarge', required: true %>
      <%= f.text_area :text, class: 'input-xxlarge', cols: 30, rows: 8, required: true %>
      <%= f.submit 'Add review', class: 'btn' %>

  <% end %>
</div>

<div id="all-reviews">
  <%= render @talk.reviews %>
</div>