<article class="inner">
  <% content_for :title, "Suggested topics" %>
  <div class="header-join">
    <h2 class="page_title">Proposals
    </h2>
  </div>

  <p>
    <a href="#lightning">Go to lightning talks</a> | <a href="#short">Go to short talks</a>
    | <%= link_to 'Accepted talks', accepted_talks_url %>
  </p>

  <p>Every abstract is visible to everyone, in order to encourage discussion.</p>

  <% unless @workshops.empty? %>
    <h3 id="workshops">Workshops</h3>
    <%= render partial: @workshops %>
  <% end %>

  <% unless @lightning_talks.empty? %>
    <h3 id="lightning">Lightning talks</h3>
    <%= render partial: @lightning_talks %>
  <% end %>

  <% unless @short_talks.empty? %>
    <h3 id="short">Short talks</h3>
    <%= render partial: @short_talks %>
  <% end %>

  <% if AppConfig.cfp_open %>
    <p>Missing anything?
      <br/>  <%= link_to 'Suggest your own talk!', info_cfp_url, :class => "btn btn-primary btn-large" %>
    </p>
  <% end %>
</article>
