<article class="inner">
<%= content_for :title, h(@talk.title) %>
<div class="header-join">
<h2><%= h @talk.title %></h2>
</div>
<% if admin? %>
  <h4><%= render :partial => @talk.users %></h4>
<% end %>

<% unless admin? && @talk.accepted? && @talk.speakers_confirmed? %>
  <% @talk.users.collect do | user | %>
    <% if user.bio != nil %>
      <h4><a href="../info/speakers/#<%=user.full_name %>"><%= user.full_name %></a></h4>
    <% else %>
      <h4><%= user.full_name %></h4>
    <% end %>
  <% end %>
<% end %>

<p class="muted"><%= @talk.talk_type.name %> - in <%= @talk.language.capitalize %></p>

<% if reviewer? %>
    <h4>Send review feedback to </h4>
    <p>
      <a href="mailto:<%= @talk.users.collect { |u| u.email }.join(',') %>">
        <%= @talk.users.collect { |u| u.email }.join(',') %></a>
    </p>
<% end %>

<div class="tags">
  <% unless @talk.tags.empty? %>
      <b>Tags:</b>
      <span><%= @talk.tags.map { |t| t.title }.join(", ") %></span>
      <%# @talk.tags.each do |tag| %>
      <%#= link_to tag.title, :controller => "talks", :action => "article_tags", :id => tag.id %>
      <%# end %>
  <% end %>
</div>


<% if @talk.users.include?(current_user) || admin? %>
    <p><%= link_to 'Edit your talk', edit_talk_path(@talk) %></p>

    <% if @talk.accepted? && @talk.speakers_confirmed? %>
      <p><%= image_tag("approved_talk.png") %> approved</p>
    <% end %>

    <% if @talk.slide_file_name.present? %>
        <h3>Presentation slides</h3>
        <p><%= link_to image_tag("icon_slides.gif"), @talk.slide.url %><%= link_to "Download", @talk.slide.url %></p>
    <% else %>
        <h3>Upload presentation</h3>
    <% end %>
    <%= render :partial => "talks/upload_slide" %>

    <% if @talk.talk_type.is_workshop %>
        <p>
          <strong>Extra equipment:</strong>
          <%= h @talk.equipment %>
        </p>

        <p>
          <strong>Room setup:</strong>
          <%= h @talk.room_setup %>
        </p>

        <p>
          <strong>Maximum number of participants:</strong>
          <%= h @talk.max_participants %>
        </p>
    <% end %>

<% end %>

<div class="description">
  <% if contains_html @talk.description %>
      <%= sanitize @talk.description %>
  <% else %>
      <%= simple_format h(@talk.description) %>
  <% end %>
</div>

<% if @talk.talk_type.is_workshop %>

    <% if admin_reviewer_or_talk_owner?(@talk) %>
        <div class="outline">
          <strong>Outline</strong>
          <% if contains_html(@talk.outline) %>
              <%= sanitize @talk.outline %>
          <% else %>
              <%= simple_format h(@talk.outline) %>
          <% end %>
        </div>
    <% end %>

    <p>
      <strong>Primarily for:</strong>
      <%
         roles = @talk.appropriate_for_roles ? @talk.appropriate_for_roles.split(',') : []
         role_names = roles.map { |role| Roles.label[role.to_sym].pluralize }
      %>
      <%= role_names.join(', ') %>
    </p>

    <p>
      <strong>Participant requirements:</strong>
      <%= h @talk.participant_requirements %>
    </p>

<% end %>

<% if false %>
    <%= render :partial => "talks/slides" %>
<% end %>

<% if admin_reviewer_or_talk_owner?(@talk) %>
    <% if @talk.speaking_history.present? %>
        <div id="speaking_history">
          <h4>Speaking history</h4>

          <p><%= h(@talk.speaking_history) %></p>
        </div>
    <% end %>

    <% if @talk.equipment.present? %>
        <div id="equipment">
          <h4>Comment to organizers</h4>

          <p><%= h(@talk.equipment) %></p>
        </div>
    <% end %>

    <div id="reviews">
      <%= render partial: 'review_form' %>
    </div>
<% end %>
</article>
