<%= content_for :title, h(@talk.title) %>
<h2 class="page_title"><%= h @talk.title %></h2>
<h4><%= render :partial => @talk.users %></h4>
<p class="muted"><%= @talk.talk_type.name %> - in <%= @talk.language.capitalize %></p>

<% if reviewer? %>
    <h4>Send review feedback to </h4>
    <p>
      <a href="mailto:<%= @talk.users.collect { |u| u.email }.join(',') %>">
        <%= @talk.users.collect { |u| u.email }.join(',') %></a>
    </p>
<% end %>

<% if @talk.accepted? %>
    <p><%= image_tag("approved_talk.png") %> approved</p>
<% end %>

<div class="tags">
  <% unless @talk.tags.empty? %>
      <b>Tags:</b>
      <span><%= @talk.tags.map { |t| t.title }.join(", ") %></span>
      <%# @talk.tags.each do |tag| %>
      <%#= link_to tag.title, :controller => "talks", :action => "article_tags", :id => tag.id %>
      <%# end %>
  <% end %>
</div>


<% if @talk.users.include?(current_user) || admin? %>
    <p><%= link_to 'Edit your talk', edit_talk_path(@talk) %></p>

    <% if @talk.slide_file_name.present? %>
        <h3>Presentation slides</h3>
        <p><%= link_to image_tag("icon_slides.gif"), @talk.slide.url %><%= link_to "Download", @talk.slide.url %></p>
    <% else %>
        <h3>Upload presentation</h3>
    <% end %>
    <%= render :partial => "talks/upload_slide" %>

    <% if @talk.is_tutorial? %>
        <p>
          <strong>Extra equipment:</strong>
          <%= h @talk.equipment %>
        </p>

        <p>
          <strong>Room setup:</strong>
          <%= h @talk.room_setup %>
        </p>

        <p>
          <strong>Maximum number of participants:</strong>
          <%= h @talk.max_participants %>
        </p>
    <% end %>

<% end %>

<div class="description">
  <% if contains_html @talk.description %>
      <%= sanitize @talk.description %>
  <% else %>
      <%= simple_format h(@talk.description) %>
  <% end %>
</div>
<% if @talk.is_tutorial? %>

    <% if admin_reviewer_or_talk_owner?(@talk) %>
        <div class="outline">
          <strong>Outline</strong>
          <% if contains_html(@talk.outline) %>
              <%= sanitize @talk.outline %>
          <% else %>
              <%= simple_format h(@talk.outline) %>
          <% end %>
        </div>
    <% end %>

    <div class="appropriate_for_roles">
      <strong>Primarily for:</strong>
      <%
         roles = @talk.appropriate_for_roles ? @talk.appropriate_for_roles.split(',') : []
         role_names = roles.map { |role| Roles.label[role.to_sym].pluralize }
      %>
      <%= role_names.join(', ') %>
    </div>
    <p>
      <strong>Participant requirements:</strong>
      <%= h @talk.participant_requirements %>
    </p>

<% end %>

<%= link_to image_tag("#{@talk.license}.png", :title => 'Presentation is shared under a Creative Commons license.'),
            "http://creativecommons.org/licenses/#{@talk.license}/4.0/", :rel => 'license' %>


<% if false %>
    <%= render :partial => "talks/slides" %>
<% end %>

<div id="comments">
  <%= render :partial => @talk.comments %>
</div>

<% if admin_reviewer_or_talk_owner?(@talk) %>
    <div id="speaking_history">
      <h4>Speaking history</h4>

      <p><%= h(@talk.speaking_history) %></p>
    </div>

    <div id="reviews">
      <%= render partial: 'review_form' %>
    </div>
<% end %>


<%# if logged_in %>
<!--h3 id="new_comment">Add new comment:</h3>
    <%#= render :partial => "comments/new" %>
<%# else %>

    <h3><%#= link_to "Log in to write a new comment", new_user_session_url(:save => true) %></h3>
<%# end %>


