<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @user.registration.ticket_type_old == 'mod251' %>
        You're buying a MOD251 student ticket at kr <%= PAYMENT_CONFIG[:prices][@user.registration.ticket_type_old].to_i %> including VAT.
    <% elsif @user.registration.ticket_type_old == 'student' %>
        You're buying a student ticket at kr <%= PAYMENT_CONFIG[:prices][@user.registration.ticket_type_old].to_i %> including VAT.
    <% else %>
        <%= render :partial => 'price_info', :locals => {:f => f } %>
    <% end %>

    <%= render :partial => 'personal_details', :locals => {:f => f}  %>

    <%= render :partial => 'passwords', :locals => {:f => f}  %>

    <%= render :partial => 'user_stats', :locals => {:f => f}  %>

    <fieldset id="registration_details">
      <%= f.fields_for :registration do |reg| %>
          <%= reg.hidden_field :ticket_type_old %>
          <% if @user.registration.manual_payment %>
              <div class="field adresse">
                <%= reg.label :invoice_address, "Payment address" %>
                <%= reg.text_area :invoice_address, :rows => 4 %>
              </div>
              <div class="field kommentarer">
                <%= reg.label :invoice_description, "Addional payment info" %>
                <%= reg.text_area :invoice_description, :rows => 4 %>
              </div>
              <div class="field buttons"><%= f.submit "Register" %></div>
          <% else %>
              <%= render :partial => 'confirmations', :locals => {:reg => reg, :f => f} %>
              <div><%= f.submit "Register and proceed to payment" %></div>
          <% end %>
      <% end %>
    </fieldset>
<% end %>