<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @user.registration.ticket_type_old == 'mod251' %>
        You're buying a MOD251 student ticket at kr <%= PAYMENT_CONFIG[:prices][@user.registration.ticket_type_old].to_i %> including VAT.
    <% elsif @user.registration.ticket_type_old == 'student' %>
        You're buying a student ticket at kr <%= PAYMENT_CONFIG[:prices][@user.registration.ticket_type_old].to_i %> including VAT.
    <% else %>
        <%= render :partial => 'price_info', :locals => {:f => f } %>
    <% end %>

    <fieldset id="personal_details">
      <div class="field name">
        <%= f.label :name, "Name" %>
        <br/>
        <%= text_field(:user, :name, :placeholder => "Please tell us your name", :size => 50, :required => true) %>
      </div>
      <div class="field firma">
        <%= f.label :company, "Company" %>
        <br/>
        <%= text_field(:user, :company, :placeholder => "and where you work", :size => 50, :required => true) %>
      </div>
      <div class="field rolle">
        <%= f.label :role, "Primary role" %>
        <br/>
        <%= select("user", "role",
                   [["Select one...", ""],
                    ["Developer", "Developer"],
                    ["Architect", "Architect"],
                    ["Tester/Test lead", "Tester/Test lead"],
                    ["Project manager", "Project manager"],
                    ["Scrum master", "Scrum master"],
                    ["UX specialist", "UX specialist"],
                    ["Manager", "Manager"],
                    ["Sales representative", "Sales representative"],
                    ["Other", "Other"]]) %>
      </div>

      <div class="field email">
        <%= f.label :email %>
        <br/>
        <%= email_field(:user, :email, :placeholder => "Where can we email you?", :size => 50, :required => true) %>
      </div>
      <div class="field passord">
        <%= f.label :password %>
        <br/>
        <%= password_field(:user, :password, :placeholder => "Sshhh. It's a secret.", :size => 50, :required => true) %>
      </div>
      <div class="field bekreft">
        <%= f.label :password_confirmation, "Confirm password" %>
        <br/>
        <%= password_field(:user, :password_confirmation,
                           :placeholder => "Repeat, please.", :size => 50, :required => true) %>
      </div>
      <!-- <div class="field telefon">
      <%= f.label :phone_number, "Phone" %><br />
      <%= text_field(:user, :phone_number, :placeholder => "If we need to call you", :size => 50) %>
    </div> -->

      <div class="field dietary_requirements">
        <%= f.label :dietary_requirements, "Dietary requirements (allergy, vegetarian etc)" %>
        <br/>
        <%= text_field(:user, :dietary_requirements, :placeholder => "Do you need something special for dinner?",
                       :size => 50) %>
      </div>

      <div class="geeky">
        <%= f.label "For geeky statistical purposes:" %>
      </div>

      <div class="field">
        <fieldset>
          <%= f.label :female, "Male" %>
          <%= f.radio_button :female, false %>
          <%= f.label :female, "Female" %>
          <%= f.radio_button :female, true %>
        </fieldset>
      </div>

      <div class="field hjemby">
        <%= f.label :hometown, "City of residence" %>
        <br/>
        <%= text_field(:user, :hometown, :placeholder => "Where do you live?", :size => 50) %>
      </div>

      <div class="field fødselsår">
        <%= f.label :birthyear, "Birth year" %>
        <br/>
        <%= text_field(:user, :birthyear, :placeholder => "When were you born?", :size => 50) %>
      </div>
    </fieldset>

    <fieldset id="registration_details">
      <%= f.fields_for @user.registration do |reg| %>
          <%= reg.hidden_field :ticket_type_old %>
          <% if @user.registration.manual_payment %>
              <div class="field adresse">
                <%= reg.label :invoice_address, "Payment address" %>
                <%= reg.text_area :invoice_address, :rows => 4 %>
              </div>
              <div class="field kommentarer">
                <%= reg.label :invoice_description, "Addional payment info" %>
                <%= reg.text_area :invoice_description, :rows => 4 %>
              </div>
              <div class="field buttons"><%= f.submit "Register" %></div>
          <% else %>
              <%= render :partial => 'confirmations', :locals => {:reg => reg, :f => f} %>
              <div><%= f.submit "Register and proceed to payment" %></div>
          <% end %>
      <% end %>
    </fieldset>
<% end %>