<fieldset id="personal_details">
  <div class="field name">
    <%= f.label :name, "Name" %>
    <%= text_field(:user, :name, :placeholder => "Please tell us your name", :class => 'input-xlarge', :required => true) %>
  </div>
  <div class="field firma">
    <%= f.label :company, "Company" %>
    <%= text_field(:user, :company, :placeholder => "and where you work", :class => 'input-xlarge', :required => true) %>
  </div>

  <div class="field email">
    <%= f.label :email %>
    <%= email_field(:user, :email, :placeholder => "Where can we email you?", :class => 'input-xlarge', :required => true) %>
  </div>

  <div class="field telefon">
    <%= f.label :phone_number, "Phone" %>
    <%= text_field(:user, :phone_number, :placeholder => "If we need to call you", :class => 'input-xlarge') %>
  </div>

  <div class="field dietary_requirements">
    <%= f.label :dietary_requirements, "Dietary requirements (allergy, vegetarian etc)" %>
    <%= text_area(:user, :dietary_requirements, :placeholder => "Do you need something special for dinner?",
                   :rows => 4, :class => 'input-xlarge') %>
  </div>
</fieldset>