<fieldset id="personal_details">
  <% if admin? %>
  <div class="field name">
    Old name field: <%= @user.full_name %>
  </div>
  <% end %>

  <div class="field first_name">
    <%= f.label :first_name, "First name" %>
    <%= text_field(:user, :first_name, :placeholder => "Please tell us your first name", :class => 'input-xlarge', :required => true) %>
  </div>
  <div class="field last_name">
    <%= f.label :last_name, "Last name" %>
    <%= text_field(:user, :last_name, :placeholder => "and your last name", :class => 'input-xlarge', :required => true) %>
  </div>
  <div class="field company">
    <%= f.label :company, "Company" %>
    <%= text_field(:user, :company, :placeholder => "and where you work", :class => 'input-xlarge', :required => true) %>
  </div>

  <div class="field email">
    <%= f.label :email %>
    <%= email_field(:user, :email, :placeholder => "Where can we email you?", :class => 'input-xlarge', :required => true) %>
  </div>

  <div class="field phone_number">
    <%= f.label :phone_number, "Phone" %>
    <%= text_field(:user, :phone_number, :placeholder => "If we need to call you", :class => 'input-xlarge') %>
  </div>

  <div class="field dietary_requirements">
    <%= f.label :dietary_requirements, "Dietary requirements (allergy, vegetarian etc)" %>
    <%= text_area(:user, :dietary_requirements, :placeholder => "Do you need something special for dinner?",
                   :rows => 4, :class => 'input-xlarge') %>
  </div>
</fieldset>