<fieldset class="form-group">
  <%= f.label :first_name, "First name" %>
  <%= text_field(:user, :first_name, placeholder: "Please tell us your first name", class: 'form-control', required: true) %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :last_name, "Last name" %>
  <%= text_field(:user, :last_name, placeholder: "and your last name", class: 'form-control', required: true) %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :company, "Company" %>
  <%= text_field(:user, :company, placeholder: "and where you work", class: 'form-control', required: true) %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :email %>
  <%= email_field(:user, :email, placeholder: "Where can we email you?", class: 'form-control', required: true) %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :phone_number, "Phone" %>
  <%= text_field(:user, :phone_number, placeholder: "If we need to call you", class: 'form-control', required: true) %>
</fieldset>

<div class="checkbox">
  <label>
    <%= f.check_box(:opt_in_to_email_list, {}, true, false) %>
    I would like to subscribe to the Booster mailing list. Please notice that we might contact you regarding your
    proposal for Booster <%- AppConfig.year -%>, even if you don´t subscribe to the list.
  </label>
</div>

