<fieldset id="user_stats">
<div class="geeky">
  To better understand our audience and create a better conference, we hope you will indulge us and provide us with some additional information about yourself.
</div>

<div class="field">
  <fieldset>
    <%= f.label :female, "Male" %>
    <%= f.radio_button :female, false %>
    <%= f.label :female, "Female" %>
    <%= f.radio_button :female, true %>
  </fieldset>
</div>

<div class="field">
  <%= f.label :hometown, "City of residence" %>
  <br/>
  <%= text_field(:user, :hometown, :placeholder => "Where do you live?", :size => 50) %>
</div>

<div class="field">
  <%= f.label :birthyear, "Birth year" %>
  <br/>
  <%= text_field(:user, :birthyear, :placeholder => "When were you born?", :size => 50) %>
</div>
</fieldset>