<article class="inner">
  <% content_for :title, @user.full_name %>
  <div class="header-join">
    <h2 class="page_title">Change your registration</h2>
  </div>

  <% if @user.bio == nil && admin? %>
    <p>
      <%= link_to "Add user bio", :controller => 'users', :action => 'create_bio', :id => params[:id] %>
    </p>
  <% end %>


  <% @user.errors.full_messages.each do |msg| %>
    <p class="has-error"><%= msg %></p>
  <% end %>

  <div class="row">
    <div class="span12">
      <%= form_for(@user) do |f| %>


        <%= render :partial => 'price_info', :locals => {:f => f} %>

        <%= render :partial => 'personal_details', :locals => {:f => f} %>

        <% if @user.registration.unfinished %>
          <%= render :partial => 'passwords', :locals => {:f => f} %>
        <% end %>

        <%= render :partial => 'roles', :locals => {:f => f} %>
      
        <%= render :partial => 'user_stats', :locals => {:f => f} %>

        <%= render :partial => 'bio', :locals => {:f => f, :show_warning => true} %>

        <div><%= f.submit "Update", :class => "btn btn-primary" %></div>

      <% end %>

      Accepted abstracts that will be displayed on speaker page:
      <ul style="list-style-type: none;">
        <% @user.talks.each do |talk| %>
          <% if talk.accepted? %>
            <li><%= link_to h(talk.title), talk %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</article>
