<article>
<% content_for :title, @user.full_name %>

<% if @user.bio == nil && admin? %>
<p>
    <%= link_to "Add user bio", :controller => 'users', :action => 'create_bio', :id => params[:id] %>
  </p>
<% end %>


<% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>


<h2 class="page_title">Change your registration</h2>
<div class="row">
  <div class="span12">
    <%= form_for(@user) do |f| %>


        <%= render :partial => 'price_info', :locals => {:f => f} %>

        <%= render :partial => 'personal_details', :locals => {:f => f} %>

        <% if @user.registration.unfinished %>
            <%= render :partial => 'passwords', :locals => {:f => f} %>
        <% end %>

        <%= render :partial => 'roles', :locals => {:f => f} %>

        <%= f.fields_for :registration do |reg| %>
            <fieldset id="registration_details">
                <%= reg.hidden_field :ticket_type_old %>
                <%= render :partial => 'confirmations', :locals => {:reg => reg, :f => f} %>
            </fieldset>

            <br>
        <% end %>

        <%= render :partial => 'user_stats', :locals => {:f => f} %>

        <%= render :partial => 'bio', :locals => {:f => f, :show_links => true} %>

        <div><%= f.submit "Update", :class => "btn btn-primary" %></div>

    <% end %>
  </div>
</div>
</article>
