<h2>Thank you for registering!</h2>

<p>
  We've now registered <%= @invoice.registrations.count %> tickets for you. They have been assigned to the following
  email
  addresses:
</p>

<ul>
  <% @invoice.registrations.each do |registration| %>
      <li><%= registration.user.email %></li>
  <% end %>
</ul>

<p>They have each received an email with instructions for completing the registrations.</p>

<p>We have also prepared an invoice that will be sent soon by <%= @invoice.email.present? ? "email" : "snail mail" %>
  to the address <%= @invoice.email.present? ? @invoice.email : @invoice.adress %>. This invoice has a total of
  NOK <%= @invoice.total %>.
</p>