<article class="inner">
  <div class="header-join">
    <h2>Users listing</h2>
  </div>

<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Company</th>
    <th>Is admin</th>
    <th>Featured speaker</th>
    <th>Feature as organizer</th>
    <th>Invited</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.full_name %></td>
    <td><%= user.company %></td>
    <td><%= YesNo.new(user.is_admin) %></td>
    <td><%= YesNo.new(user.featured_speaker) %></td>
    <td><%= YesNo.new(user.feature_as_organizer) %></td>
    <td><%= YesNo.new(user.invited) %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <%# TODO: Delete not implemented. %>
    <!--<td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />
<p>
<%= link_to 'New User', new_user_path %>
</p>
</article>
