<article>
  <div class="header-join">
    <h2>Register for Booster <%= Dates::CONFERENCE_YEAR %></h2>
  </div>

  <p>
    Registering several people and want a common invoice? Use our
    <%= link_to 'group registration', new_group_registration_url %>!
  </p>

  <%= form_for(@user) do |f| %>

  <%= debug @user %>
      <%= render :partial => 'price_info', :locals => { :f => f } %>

          <%= render partial: 'personal_details', locals: { f: f } %>

          <%= render partial: 'passwords', locals: { f: f } %>

          <%= f.hidden_field :invited %>


          <%= f.fields_for :registration do |reg| %>

              <%= reg.hidden_field :ticket_type_old %>
              <%= render partial: 'confirmations', locals: { reg: reg, f: f } %>

              <%= render partial: 'roles', locals: { f: f } %>
              <%= render partial: 'user_stats', locals: { f: f } %>

              <% unless @user.invited %>
                  <%= reg.hidden_field :manual_payment, value: 'true' %>
                  <%= render partial: 'payment_details', locals: { reg: reg, f: f } %>
              <% end %>

                <small class="text-muted">By registering, you accept that we can send you email about the conference.</small>

              <div id="register_submit">
                <%= f.submit "Register", class: 'btn btn-primary' %>
              </div>
          <% end %>
  <% end %>
</article>
