<article class="inner">
  <div class="header-join">
    <h2>Register for Booster <%= Dates::CONFERENCE_YEAR %></h2>
  </div>

  <p>
    Registering several people and want a common invoice? Use our
    <%= link_to 'group registration', new_group_registration_url %>!
  </p>

  <%= form_for(@user) do |f| %>

    <%= render :partial => 'price_info', :locals => {:f => f} %>

    <%= render partial: 'personal_details', locals: {f: f} %>

    <%= render partial: 'passwords', locals: {f: f} %>

    <%= f.hidden_field :invited %>


    <%= f.fields_for :registration do |reg| %>

      <%= render partial: 'confirmations', locals: {reg: reg, f: f} %>

      <%= render partial: 'roles', locals: {f: f} %>
      <%= render partial: 'user_stats', locals: {f: f} %>
      
      <small class="text-muted">By registering, you accept that we can send you email about the conference.</small>

      <div id="register_submit">
        <%= f.submit "Register", class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</article>
