<h2>Register a skeleton user</h2>

<%= render "shared/notice" %>

<p>
  No fields except ticket type are mandatory. The rest will be registered when the user click the link.
</p>

<%= form_for @user, :url => create_skeleton_user_path do |f| %>

    <%= f.label :first_name %>
    <%= text_field(:user, :first_name, :class => 'input-xlarge') %>

    <%= f.label :last_name %>
    <%= text_field(:user, :last_name, :class => 'input-xlarge') %>

    <%= f.label :email %>
    <%= email_field(:user, :email, :class => 'input-xlarge') %>

    <%= f.fields_for :registration do |reg| %>
        <%= reg.label :ticket_type_old, "Ticket type" %><br>
        <%= reg.select :ticket_type_old, [
                ['Partner ticket', 'sponsor'],
                ['Volunteer', 'volunteer'],
                ['Reviewer', 'reviewer'],
                ['Organizer', 'organizer'],
                ['Student', 'student'],
                ['Academic', 'academic']
        ] %>
    <% end %>

    <%= f.label :company %>
    <%= text_field(:user, :company, :class => 'input-xlarge') %>
    <br/>
    <%= f.submit "Create!", :class => "btn btn-primary" %>
<% end %>