<% content_for :title, @user.name %>

<h2 class="page_title">My profile</h2>

<div class="row">
  <table class="table span5">
    <tr>
      <th>Name:</th>
      <td><%= h @user.name %></td>
    </tr>
    <tr>
      <th>Company:</th>
      <td><%= h @user.company %></td>
    </tr>
    <tr>
      <th>Role:</th>
      <td><%= h @user.roles_description %></td>
    </tr>
    <tr>
      <th>E-mail:</th>
      <td><%= h @user.email %></td>
    </tr>
    <tr>
      <th>Phone number:</th>
      <td><%= h @user.phone_number %></td>
    </tr>
    <tr>
      <th>Sex:</th>
      <td><%= h @user.female ? "Female" : "Male" %></td>
    </tr>
    <tr>
      <th>Birthyear:</th>
      <td><%= h @user.birthyear %></td>
    </tr>

    <% if @user.registration %>
        <tr>
          <th>Ticket type:</th>
          <td><%= h @user.registration.ticket_description %></td>
        </tr>
        <tr>
          <th>Conference dinner:</th>
          <td><%= @user.registration.includes_dinner ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th>Price:</th>
          <td><%= @user.registration.ticket_price %></td>
        </tr>
        <% if @user.registration.manual_payment %>
            <tr>
              <th>Invoice adress:</th>
              <td><%= @user.registration.invoice_address %></td>
            </tr>
            <tr>
              <th>Invoice information:</th>
              <td><%= @user.registration.invoice_description %></td>
            </tr>
        <% end %>
    <% end %>
    <% if admin? && @user.registration %>
        <tr>
          <th>Status:</th>
          <td><%= @user.registration.status %></td>
        </tr>
    <% end %>
  </table>
</div>

<% unless @user.talks.blank? %>
    <h3>Suggested talks</h3>
    <ul class="talk_list">
      <% for talk in @user.talks %>
          <li><%= link_to h(talk.title), talk %></li>
      <% end %>
    </ul>
<% end %>

<h3>Participant information</h3>
<%= render :partial => @user.registration %>
<%= link_to "Make changes to your registration", edit_user_path(@user), :class => "btn btn-primary" %>
