<% content_for :title, @user.name %>

<h2 class="page_title">User details</h2>
You are logged in, <%=link_to_unless_current "Log out", logout_path %>.<br /><br />

We have registered the following information about you:

<ul>
  <li><strong>Name:</strong> <%=h @user.name %></li>
  <li><strong>Company:</strong> <%=h @user.company %></li>
  <li><strong>Role: </strong> <%=h @user.roles_description %></li>
  <li><strong>E-mail:</strong> <%=h @user.email %></li>
  <li><strong>Zip:</strong> <%=h @user.zip%></li>
  <li><strong>City:</strong> <%=h @user.city %></li>
  <li><strong>Phone number:</strong> <%=h @user.phone_number %></li>
  <li><strong>Sex:</strong> <%=h @user.female ? "Female" : "Male" %></li>
  <li><strong>Birthyear:</strong> <%=h @user.birthyear %></li>

  <% if @user.registration %>
    <li><strong>Ticket type:</strong> <%=h @user.registration.description %></li>
    <li><strong>Conference dinner:</strong> <%= @user.registration.includes_dinner ? "Yes" : "No" %></li>
    <li><strong>Price:</strong> <%= @user.registration.ticket_price %></li>
  <% end %>
  <% if admin? && @user.registration %>
    <li class="admin"><strong>Status:</strong> <%= @user.registration.status%></li>
  <% end %>
</ul>

<% unless @user.talks.blank? %>
  <h3>Suggested talks</h3>
  <ul>
    <% for talk in @user.talks %>
      <li><%= link_to h(talk.title), talk %></li>
    <% end %>
  </ul>
<% end %>

<% if @user.registration %>
    <h3>Participant information</h3>
    <%= render :partial => @user.registration %>
    <%= link_to "Make changes to your registration", edit_user_path(@user) %>
<% else %>
    <h3>Participant information</h3>
    <%= render :partial => @user.registration %>
    <%= link_to "Make changes to your registration", edit_user_path(@user) %>
<% end %>