<% if registration.free_ticket %>

    <% unless registration.registration_complete %>
        <p>
          You will be notified when your registration is approved, at least two weeks before the
          conference starts. If you are not approved, you will get the opportunity to buy a ticket
          at the price valid at registration time.
        </p>
    <% end %>

<% elsif registration.registration_complete %>

    Payment is registered. See you at Booster!
<% else %>
    <p>
      An invoice for NOK <%= registration.ticket_price %> + VAT will be sent to you. This page will be updated when payment is registered.
    </p>
<% end %>


<% if admin? %>
    <h3 style="color:red">Admin: Register payment</h3>

    <p>
      <%= link_to "Update registration manually", edit_registration_path(@user.registration) %>
    </p>

    <p>
      <%= link_to "Register abstract for this user", assign_talk_path(@user) %>
    </p>

    <p>
      <%= link_to "Print name tag", nametag_path(@user, :format => 'pdf') %>
    </p>
    <p>
      <% unless @user.bio %>
          <%= link_to "Add user bio", :controller => 'users', :action => 'create_bio', :id => params[:id] %>
      <% end %>
    </p>
<% end %>
