<article class="inner">
  <div class="header-join">
<h2>Deleting the user <%=@registration.user.full_name%></h2>
  </div>
<p>
  Deletion is non-reversable on this system. If you are certain that you will remove <%=@registration.user.full_name%>, type
  the first three letters of the name in the text box below.
</p>

<%= form_tag("/registrations/#{@registration.id}", :method => :delete) do -%>
  <%= hidden_field_tag 'name', @registration.user.full_name %>
  <%= text_field_tag "confirmation" %>
  <%= submit_tag 'Slett bruker'%>
<% end -%>
