<% if admin? %>
<h2>Admin: Payment information for <%=h @registration.user.name %></h2>
  <p>
    User registered on: <%= @registration.created_at.to_date %>.
  </p>
  <p>
    Ticket price: NOK <%= @registration.price %> 
  </p>

  <% if @registration.registration_complete %>
    <strong>Payment is registered. </strong>
  <% end %>

  <p>
    Before sending the invoice, make sure you have the right email. Users have been known to register more than once, with different email addresses. 
  </p>
  <strong>Invoice recipient email: <%= @registration.user.email %></strong>

  <h4>Update payment information</h4>

  <%= form_for @registration do |f| %>
    <% unless @registration.free_ticket %>
      <label>Invoice manually
        <%= f.check_box :manual_payment %>
      </label>
        <label>Has been invoiced 
          <%= f.check_box :invoiced %>
        </label>
    <% end %>
    <% unless @registration.registration_complete %>
      <%= hidden_field_tag :ticket_change %>
      <label for="ticket_type_old">Ticket type</label>
      <%= f.select :ticket_type_old, Registration::TICKET_TEXTS.invert.to_a %>
      <label for="invoice_description">Invoice information</label>
      <%= f.text_area :invoice_description, :rows => 4 %>
      <label>Participates at the dinner
        <%= f.check_box :includes_dinner %>
      </label>
    <% end %>
    <label for="comments">Admin comments</label>
    <%= f.text_area :comments, :rows => 5 %>
    <label for="payment_reference">Payment reference</label>
    <%= f.text_field :payment_reference %>
    <label for="paid_amount">Paid amount</label>
    <%= f.text_field :paid_amount %>
    <label>
      <%= case @registration.ticket_type_old
          when "speaker" then "Presentation accepted"
          when "volunteer" then "Registration confirmed"
          when "organizer" then "Registration confirmed"
          when "early_bird" then "Payment received"
          when "full_price" then "Payment received"
          else "Registration is paid/confirmed"
        end %>
      <%= f.check_box :registration_complete %>
    </label>
    <%= f.submit "Update payment", :class => "btn" %>
  <% end %>

</div>
<% end %>
