<article class="inner">
  <div class="header-join">
    <h2>Users</h2>
  </div>

  <% if @registrations.length > 0 %>

    <h3><%= @registrations.length %> users:</h3>

    <table class="table table-striped">
      <tr>
        <th>User id</th>
        <th>User</th>
        <th>Email</th>
        <th>Registered</th>
        <th>Evil delete</th>
      </tr>
      <% for registration in @registrations %>
        <% if registration.user.nil? %>
          BAD DATA for this registration with id <%= registration.id %> at <%= registration.updated_at %> . This means
          that the user on the registration is nil. This might mean
          that a co-speaker has not registered yet.
          <br/>
          <% next %>
        <% end %>
        <tr>
          <td>
            <%= registration.user.id %>
          </td>
          <td>
            <% if registration.unfinished %>
                  <span style="color: red; font-weight: bold">
                    <%= link_to h('[U]'), registration.user %>
                  </span>
            <% else %>
              <%= link_to h(registration.user.full_name), registration.user %>
            <% end %>
            (<%= h registration.user.company %>)
          </td>
          <td>
            <%= link_to h(registration.user.email), "mailto:#{h(registration.user.email)}" %>
          </td>
          <td><%= time_ago_in_words(registration.created_at) %> ago</td>
          <td>
            <%= link_to_unless(registration.paid?, 'Delete user', {:controller => "registrations", :action => "destroy", :id => registration.id}, :method => :delete) %>
          </td>
        </tr>
      <% end %>
  <% else %>
    <p>No users found</p>
  <% end %>
  </table>
</article>
