<h2>Users</h2>


<%=

    #x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
    #colors = %w(00ff00 0000ff ff0000 00ffff ffff00 ff00ff)
    #line_chart_xy = GoogleChart::LineChart.new('600x300', "Register users", false) do |lc|
    #  lc.axis :y, :range => [0,@all_per_date.max]
    #  lc.axis :x, :labels => x_labels
    #  lc.grid :y_step => 100.0/(@all_per_date.max / 50.0)
    #  lc.data "Totalt", @all_per_date, colors.pop
    #  for ticket_type_old in @registrations_per_ticket_type_old_per_date.keys
    #    lc.data ticket_type_old, @registrations_per_ticket_type_old_per_date[ticket_type_old], colors.pop
    #  end
    #end
    #image_tag line_chart_xy.to_url
%>

<%=
    #x_labels = (0...@date_range.length).select { |i| i%10 == 0 }.collect { |i| @date_range[i].strftime("%d %b") }
    #line_chart_xy = GoogleChart::LineChart.new('600x300', "Innbetalt deltageravgift", false) do |lc|
    #  lc.axis :y, :range => [0,@income_per_date.max]
    #  lc.axis :x, :labels => x_labels
    #  lc.grid :y_step => 100.0/(@income_per_date.max / 50000.0)
    #  lc.data "Kroner", @income_per_date, '0000ff'
    #end
    #image_tag line_chart_xy.to_url
%>

<h3>Requires follow-up</h3>

<ul>
  <li><%= link_to "Paypal users that haven't paid yet", :filter => 'skal_foelges_opp' %>. These must be contacted to
    hear if they will try to pay again, receive an invoice, or not participate at all. Note: Paypal is no longer a payment option. 
  </li>
  <li><%= link_to "To be invoiced", :filter => 'skal_faktureres' %>. Send to André to invoice (for now).
  </li>
  <li><%= link_to "Has been invoiced", :filter => 'er_fakturert' %>. When we receive a payment, we need to update these users.
  </li>
</ul>


<h3>Other searches</h3>

<ul>
  <li><%= link_to "All" %></li>
  <% for ticket_type_old in @ticket_type_olds %>
      <li><%= link_to ticket_type_old, :conditions => {:ticket_type_old => ticket_type_old} %></li>
  <% end %>
  <li><%= link_to "Completed", :filters => 'completed' %></li>
  <li><%= link_to "Not completed", :filters => 'not_completed' %></li>
  <li><%= link_to "Dinner registrations", :conditions => {:includes_dinner => true} %></li>
</ul>

<%=  link_to "Send welcome email", :send_welcome_email_url %>
<br />
<%=  link_to "Send test welcome email", :send_test_welcome_email_url %>

<% unless @registrations.length == 0 %>

    <h3><%= @registrations.length %> brukere:</h3>

    <table class="table table-striped">
      <tr>
        <th>UserID</th>
        <th>User</th>
        <th>Email</th>
        <th>Registered</th>
        <th>Ticket</th>
        <th>Status</th>
        <th>Paid</th>
        <th>Invoice</th>
        <th>&nbsp;</th>
      </tr>
      <% for registration in @registrations %>
          <% if registration.user.nil? %>
              BAD DATA for this registration with id <%= registration.id %> at <%= registration.updated_at %>
              <br/>
              <% next %>
          <% end %>
          <tr>
            <td>
              <%= registration.user.id %>
            </td>
            <td>
              <% if registration.unfinished %>
                  <span style="color: red; font-weight: bold">
                    <%= link_to h('[U]'), registration.user %>
                  </span>
              <% else %>
                <%= link_to h(registration.user.name), registration.user %>
              <% end %>
              (<%= h registration.user.company %>)
            </td>
            <td>
              <%= link_to h(registration.user.email), "mailto:#{h(registration.user.email)}" %>
            </td>
            <td><%= time_ago_in_words(registration.created_at) %> ago</td>
            <td>
              <%= h registration.ticket_type_old %>
              <% if %w(lightning speaker).include?(registration.ticket_type_old) %>
                  (<%= registration.user.talks.size %> abstracts)
              <% end %>
            </td>
            <td>
              <%= h registration.status %>
            </td>
            <td>
              <%= registration.paid_amount %>
            </td>
            <td>
              <% if registration.invoice.present? %>
                <%= link_to('Invoice', registration.invoice) %>
              <% end %>
            </td>
            <td>
              <%= link_to_unless(registration.paid?, 'Slett bruker', :action => 'confirm_delete', :id => registration.id) %>
            </td>
          </tr>
      <% end %>

<% else %>
    <p>Ingen brukere funnet</p>
<% end %>
</table>