<%= form_for(@sponsor) do |f| %>
  <% if @sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
      <% @sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :contact_person %><br />
    <%= f.text_field :contact_person %>
  </p>
  <p>
    <%= f.label :contact_person_phone_number %><br />
    <%= f.text_field :contact_person_phone_number %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
   <p>
    <%= f.label :invoiced %><br />
    <%= f.date_select :invoiced, :include_blank => true, :default => nil, :start_year => Time.now.year, :end_year => Time.now.year + 1 %>
  </p>
  <p>
    <%= f.label :paid %><br />
    <%= f.date_select :paid, :include_blank => true, :default => nil, :start_year => Time.now.year, :end_year => Time.now.year + 1 %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.collection_select :user_id, @users, :id, :name, :prompt => "Velg ansvarlig" %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.collection_select :status, Sponsor::STATES, :first, :last %>
  </p>
  <p>
    <%= f.label :was_sponsor_last_year %><br />
    <%= f.check_box :was_sponsor_last_year %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
