<div class="form-horizontal">

  <%= form_for @sponsor, html: { multipart: true } do |f| %>

      <% if @sponsor.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@sponsor.errors.count, "error") %> prohibited this partner from being saved:</h2>

            <ul>
              <% @sponsor.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
          <%= text_field(:sponsor,:name) %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Contact person</label>

        <div class="controls">
          <%= f.text_field :contact_person_first_name, placeholder: "First name" %>
          <%= f.text_field :contact_person_last_name, placeholder: "Last name" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Phone</label>

        <div class="controls">
          <%= f.text_field :contact_person_phone_number %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">E-mail</label>

        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Our contact</label>

        <div class="controls">
          <%= f.collection_select :user_id, @users, :id, :full_name, :include_blank => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :status, :class => "control-label" %>
        <div class="controls">
          <%= f.collection_select :status, Sponsor::STATES, :first, :last %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <label class="textbox">
            <%= f.check_box :was_sponsor_last_year %>
            Was sponsor last year
          </label>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :location, :class => "control-label" %>
        <div class="controls">

          <%= f.text_field :location %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :website, :class => "control-label" %>
        <div class="controls">

          <%= f.text_field :website %>
        </div>
      </div>

      <div class="control-group">
        <%= image_tag @sponsor.logo if @sponsor.logo.present? %>
        <%= f.label :logo, :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :logo %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :publish_logo, :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :publish_logo %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Update', :class => "btn btn-primary" %>
      </div>
  <% end %>

</div>
