<script type="text/javascript">
    /* Create an array with the values of all the select options in a column */
    $.fn.dataTable.ext.order['dom-select'] = function  ( settings, col ){
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
            return $('select', td).val();
        } );
    };
    $(document).ready(function () {

                $(".email").bind("ajax:success",
                        function(evt, sponsor, status, xhr) {
                            showNotification({
                                message: "Email sent",
                                autoClose: true,
                                duration: 2
                            });

                            $('#sponsor_email_' + sponsor.id).hide();

                        }).bind("ajax:error", function (evt, data, status, xhr) {
                            showNotification({
                                message: "Oops! an error occurred.",
                                type: "error",
                                autoClose: true,
                                duration: 2
                            });
                        });

        $('#sponsors').dataTable({
            "ordering": true,
            "paging": false,
            "stateSave": true,
            "columnDefs": [ {
                  "targets": 'empty-header',
                  "searchable": false,
                  "sortable": false
                },
                {
                  "targets": 2,
                   "orderDataType": "dom-select",
                   "searchable": false
                },
                {
                  "targets": 3,
                   "visible": false,
                   "searchable": true
                }]
        });
    });
//    function updateStatus(id, status) {
//                    alert('Updated ' + id + ' to ' + status);
//                }
</script>
<h1>Sponsor list</h1>

<div id="notice">
    <%= render "shared/notice" %>
</div>

<a href="#" class="toggle">Show/hide statistics</a><br/>
<div class="stats" style="display:none">
  <table class="table table-striped">
    <tr>
      <td>Accepted:</td>
      <td><%= Sponsor.count(:conditions => "status = 'accepted'") %></td>
    </tr>

    <tr>
      <td>Declined:</td>
      <td><%= Sponsor.count(:conditions => "status = 'declined'") %></td>
    </tr>
    <tr>
      <td>In Dialogue:</td>
      <td><%= Sponsor.count(:conditions => "status = 'dialogue'") %></td>
    </tr>
    <tr>
      <td>Suggested (with email):</td>
      <td><%= Sponsor.count(:conditions => "status = 'suggested' AND email != '' ") %></td>
    </tr>
    <tr>
      <td>Suggested (missing email):</td>
      <td><%= Sponsor.count(:conditions => "status = 'suggested' AND email = ''") %></td>
    </tr>
    <tr>
      <td>Contacted:</td>
      <td><%= Sponsor.count(:conditions => "status = 'contacted'") %></td>
    </tr>
    <tr>
      <td>Reminded:</td>
      <td><%= Sponsor.count(:conditions => "status = 'reminded'") %></td>
    </tr>
    <tr>
      <td>Don't ask</td>
      <td><%= Sponsor.count(:conditions => "status = 'never'") %></td>
    </tr>
    <tr>
      <td>Last year:</td>
      <td><%= Sponsor.count(:conditions => "was_sponsor_last_year = 't'") %></td>
    </tr>
    <tr>
      <td>Both years:</td>
      <td><%= Sponsor.count(:conditions => "status = 'accepted' AND was_sponsor_last_year = 't'") %></td>
    </tr>
  </table>

  <table class="table table-striped">
    <tr>
      <th>Navn</th>
      <th>Antall sponsorer</th>
    </tr>

    <% @number_of_sponsors_per_user.each { |row| %>
        <tr>
          <td><%= row[0] %></td>
          <td> <%= row[1] %></td>
        </tr>
    <% } %>
  </table>
</div>

<a href="#" class="toggleevents">Show/hide latest <%= @events.length %> events</a><br/>

<div class="events" style="display: none;">
  <%= render @events %>
</div>

<script>

    $(".toggle").click(function () {
        $(".stats").toggle();
    });

    $(".toggleevents").click(function () {
        $(".events").toggle();
    });
</script>

<table id="sponsors" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Responsible committee member</th>
    <th class='extractor-select'>Status</th>
    <th>Status text</th>
    <th>Has Email?</th>
    <th>Invoice?</th>
    <th>Sponsor last year</th>
    <th class="empty-header"></th>
    <th class="empty-header"></th>
    <th class="empty-header"></th>
    <th class="empty-header"></th>
    </tr>
  </tr>
  </thead>
  <tbody>
  <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= h sponsor.name[0..25] %></td>
        <td><%= h sponsor.user ? sponsor.user.name : "" %></td>

        <td>
          <%= form_for(sponsor, :html => { :style => 'margin: 0;' }, :remote => true, :method => :put) do |f| %>
            <%= f.select(:status,
                         options_from_collection_for_select(Sponsor::STATES, :first, :last, sponsor.status), {},
                         {:style => "margin-bottom: 0; width: 130px;", :onchange => "$(this).parent('form').submit();"} ) %>
          <% end %>
        </td>

        <td><%= h sponsor.status_text %></td>
        <td><%= h sponsor.has_email? ? "Yes" : "No" %></td>
        <td><%= h sponsor.invoice_status %></td>
        <td><%= h sponsor.was_sponsor_last_year? ? "Yes" : "No" %></td>
        <td><%= link_to image_tag('mimiglyphs/31.png'), sponsor %></td>
        <td><%= link_to image_tag('mimiglyphs/39.png'), edit_sponsor_path(sponsor) %></td>
        <td><%= link_to image_tag('mimiglyphs/51.png'), sponsor, :confirm => 'Are you sure?', :method => :delete %></td>
        <td>
          <% if sponsor.is_ready_for_email? %>
              <%= link_to image_tag('mimiglyphs/57.png'), api_sponsor_email_path(sponsor), method: :post,
                          remote: true, class: 'email', id: "sponsor_email_#{sponsor.id}" %>
          <% end %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>

<br/>

<%= link_to 'New sponsor', new_sponsor_path %>
