<script type="text/javascript">
    $(document).ready(function () {

        $(".email").bind("ajax:error", function (evt, data, status, xhr) {
            $.notify("Oops! an error occurred.", "error");
        });

        $("#sponsors").tablesorter({
            theme: 'blue',
            // use save sort widget
            widgets: ["saveSort"]
        });

        $("#sponsors").sieve({
            itemSelector: 'tbody tr',
            textSelector: 'td:not(.no-filter), td select option[selected]',
            searchTemplate: "<div style='float: right;'><label>Search: <input type='text'></label></div>"
        });

        $(".toggle").click(function () {
            $(".stats").toggle();
        });

        $(".toggleevents").click(function () {
            $(".events").toggle();
        });
    });
</script>

<h1>Partner list</h1>

<a href="#" class="toggle">Show/hide statistics</a><br/>
<div id="stats" class="stats" style="display:none">
  <%= render partial: 'sponsors/stats' %>
</div>

<a href="#" class="toggleevents">Show/hide latest <%= @events.length %> events</a><br/>

<div id="events" class="events" style="display: none;">
  <%= render @events %>
</div>

<table id="sponsors" class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Responsible</th>
    <th class="extractor-select">Status</th>
    <th>Has Email?</th>
    <th>Invoice?</th>
    <th>Partner last year</th>
    <th colspan="4"></th>
    </tr>
  </tr>
  </thead>
  <tbody>
  <% @sponsors.each do |sponsor| %>
      <tr id='row-id-<%=sponsor.id %>'>
        <%= render partial: 'sponsors/tablerow', locals: {sponsor: sponsor} %>
      </tr>

  <% end %>

  </tbody>
</table>

<br/>

<%= link_to 'New partner', new_sponsor_path %>
