<script type="text/javascript">
    $(document).ready(function()
        {
            $("#sponsors").tablesorter();
        }
    );
</script>
<h1>Sponsor list</h1>

<p>
Accepted: <%= Sponsor.count(:conditions => "status = 'accepted'") %>,
Declined: <%= Sponsor.count(:conditions => "status = 'declined'") %>,
In Dialogue: <%= Sponsor.count(:conditions => "status = 'dialogue'") %>,
Suggested: <%= Sponsor.count(:conditions => "status = 'suggested'") %>,
Contacted: <%= Sponsor.count(:conditions => "status = 'contacted'") %>,
Reminded: <%= Sponsor.count(:conditions => "status = 'reminded'") %>,
Last year: <%= Sponsor.count(:conditions => "was_sponsor_last_year = 't'") %>,
Both years: <%= Sponsor.count(:conditions => "status = 'accepted' AND was_sponsor_last_year = 't'") %>
</p>
<table id="sponsors" class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th style="min-width: 80px;">Invoiced</th>
            <th style="min-width: 80px;">Paid</th>
            <th>User</th>
            <th>Status</th>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody>
    <% @sponsors.each do |sponsor| %>
        <tr class='<%= sponsor.was_sponsor_last_year? ? "sponsor_last_year" : "" %>'>
            <td><%=h sponsor.name[0..25] %></td>
            <td><%=h sponsor.invoiced %></td>
            <td><%=h sponsor.paid %></td>
            <td><%=h sponsor.user ? sponsor.user.name : "" %></td>
            <td><%=h sponsor.status_text %></td>
            <td><%= link_to image_tag('mimiglyphs/31.png'), sponsor %></td>
            <td><%= link_to image_tag('mimiglyphs/39.png'), edit_sponsor_path(sponsor) %></td>
            <td><%= link_to image_tag('mimiglyphs/51.png'), sponsor, :confirm => 'Are you sure?', :method => :delete %></td>
            <td>
                <% if sponsor.is_ready_for_email? %>
                    <%= link_to image_tag('mimiglyphs/57.png'), email_sponsor_path(sponsor), :confirm => 'Are you sure?', :disabled => sponsor.status != 'suggested', :method => :post  %>
                <% end %>
            </td>
        </tr>
    <% end %>

    </tbody>
</table>

<br />

<%= link_to 'New sponsor', new_sponsor_path %>
