<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%=h @sponsor.name %>
</p>

<p>
  <b>Contact person:</b>
  <%=h @sponsor.contact_person_name %>
</p>

<p>
  <b>Contact person phone number:</b>
  <%= h @sponsor.contact_person_phone_number %>
</p>

<p>
  <b>Location:</b>
  <%= h @sponsor.location %>
</p>

<p>
  <b>Email:</b>
  <%=h @sponsor.email %>
</p>

<p>
  <b>Last contacted:</b>
  <%=h @sponsor.last_contacted_at %>
</p>

<p>
  <b>Status:</b>
  <%=h @sponsor.status_text %>
</p>

<p>
  <b>Invoiced:</b>
  <%=h @sponsor.invoiced %>
</p>

<p>
  <b>Paid:</b>
  <%=h @sponsor.paid %>
</p>

<p>
  <b>User:</b>
  <%=h @sponsor.user ? @sponsor.user.name : "" %>
</p>

<p>
  <b>Was sponsor last year:</b>
  <%=h @sponsor.was_sponsor_last_year ? "Yes" : "No" %>
</p>

<p>
  <b>Comments:</b>
  <%= render @sponsor.events %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>