<article class="inner" id="new-order">
  <div class="header-join">
    <h2>New order</h2>
  </div>
  <p id="notice"><%= notice %></p>
  <%= form_for(@new_order_request, url: orders_path, method: :post) do |f| %>
  <div>
    <h4>Orders</h4>
    <%- if(@new_order_request.errors.any?) -%>
    <ul class="errors">
      <%- @new_order_request.errors.full_messages.each do |message| -%>
      <li><%= message %></li>
      <%- end -%>
    </ul>
    <%- end -%>

    <div class="form-group">
      <%= f.label :tickets, "Tickets to include in order" %>
      <table id="order-tickets" class="table table-condensed table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Company</th>
            <th>Ticket type</th>
          </tr>
        </thead>
        <tbody>
          <%- Ticket.all_unordered.includes(:ticket_type).select { |t| t.ticket_type.has_fiken_product_reference? }.each do |ticket| %>
          <tr>
            <td><%= check_box_tag "order_creation_form[ticket_ids][]", ticket.id, @new_order_request.tickets.include?(ticket) if(ticket.ticket_type.has_fiken_product_reference?) %></td>
            <td><%= ticket.id %></td>
            <td><%= ticket.name %></td>
            <td><%= ticket.email %></td>
            <td><%= ticket.company %></td>
            <td><%= ticket.ticket_type.name %></td>
          </tr>
          <%- end -%>
        </tbody>
      </table>
    </div>

    <label>New or existing order in fiken?</label>
    <fieldset class="form-group">
      <span class="checkbox-btn">
        <%= f.radio_button :new_order, true, id: "new_sale", :class => "input-checkbox new-order-field" %>
        <label for="new_sale" class="btn btn-checkbox">New</label>
      </span>
      <span class="checkbox-btn">
        <%= f.radio_button :new_order, false, id: "existing_sale", :class => "input-checkbox new-order-field" %>
        <label for="existing_sale" class="btn btn-checkbox">Existing</label>
      </span>
    </fieldset>

    <fieldset id="existing-sale-fieldset">
      <div class="form-group">
        <%= f.label :fiken_existing_sale_invoice_id, "Existing fiken sale \"fakturanummer\"" %>
        <%= f.text_field :fiken_existing_sale_invoice_id, :class => "form-control"%>
      </div>
    </fieldset>

    <label>New or existing customer in fiken?</label>
    <fieldset id="new-sale-fieldset">
      <fieldset class="form-group">
        <span class="checkbox-btn">
          <%= f.radio_button :new_customer, true, id: "new_customer", :class => "input-checkbox new-customer-field" %>
          <label for="new_customer" class="btn btn-checkbox">New customer</label>
        </span>
        <span class="checkbox-btn">
          <%= f.radio_button :new_customer, false, id: "existing_customer", :class => "input-checkbox new-customer-field" %>
          <label for="existing_customer" class="btn btn-checkbox">Existing customer</label>
        </span>
      </fieldset>
      <div class="form-group" id="existing-customer-form-group">
        <%= f.label :fiken_customer_uri, "Customer: " %><br />
        <%= f.select :fiken_customer_uri, @customers, :class => "form-control"%>
      </div>
      <fieldset id="new-customer-form-group">
        <%- if(@new_order_request.customer_details.errors.any?) -%>
        <ul class="errors">
          <%- @new_order_request.customer_details.errors.full_messages.each do |message| -%>
          <li><%= message %></li>
          <%- end -%>
        </ul>
        <%- end -%>
        <%= f.fields_for :customer_details, @new_order_request.customer_details do |cf| %>
          <div class="form-group">
            <%= cf.label :name, "Customer name" %>
            <%= cf.text_field :name, :class => "form-control"%>
          </div>
          <div class="form-group">
            <%= cf.label :email, "Customer email" %>
            <%= cf.text_field :email, :class => "form-control"%>
          </div>
        <%- end -%>
      </fieldset>
      <div class="form-group">
        <%= f.label :their_reference, "Their reference (not required): " %><br />
        <%= f.text_field :their_reference, :class => "form-control"%>
      </div>
    </fieldset>
  </div>
  <%= f.submit "Create order from selected tickets" %>
  <%- end -%>
</article>