<article class="inner">
  <div class="header-join">
<h2>Thank you for registering partner tickets!</h2>
</div>
<p>
  We've now registered <%= @tickets.count %> tickets for <%= @sponsor.name %>. They have been assigned
  to the following email addresses:
</p>

<ul>
  <% @tickets.each do |ticket| %>
      <li>
        <%= ticket.email %> (<%= ticket.ticket_type.name%> - NOK <%= ticket.ticket_type.price %>)
      </li>
  <% end %>
</ul>

</article>
