<article class="inner">
  <div class="header-join">
    <h2>Partner ticket registration</h2>
  </div>

  <% if flash[:error] %>
      <div id='notifications'>
        <div class='alert alert-warning'><%= flash[:error] %></div>
      </div>
  <% end %>

  <p>
    Fill in the form below, and we will be able to give you a personalized name tag at the conference venue, and send you
    any necessary information about the conference via email.
  </p>

  <%= form_for @ticket, url: tickets_create_from_reference_path do |f| %>
      <%= f.hidden_field :reference, value: @reference %>
      <fieldset class="form-group">
        <%= f.label :name, "Name" %>
        <%= text_field(:ticket, :name, placeholder: "What's your name", class: 'form-control input-short', required: true) %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :email %>
        <%= email_field(:ticket, :email, placeholder: "Where can we email you?", class: 'form-control input-short', required: true) %>
      </fieldset>

      <label>What role(s) do you have?</label>
      <fieldset class="form-group">
        <% Roles.all.each do |role| %>
        <span class="checkbox-btn">
          <%= check_box_tag "roles[]", role, false, id: "roles_#{role}", :class => "input-checkbox" %>
          <label for="roles_<%=role%>" class="btn btn-checkbox"><%= Roles.label[role] %></label>
        </span>
        <% end %>
      </fieldset>

      <div class="checkbox">
        <label>
          <%= f.check_box :attend_dinner, class: "checkbox" %>
          I'd like to attend the conference dinner on Wednesday
        </label>
      </div>
      <fieldset class="form-group">
        <%= f.label :dietary_info, "Dietary requirements (allergy/vegetarian)?" %>
        <%= f.text_area :dietary_info, :class => "form-control input-md" %>
      </fieldset>

      <small class="text-muted">By registering, you accept that we can send you email about the conference.</small>

      <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
      <% end %>

      <div class="form-actions">
        <%= button_to "Save", tickets_path, data: { disable_with: 'Saving..' }, class: "btn btn-primary" %>
      </div>
  <% end %>
</article>
