<article class="inner">
  <div class="header-join">
    <h2>Get your ticket for Booster <%= Dates::CONFERENCE_YEAR %></h2>
  </div>

  <p>
    Registering several people and want a common invoice? Use our
    <%= link_to 'group registration', new_group_registration_url %>!
  </p>


  <p id="price_info">
    Price: NOK <%= number_with_precision(@ticket_type.price, precision: 0) %>,- (excluding VAT, <%= number_with_precision(@ticket_type.price_with_vat, precision: 0) %> including VAT).
  </p>
  <%- if(notice) %>
  <p><%= notice %></p>
  <%- end %>
    <%= form_for(@ticket_order_form, url: tickets_path, method: :post) do |f| %>
    <fieldset class="attendee-form">
      <h3>Attendee info</h3>
      <%= f.fields_for :attendees, [@ticket_order_form.attendees.first || TicketOrder::Attendee.new] do |a_f| %>
        <fieldset class="form-group">
          <%= a_f.label :name, "Name" %>
          <%= a_f.text_field :name, class: 'form-control input-short', required: true, placeholder: "Name" %>
        </fieldset>
        <fieldset class="form-group">
          <%= a_f.label :email, "Email" %>
          <%= a_f.text_field :email, class: 'form-control input-short', required: true, placeholder: "Email" %>
        </fieldset>
        <fieldset class="form-group">
          <%= a_f.label :company, "Company" %>
          <%= a_f.text_field :company, class: 'form-control input-short', required: true, placeholder: "Company" %>
        </fieldset>
        <fieldset class="checkbox is_attending_dinner">
          <label>
            <%= a_f.check_box :is_attending_conference_dinner, class: "checkbox" %>
            I'd like to attend the conference dinner on Wednesday
          </label>
        </fieldset>
      <%- end -%>
    </fieldset>
    <% if current_user && current_user.is_admin %>
        <fieldset class="form-group">
          <label for="ticket_type">Ticket type</label>
          <%= f.collection_select :ticket_type_reference, TicketType.all, :reference, :name, {},  class: 'form-control admin' %>
        </fieldset>
    <% end %>

    <fieldset class="form-group">
      <%= f.label :how_did_you_hear_about_us, "How did you hear about us?" %>
      <%= f.text_area :how_did_you_hear_about_us, :class => "form-control input-md" %>
    </fieldset>

    <fieldset class="form-group" id="payment-method-select">
      <label>What payment method do you prefer?</label><br />
      <% TicketOrderForm.payment_method_types.each_with_index do |(payment_detail_type, label),i| %>
          <span class="checkbox-btn">
            <%= radio_button_tag "ticket_order_form[payment_details_type]", payment_detail_type, @ticket_order_form.payment_details_type == payment_detail_type, id: "payment_method_type_#{payment_detail_type}", :class => "input-radio" %>
            <label for="payment_method_type_<%=payment_detail_type%>" class="btn btn-checkbox"><%= label %></label>
          </span>
      <% end %>
    </fieldset>
    <fieldset id="invoice_fields">
      <h3>Invoice details</h3>
      <%= f.fields_for :invoice_details, @ticket_order_form.invoice_details do |i_f| %>
        <fieldset class="form-group">
          <%= i_f.label :name, "Name on invoice, your name or a company name (required)" %>
          <%= i_f.text_field :name, class: 'form-control input-short', placeholder: "Your name or a company name" %>
          <%= i_f.label :email, "Invoice email (required)" %>
          <%= i_f.text_field :email, class: 'form-control input-short', placeholder: "Email" %>

          <%= i_f.label :organizationIdentifier, "Organizational Identifier (org. nr.)" %>
          <%= i_f.text_field :organizationIdentifier, class: 'form-control input-short', placeholder: "org. nr." %>

          <%= i_f.label :invoice_reference, "Invoice reference" %>
          <%= i_f.text_field :invoice_reference, class: 'form-control input-short', placeholder: "e.g. PO number" %>

          <%= i_f.fields_for :address do |a_f| %>
            <%= a_f.label :address1, "Invoice address" %>
            <%= a_f.text_field :address1, class: 'form-control input-short', placeholder: "Address" %>

            <%= a_f.label :postalCode, "Postal code" %>
            <%= a_f.text_field :postalCode, class: 'form-control input-short', placeholder: "" %>

            <%= a_f.label :postalPlace, "Postal place" %>
            <%= a_f.text_field :postalCode, class: 'form-control input-short', placeholder: "" %>

            <%= a_f.label :country, "Country" %>
            <%= a_f.text_field :country, class: 'form-control input-short' %>
          <%- end -%>
        </fieldset>
      <%- end %>
    </fieldset>
    <fieldset id="company_invoice_fields">
      <h3>Employer info</h3>
      <p>We will invoice your employer for your ticket. If multiple attendees register we will invoice as a group. Your ticket must be confirmed by your employer before it is valid.</p>
      <%= f.fields_for :company_invoice_details, @ticket_order_form.company_invoice_details do |i_f| %>
        <fieldset class="form-group">
          <%= i_f.label :name, "Employer company name" %>
          <%= i_f.text_field :name, class: 'form-control input-short', placeholder: "Company name" %>
          <%= i_f.label :email, "Contact email" %>
          <%= i_f.text_field :email, class: 'form-control input-short', placeholder: "contact@company.org" %>
          <%= i_f.label :organizationIdentifier, "Organizational Identifier (org. nr.)" %>
          <%= i_f.text_field :organizationIdentifier, class: 'form-control input-short', placeholder: "org. nr." %>
        </fieldset>
      <%- end %>
    </fieldset>
    <p>Your ticket will be created and reserved once the “book now” button is pressed.<br /> Proceed in order to reserve your ticket.</p>
    <button class="btn btn-primary">Book now</button>
  <%- end %>
</article>
