<article class="inner">
  <div class="header-join">
    <h2>Get your ticket for Booster <%= Dates::CONFERENCE_YEAR %></h2>
  </div>

  <p>
    Registering several people and want a common invoice? Use our
    <%= link_to 'group registration', new_group_registration_url %>!
  </p>


  <p id="price_info">
    Price: NOK <%= @ticket.ticket_type.price %>,- (excluding VAT).
  </p>

  <%= form_for(@ticket) do |f| %>

      <fieldset class="form-group">
        <%= f.label :name, "Name" %>
        <%= text_field(:ticket, :name, placeholder: "What's your name", class: 'form-control', required: true) %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :email %>
        <%= email_field(:user, :email, placeholder: "Where can we email you?", class: 'form-control', required: true) %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :company, "Where do you work?" %>
        <%= text_field(:user, :company, placeholder: "Company", class: 'form-control', required: true) %>
      </fieldset>

      <label>What role(s) do you have?</label>
      <fieldset class="form-group" class="checkbox-group">
        <% Roles.all.each do |role| %>
            <span class="checkbox-btn">
              <%= check_box_tag "roles[]", role, false, id: "roles_#{role}", :class => "input-checkbox" %>
              <label for="roles_<%=role%>" class="btn btn-checkbox"><%= Roles.label[role] %></label>
            </span>
        <% end %>
      </fieldset>

      <div class="checkbox">
        <label>
          <%= f.check_box :attend_dinner, class: "checkbox" %>
          I'd like to attend the conference dinner on Wednesday
        </label>
      </div>
      <fieldset class="form-group">
        <%= f.label :dietary_info, "Dietary requirements (allergy/vegetarian)?" %>
        <%= f.text_area :dietary_info, :class => "form-control" %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :feedback, "How did you hear about us?" %>
        <%= f.text_area :feedback, :class => "form-control" %>
      </fieldset>

      <small class="text-muted">By registering, you accept that we can send you email about the conference.</small>

      <div id="register_submit">
        <%= f.submit "Register", class: 'btn btn-primary' %>
      </div>
  <% end %>
</article>
