<%= form_for @workshop, url: post_to do |f| %>
    <% @workshop.errors.full_messages.each do |msg| %>
        <p class="has-error"><%= msg %></p>
    <% end %>
    <fieldset class="form-group">
      <legend>Talk length</legend>
      <%= f.collection_select :talk_type_id, @talk_types, :id, :name_and_duration, {}, {:class => 'form-control'} %>
    </fieldset>

    <legend>Information visible for everyone</legend>
      The abstract will be published on the website as soon
      as you submit it, and will be used by the committee during talk selection. It is therefore important that you
      provide a detailed abstract. This will help us to select in the selection process and increase the chances
      of your talk being selected.
    <fieldset class="form-group">
      <%= f.label :title, "Title" %>

      <%= f.text_field :title, :class => "form-control", required: '' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :description, "Abstract" %>

      <%= f.text_area :description, :class => "tinymce span10" %>
      <% if @workshop.errors[:description].present? %>
          <div class="error-message">
            You must provide an abstract.
          </div>
      <% end %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :appropriate_for_roles, 'What role(s) is this workshop appropriate for?' %>
          <% Roles.all.each do |role| %>
              <div class="checkbox">
              <label>
                <%= check_box_tag "appropriate_for_roles[]", role, @workshop.appropriate_for_role?(role.to_s), :id => "appropriate_for_roles_#{role}" %>
                <%= Roles.label[role]  %>
              </label>
              </div>
          <% end %>
    </fieldset>

    <legend>Information visible only for the organizing committee and yourself</legend>

    <fieldset class="form-group">
      <%= f.label :outline, "Outline" %>
      <%= f.text_area :outline, :class => "tinymce span10" %>
    </fieldset>

    <%= tinymce %>

    <fieldset class="form-group">
      <%= f.label :max_participants, "Maximum number of participants for this talk (no less than 20, please): " %>
      <%= f.number_field :max_participants, in: 10..50, :class => 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :speaking_history, 'Have you held this presentation before? If so; where?' %>
      <%= f.text_area :speaking_history, :class => 'form-control', :rows => 5 %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :participant_requirements, 'What do the participants have to bring to the presentation?' %>
      <%= f.text_area :participant_requirements, :class => 'form-control', :rows => 5 %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :equipment, 'Do you need any extra equipment for your session? Any specific room setup?
      Leave comments for the organizers here.' %>
      <%= f.text_area :equipment, :class => 'form-control', :rows => 5 %>
    </fieldset>

    <% if @workshop.new_record? %>
        <%= render :partial => 'talks/additional', :locals => { :f => f } %>
    <% end %>

      Please be aware that by submitting a talk to Booster, you agree to follow our
      <%= link_to 'Code of Conduct', info_coc_path, target: '_new' %>.

    <div class="form-actions">
      <%= f.submit @workshop.new_record? ? 'Next' : 'Save changes', :class => 'btn btn-primary' %>
    </div>
<% end %>
