<%= render :partial => 'steps', :locals => {:active_id => "talk"} %>
<h2>What's your passion?</h2>

<p>
    Thou shalt interact, or we shall smite thee!

  You must be prepared to present the workshop in English, as there might be english speaking participants.
</p>

<%= form_for @talk, :url => '/register_workshop/create_talk' do |f| %>

    <div class="field type">
      <%= f.collection_select :talk_type_id, TalkType.workshops, :id, :name_and_duration, :class => 'input-xlarge' %>
    </div>

    <legend>Talk details</legend>
    <p>
      The abstract will be published on the website as soon
      as you submit it, and will be used by the committee during talk selection. It is therefore important that you
      provide a detailed abstract. This will help us to select in the selection process and increase the chances
      of your talk being selected.
    </p>
    <div class="field title">
      <%= f.label :title, "Title" %>

      <%= f.text_field :title, :size => "80", :class => "input-xxlarge" %>
    </div>

    <div class="field abstract">
      <%= f.label :description, "Abstract" %>

      <%= f.text_area :description, :class => "tinymce span10" %>
    </div>

    <%= tinymce %>

    <div class="field max_participants">
      <%= f.label :max_participants, "Maximum number of participants for this talk (no less than 20, please): " %>
      <%= f.text_field :max_participants, :class => 'input-small'%>
    </div>

    <div class="field participant_requirements">
      <%= f.label :participant_requirements, "What do the participants have to bring to the presentation?" %>
      <%= f.text_area :participant_requirements, :class => 'input-xxlarge', :rows => 5    %>
    </div>

    <div class="field equipment">
      <%= f.label :equipment, "Do you need any extra equipment for your session? Any specific room setup?
      Leave comments for the organizers here." %>
      <%= f.text_area :equipment, :class => 'input-xxlarge', :rows => 5  %>
    </div>

    <%= render :partial => 'talks/additional', :locals => {:f => f} %>

    <div class="form-actions">
      <%= f.submit "Next", :class => "btn btn-primary" %>
    </div>
<% end %>
