<article class="inner">
  <div class="header-join">
    <h2>Listing rooms</h2>
  </div>
<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %></td>
    <td><%= room.capacity %></td>
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<div class="form-actions">
<%= link_to 'New Room', new_room_path %>
</div>
</article>
