<article class="inner">
  <div class="header-join">
    <h2>Room <%= @room.name %></h2>
  </div>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>

<div class="form-actions">
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
</div>
</article>
