    <fieldset class="form-group">
      <legend>Language</legend>
      In what language will you deliver your talk? Please select the language you are most comfortable with.
      <p>
        <% if @talk.errors[:landuage].present? %>
          <div class="error-message">
            You must select a language.
          </div>
      <% end %>
      <label class="radio">
        <%= f.radio_button :language, 'english', required: '' %>
        English
      </label>
      <label class="radio">
        <%= f.radio_button :language, 'norwegian' %>
        Norwegian
      </label>
      </p>
    </fieldset>
    <legend>Talk details</legend>
    The abstract will be published on the website as soon
    as you submit it, and will be used by the organizers during talk selection. It is therefore important that you
    provide a detailed abstract. This will help us to select in the selection process and increase the chances
    of your talk being selected.
    <fieldset class="form-group">
      <%= f.label :title, "Title" %>

      <%= f.text_field :title, :size => "80", :class => "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :description, "Abstract" %>
      <%= f.text_area :description, :class => "tinymce span10" %>
      <% if @talk.errors[:description].present? %>
          <div class="error-message">
            You must provide an abstract.
          </div>
      <% end %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.check_box :hasSlides %>
      <%= f.label :hasSlides, "Abstract contains link to slides" %>
      <p>Checking this box will make a small icon appear next to the workshop in the program-view, so people can easily see which talks and workshops has slides. 
      You can edit your abstract after your workshop to include a link to slides.</p>
    </fieldset>

    <%= tinymce %>

    <fieldset class="form-group">
      <%= f.label :equipment, "Leave comments for the organizers here." %>
      <%= f.text_area :equipment, :class => 'form-control', :rows => 5 %>
    </fieldset>

    <% if admin? %>
        <fieldset class="form-group">
          <%= f.label :video_url, "Vimeo URL (admins only)" %>
          <%= f.text_field :video_url, :size => "80", :class => "form-control" %>
        </fieldset>
    <% end %>

    Please be aware that by submitting a talk to Booster, you agree to follow our
    <%= link_to 'Code of Conduct', info_coc_path, target: '_new' %>.
    <div class="form-actions">
      <%= f.submit @talk.new_record? ? 'Next' : 'Save changes', :class => 'btn btn-primary', data: {disable_with: "Submitting..."} %>
    </div>