<article class="inner">
  <div class="header-join">
<h2>Dinner reservations</h2>
</div>
<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Ticket type</th>
    <th>Conference dinner (<span id="conference_dinner_sum"></span>)</th>
    <th>Speaker's dinner (<span id="speakers_dinner_sum"></span>)</th>
  </tr>

  <% @registrations.each do |registration| %>
      <%= form_for(registration) do |f| %>
        <% if registration.user.present? && registration.ticket_type.present? %>
          <tr>
            <td><%= link_to registration.user.full_name, user_path(registration.user) %></td>
            <td><%= registration.ticket_type.name %></td>
            <td>
              <div class="checkbox">
                <%= f.check_box :includes_dinner, data: { "user-id" => registration.user.id }, :class => "conference_dinner checkbox" %>
              </div>

            <td>
              <% if registration.may_attend_speakers_dinner? %>
                  <div class="checkbox">
                    <%= f.check_box :speakers_dinner, data: { "user-id" => registration.user.id }, :class => "speakers_dinner checkbox" %>
                  </div>
              <% end %>
            </td>
          </tr>
          <% end %>
      <% end %>
  <% end %>
</table>

<script>
    function update_sums() {
        var speakers_dinner = 0;
        $(".speakers_dinner").each(function() {
            if($(this).is(":checked")) {
                speakers_dinner++;
            }
        });
        $("#speakers_dinner_sum").html(speakers_dinner);

        var conference_dinner = 0;
        $(".conference_dinner").each(function() {
            if($(this).is(":checked")) {
                conference_dinner++;
            }
        });
        $("#conference_dinner_sum").html(conference_dinner);
    }

    update_sums();

    $(".speakers_dinner").change(function() {
        var checkbox = $(this);
        var value = checkbox.is(":checked");
        var user_id = checkbox.attr("data-user-id");

        $.ajax("/dinner/attend_speakers_dinner", {
            type: "POST",
            data: {
                user_id: user_id,
                attend: value
            },
            success: function() { update_sums() },
            error: function() {
                checkbox.attr(":checked", !value);
            }
        });
    });

    $(".conference_dinner").change(function() {
        var checkbox = $(this);
        var value = checkbox.is(":checked");
        var user_id = checkbox.attr("data-user-id");

        $.ajax("/dinner/attend_conference_dinner", {
            type: "POST",
            data: {
                user_id: user_id,
                attend: value
            },
            success: function() { update_sums() },
            error: function() {
                checkbox.attr(":checked", !value);
            }
        });
    });
</script>

</article>
