<article class="inner">
  <div class="header-join">
    <h2>Dinner reservations</h2>
  </div>
  <table class="table table-striped">
    <tr>
      <th>User</th>
      <th>Ticket type</th>
      <th>Conference dinner (<%=@totalAttendingConferenceDinner%></span>)</th>
      <th>Speaker's dinner (<%=@totalAttendingSpeakersDinner%>)</th>
    </tr>

    <% @tickets.each do |ticket| %>
      <%= form_for(ticket) do |f| %>
        <tr>
          <td><%= ticket.name %></td>
          <td><%= ticket.ticket_type.name %></td>
          <td>
            <div class="checkbox">
              <%= f.check_box :attend_dinner, disabled: true %>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <%= f.check_box :attend_speakers_dinner, disabled: true %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</article>
