<div style="border-bottom: 1px solid #eeeeee">
  <h5><%= review.subject %></h5>
  <p>
    <strong>Date:</strong> <%= time_ago_in_words(review.created_at) %> ago (<%= review.created_at %>) <br/>
    <strong>By:</strong> <%= review.reviewer.name %> <br/>
    <%= simple_format review.text %>
  </p>
</div>
