<article class="inner">
  <div class="header-join">
<h2>Listing reviews</h2>
</div>

<h2>Workshops</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Talk</th>
    <th>Reviews</th>
    <th>Reviewed by me?</th>
  </tr>
</thead>
<tbody>
<% @workshops.each do |talk| %>
  <tr>
    <td><%= link_to "\"#{truncate(talk.title, length: 60)}\" by #{talk.speaker_name}", talk %></td>
    <td> <%= pluralize(talk.reviews.size, 'review') %></td>
    <td> <%= YesNo.new(talk.has_been_reviewed_by(current_user)) %></td>
  </tr>
<% end %>
</tbody>
</table>

<h2>Lightning talks</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Talk</th>
    <th>Reviews</th>
    <th>Reviewed by me?</th>
  </tr>
  </thead>
  <tbody>
  <% @lightning_talks.each do |talk| %>
      <tr>
        <td><%= link_to "\"#{truncate(talk.title, length: 60)}\" by #{talk.speaker_name}", talk %></td>
        <td> <%= pluralize(talk.reviews.size, 'review') %></td>
        <td> <%= YesNo.new(talk.has_been_reviewed_by(current_user)) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</article>
