<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Talk</th>
    <th>Type</th>
    <th>Reviews</th>
    <th>&nbsp;</th>
  </tr>

<% @talks_with_reviews.each do |talk, reviews| %>
  <tr>
    <td><%= talk.title %></td>
    <td><%= talk.type %></td>
    <td>
      <ul>
      <% reviews.each do |review| %>
        <li>
            <%= review.subject %> by <%= review.reviewer.name %>
        </li>
      <% end %>
      </ul>
      <strong>A total of <%= reviews.length %> reviews</strong>
    </td>
    <td><%= link_to 'Show', talk %></td>
  </tr>
<% end %>
</table>