<%= form_for(@timeslot) do |f| %>
  <% if @timeslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

      <ul>
      <% @timeslot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.label :day %>
    <%= f.text_field :day %>
    <%= f.label :time %>
    <%= f.text_field :time %> 
    <%= f.label :talk_id %>
    <%= f.text_field :talk_id %>
    <br />
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
<% end %>
