<h1>Timeslots</h1>

<table class="table table-striped">
  <tr>
    <th>Location</th>
    <th>Day</th>
    <th>Time</th>
    <th>Talk</th>
    <th></th>
    <th></th>
  </tr>

<% @timeslots.each do |timeslot| %>
  <tr>
    <td><%= timeslot.location %></td>
    <td><%= timeslot.day %></td>
    <td><%= timeslot.time %></td>
    <td><%= timeslot.talk ? (timeslot.talk.title + ' (' + timeslot.talk.speaker_name + ')') : '' %></td>
    <td><%= link_to 'Edit', edit_timeslot_path(timeslot) %></td>
    <td><%= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timeslot', new_timeslot_path %>
