<div id="notifications" class="row">
<%# TODO: Dette ser jævlig ut. Fikse! %>
  <% if flash[:notice] %>
      <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>

  <p style="color: orange"><%= flash[:warn] %></p>

  <p style="color: red"><%= flash[:error] %></p>
</div>
<%= form_for @user_session do |f| %>

    <div class="row">
      <div class="span12">
        <% if @user_session.errors.any? %>
            <span class="alert alert-error">Username or password was not recognized.</span>
        <% end %>
      </div>
    </div>
            <br>
    <div class="row">
      <div class="span12">
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <%= f.submit "Login", :class => 'btn btn-primary' %>
      </div>
    </div>
<% end %>
</div>
</div>