<article class="inner">
  <div class="header-join">
    <h2>What makes Booster special?</h2>
  </div>

   <p>Booster is a software conference for the entire team. That means if you’re a developer, project manager,
     architect, UX professional, tester or security professional, we have something for you!
  </p>

   <p>Our goal is that you come back from the conference with real knowledge you can use. That’s why interactive,
     hands-on workshops fill up most of the hours of the conference. We also have lightning talks, a few short talks,
     a couple of keynotes and open spaces.
   </p>

   <p>We focus on long breaks for networking, provide excellent coffee and good food.
   </p>

   <!--h2>Practical information for Booster 2016
   </h2>

   <h3>Where and when</h3>

	<p>
    The conference takes place <%= Dates::CONFERENCE_DATES %> at
    <a href="http://www.scandichotels.com/en/Hotels/Countries/Norway/Bergen/Hotels/Scandic-Bergen-City/" target="_blank">
      Scandic Hotel Bergen City</a> in Bergen, Norway. The closest airport is
    <a href="https://avinor.no/en/airport/bergen-airport/"
       target="_blank">Bergen Flesland Airport (BGO)</a>. To get to the conference from the airport, take the
    <a href="http://flybussen.no/en" target="_blank"> airport express coach</a>. The bus stop closest to
    the hotel is called Festplassen.
  </p>

	<p>
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.no/maps?ie=UTF8&amp;q=scandic+hotel+bergen&amp;fb=1&amp;gl=no&amp;hq=scandic+hotel&amp;hnear=Bergen&amp;cid=0,0,5996699683404040037&amp;ei=NlXLTJ-oAoiDOsLFmeEB&amp;ved=0CDUQnwIwAw&amp;ll=60.391293,5.317497&amp;spn=0.006295,0.006295&amp;t=h&amp;output=embed"></iframe>
          </div>
  <small>
    <a href="http://maps.google.no/maps?ie=UTF8&amp;q=scandic+hotel+bergen&amp;fb=1&amp;gl=no&amp;hq=scandic+hotel&amp;hnear=Bergen&amp;cid=0,0,5996699683404040037&amp;ei=NlXLTJ-oAoiDOsLFmeEB&amp;ved=0CDUQnwIwAw&amp;ll=60.391293,5.317497&amp;spn=0.006295,0.006295&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">See
      a larger map</a></small>
  	</p>

	<h4>First registration</h4>

	<p>Registration happens 08-09:00 at the Booster stand. You’ll find the registration stand close to the hotel reception. One of our great volunteers will present you with your access pass and a goodie bag.
	</p>

	<h4>Food and breaks</h4>

	<p>As a participant you can enjoy one of Bergen’s best hotel lunches. Lunch is served in the restaurant.
	</p>

	<p>Snacks are provided in the breaks, and we also have our very own barista. If coffee isn’t your thing, this year we’re introducing tea into the mix!
	</p>

	<h4>Conference dinner</h4>

	<p>One of the highlights of any conference is always the conference dinner and Booster is no exception. All participants are welcome to our conference dinner!
	</p-->

	<h4>Code of conduct</h4>

	<p>The Booster team is very proud of our <a href="/info/coc">Code of Conduct</a>. All participants, speakers, volunteers and organizers have agreed to follow the <a href="/info/coc">Code of Conduct</a>.
	</p>

    <h2 id="organizers">Who are we?</h2>


<div class="container-fluid">
	<div class="row">
	  <% for organizer in @organizers.shuffle do %>
	  <div class="col-md-3 col-xs-6">
	    <div class="content">
	      <div class="organizer-header">
	        <%= image_tag organizer.bio.picture.url, class: 'organizer-image' %>

		    <div class="organizer-meta">
	        	<b><%= organizer.full_name %></b>
	        	<div><i><%= organizer.bio[:title] %></i></div>

	        	<% if organizer.bio[:twitter_handle] && organizer.bio[:twitter_handle].length > 0 %>
	        	<a href="http://twitter.com/<%= organizer.bio[:twitter_handle].sub(/@/, '') %>" title="Twitter" target="_blank">
	            	&#64;<%= organizer.bio[:twitter_handle].sub(/@/, '') %>
	        	</a>
	        	<% end %>
		    </div>
		  </div>
	    </div>
	  </div>
  	  <% end %>
	</div>
		</div>
</article>
