<article class="inner">
  <div class="header-join">
    <h2>
      Call for presentations
    </h2>
  </div>
<p>
  Share with us your ideas, valuable experiences and skills – old and new. Don't hesitate. Be a part of Booster <%= Dates::CONFERENCE_YEAR %> and submit your contribution now! Or by the submission deadline. Whatever floats your boat.  
</p>
 <h4>Submission deadline: <%= Dates::CFP_TUTORIAL_ENDS.strftime('%e %B') %></h4>

  <h1>Pick your format!</h1>
 
  <p>
     We accept submissions that fall under one of the following three categories. Read about them below to find out which format works best for your contribution!
  </p>
  <p>
    If you need help choosing a format, then let us know. We are more than happy to help.
  </p>
  <h3>#1 – Workshops</h3>
  <p>
    Workshops are #1 in our hearts. 
    Booster is – and always will be – all about hands-on learning. The sky's the limit when you get to play with something new. Send us your workshops, please. 
  </p>
  <p>
  <strong>Length:</strong> 1.5-3.0 hours
  <br><strong>Number of participants:</strong> Up to you
  
  </p>
  <h3>#2 – Lightning talks</h3>
  <p>
    Lightning talks are pretty cool too. Each speaker in a lightning session gets precisely 10 min to share an insight, a method, a technology, or what have you.  
    These sessions are strict on time, so don't forget to kill your darlings and rehearse, rehearse, rehearse!   
  </p>
  <p>
    <strong>Talk length:</strong> 10 min
  <br><strong>Session length:</strong> 3*10 min = 30 min
  </p>


  <h3>#3 – Short talks</h3>
  <p>
    Share your story with us. Stories are such an important way to learn from the experience of others. Tell us about how you, created, tested, experienced or did something – alone or with a team. 
  </p>
  <p>
    <strong>Length:</strong> 30 min
  <br>
  <br>
  <span style="font-size: 13px"><em>Nb.</em> The program has room for only eight of these sessions. </span>
  </p>



<h2>What should your topic be?</h2>
<p>
    Good question. 
</p>
<p>
  In terms of professional content, we are interested in any and all things related to the design, making and managing of software. We don't have topical constraints, which is both a blessing and a curse. However, if you feel it is more like a curse, then here is a tip.. 
</p>
<p>
  We in the committee would love to read proposals focused on how we as professionals can have a positive impact on our communities. If you have an idea like that, then send it to us.  
</p>
<p>
  Got something else in mind? Go for it. We are interested in building a program that reflects what the Booster community cares about. 
</p><p>

  </p><h5>Still need a list?</h5>
<ul>
  <li>General programming</li>
  <li>Testing</li>
  <li>Agile</li>
  <li>People, teams, coaching and leadership</li>
  <li>Product management</li>
  <li>Entrepreneurship</li>
  <li>Front-end development</li>
  <li>UX <3</li>
  <li>Security</li>
  <li>Architecture</li>
  <li>Devops</li>
  <li>Back-end development</li>
  <li>Fun stuff: Built a robot? Made a language? Pet projects that are just plain weird, interesting or enjoyable.</li>
  <li>Anything else: IoT, torrenting, coding in schools</li>
</ul>

<p>
  As long as your topic is sort of related to software we're interested. Don't fret. Just submit and let us decide!
</p>

<h2>Speakers benefits</h2>
  <ul>
    <li><strong>A forum</strong> where you can present and discuss your ideas with other smart people.</li>
    <li><strong>A free ticket</strong> to the conference!</li>
    <li>Admission to the <strong>speaker's dinner</strong> on Thursday evening.</li>
    <li><strong>Glory</strong>, which may or may not be eternal</li>
  </ul>


<h5>Travel and Accommodations</h5>
<p>
  If financial concerns make it difficult for you to attend as a speaker, then you should apply for reimbursement of travel and/or accommodation expenses. 
</p>
<p>
  Do so by filling out the information when submitting your proposal. Our <%= link_to "monetary policy", info_monetary_policy_path %> has all the details.
</p>

  <h2>Code of Conduct</h2>
  <p>
    All attendees, speakers, partners, staff and volunteers at our conference are required to follow the code of conduct. Please <%= link_to "review our code of conduct", info_coc_path %> before submitting a proposal. 
  </p>
  
  <h2>Privacy</h2>
  <p>
    Please note that if your talk gets accepted we will:
  </p>
  <ul>
    <li>Film your talk and publish it to Vimeo, (keynotes, lightning talks and short-talks only)</li>
    <li>Publish your name, bio and talk abstract on our website as part of this years program. We will also keep a copy of this information as a part of the Booster history.</li>
    <li>Keep your e-mail address, in order to be able to contact you while working on Booster 2019.</li>
  </ul>
  <p>
    If you have any questions about your data and how and why we keep it, please reach out to us at <a href="mailto:kontakt@booster.no">kontakt@booster.no</a>.
  </p>

   <p>
    <%= link_to "Submit a workshop", register_workshop_start_url, :class => "btn btn-primary btn-large" %>
    <%= link_to "Submit a lightning talk", register_lightning_talk_start_url, :class => "btn btn-primary btn-large" %>
    <%= link_to "Submit a short talk", register_short_talk_start_url, :class => "btn btn-primary btn-large" %>
  </p>
</article>
