<article class="inner">
  <div class="header-join">
    <h2>
      Call for presentations
    </h2>
  </div>
<p>
  Do you have something you want to share? A controversial idea, an interesting experience or something you have learnt
  lately? Submit your abstract before the end of <%= Dates::CFP_TUTORIAL_ENDS.strftime('%e %B') %> and get a chance to be part of a great team of speakers at
  Booster <%= Dates::CONFERENCE_YEAR %>.
</p>
  <h3>What are we looking for?</h3>
  <p>
    Long ago we decided not to fill Booster with talks. We want you to come back to work after the conference with
    fresh ideas and real knowledge you can use, and we believe that happens when you get fired up about new ideas, and
    get a chance to work deeply with them.
  </p>
  <h4>Workshops</h4>
  <p>
    The main part of the conference is dedicated to <strong>workshop</strong> sessions, to really get down'n'dirty and pick up new skills.
    Workshops are interactive and hands-on, and focused on learning by doing. Workshops can be 1.5 hrs or 3 hrs 
    long, depending on the amount of material you want to cover, and how much time participants will need for exercises.
    If a workshop sounds a bit daunting, let us know and we can help you get there.
  </p>
  <h4>Lightning talks</h4>
  <p>
    The second big part of the conferece is the sessions with 10 minute long <strong>lightning talks</strong>. Lightning talks are a
    great way to convey an insight, suggest an idea, or share your enthusiasm about a particular technology or method.
    Lightning talks are usually well-rehearsed, focused on a single thing and packed with useful information.
  </p>
  <h4>Short talks</h4>
  <p>
    Finally, we have <strong>only eight</strong> slots for what we call <strong>short talks</strong>, a 30 minute exploration of a subject.
    We want short talks to tell us a story - your story. The story of how you, created, tested, experienced or did something - alone or with a team.
    If you are not telling a story - a story that is complex and compelling enough to listen to for 30 minutes - please submit a lightning talk of bite sized knowledge,
    or a workshop for an in-depth tech dive. We get a lot of submissions for the short talk slots, and we want to fill them with good stories. So please submit yours!
  </p>


<h3>Topics</h3>
<p>
  These are some of the topics the committee have in mind for this year's conference, but do not feel constrained by
  them. We would like you to send in an abstract about any (IT-related) topic you really care about! Your audience will
  probably be developers, architects, testers/test managers and/or project managers, but you will not have to cater
  to all audiences at once.
</p>
<ul>
  <li>Programming. Anything about writing code better.</li>
  <li>Testing. How do we ensure the quality of the things we make?</li>
  <li>Process and leadership. Thoughts, methods and techniques to help us build and run great teams that deliver.</li>
  <li>Front-end. HTML, SVG, SASS, JavaScript - if these are in your day-to-day vocabulary we want to hear how you do it.</li>
  <li>UX. We are still working out how to make software for humans. Help!</li>
  <li>Entrepreneurship. Finding an idea, refining it, building it and doing it all over again.</li>
  <li>Security. The world isn't all rainbows and unicorns, a healthy dose of paranoia and some solid tools to help
    would be appreciated</li>
  <li>Architecture. Anyone can write a few lines of code, but how to get them to stick together in coherent, useful and
    orderly way?</li>
  <li>Devops. Tools and techniques to deal with both the tech and people sides of devops.</li>
  <li>Fun stuff. Built a robot? Made a language? Pet projects that are just plain weird, interesting or enjoyable.</li>
  <li>Anything else. IoT, torrenting, coding in schools - as long as it is sort of related to software we're interested.
    Just submit and let us decide!</li>
</ul>

<h3>What's in it for me?</h3>
  <ul>
    <li><strong>Getting a forum</strong> to present and discuss your ideas with other smart people.</li>
    <li>A <strong>free ticket</strong> for the conference!</li>
    <li>Admission to the <strong>speaker's dinner</strong> on Thursday evening.</li>
    <li><strong>Eternal glory!</strong></li>
  </ul>
<p>
  We are not able to cover travel and accommodation for all speakers. However, if monetary concerns makes it difficult
  for you to present at Booster, you should apply for reimbursement when submitting your proposal.
  Our <%= link_to "monetary policy", info_monetary_policy_path %> has all the details.
</p>

  <h3>Privacy</h3>
  <p>
    Please note that if your talk gets accepted we will:
  </p>
  <ul>
    <li>Film your talk and publish it to Vimeo, (keynotes, lightning talks and short-talks only)</li>
    <li>Publish your name, bio and talk abstract on our website as part of this years program. We will also keep a copy of this information as a part of the Booster history.</li>
    <li>Keep your e-mail address, in order to be able to contact you at a later stage should we need to.</li>
  </ul>
  <p>
    If you have any questions about your data and how and why we keep it, please reach out to us at <a href="mailto:kontakt@booster.no">kontakt@booster.no</a>.
  </p>

  <p>
    <%= link_to "Submit a workshop", register_workshop_start_url, :class => "btn btn-primary btn-large" %>
    <%= link_to "Submit a lightning talk", register_lightning_talk_start_url, :class => "btn btn-primary btn-large" %>
    <%= link_to "Submit a short talk", register_short_talk_start_url, :class => "btn btn-primary btn-large" %>
  </p>
</article>
