<div class="container">
  <div class="row-fluid">
    <div class="hello span12">
      <div class="hello-inner">
        <h2>Booster 2016, 9-11 March</h2>

        <h1>Get your tickets now!</h1>

        <h2>Early-bird closes <%= AppConfig.early_bird_ends.to_formatted_s(:short_ordinal) %>.</h2>

        <div style="padding-top: 40px; padding-bottom: 30px; margin-bottom: 0px">
          <%= link_to 'Register single ticket', new_user_url, :class => "btn btn-primary btn-large" %>
          <%= link_to 'Register group ticket', new_group_registration_url, :class => "btn btn-primary btn-large" %>
        </div>


        <div class="cfp span3 right-column">
          <h3>Want to be a part of Booster <%= Dates::CONFERENCE_YEAR %>? Why don't you submit a proposal?</h3>

          <p>We're accepting ideas for lightning talks and workshops
            until <%= Dates::CFP_TUTORIAL_ENDS.to_formatted_s(:short_ordinal) %>.</p>

          <p><%= link_to 'Submit your idea!', info_cfp_url, :class => 'btn btn-primary btn-large cfp-button' %></p>
        </div>
      </div>
    </div>

    <% if @speakers.size >= 4 %>
        <div class="speakers-box">
          <h4>Some of our speakers this year (<%= link_to 'See the rest', info_speakers_url %>)</h4>

          <div class="speakers row-fluid">
            <% for group in @speakers.shuffle.take(4).each_slice(2) %>
                <div class="speaker-group span6">
                  <% for speaker in group %>
                      <div class="frontpage-speaker">
                        <div>
                          <a href="/info/speakers">
                            <%= image_tag speaker.bio.picture.url %>
                          </a>
                        </div>
                        <div>
                          <b><%= speaker.full_name %></b> <br/> <i><%= speaker.bio[:title] %></i>
                          <% if speaker.bio[:twitter_handle].length > 0 %>
                              <br/>
                              <a href="http://twitter.com/<%= speaker.bio[:twitter_handle].sub(/@/, '') %>" title="Twitter" target="_blank">
                                &#64;<%= speaker.bio[:twitter_handle].sub(/@/, '') %>
                              </a>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="row-fluid">
      <div class="span11" style="text-align: center; padding-top: 40px;">
        <p>Got questions? We're available on <%= mail_to 'kontakt@boosterconf.no' %> and
          <a href="http://twitter.com/boosterconf">@boosterconf</a>.</p>
      </div>
    </div>

  </div>
</div>
