<div class="row">
  <div class="span8">
    <div class="hello">
      <h2>Booster 2014, 12-14 March</h2>
      <h1>Get your tickets now!</h1>
      <h2>Early bird is open till Jan 24th.</h2>
      <div>
        <%= link_to 'Register single ticket', new_user_url, :class => "btn btn-primary btn-large" %>
        <%= link_to 'Register group ticket', new_group_registration_url, :class => "btn btn-primary btn-large" %>
      </div>
    </div>
  </div>
  <div class="span3 right-column pull-right">

    <h2>Send in your proposals</h2>
    <div>
      <%= link_to "Submit workshop", register_workshop_start_url, :class => "btn btn-primary btn-large" %>
      <%= link_to "Submit lightning talk", register_lightning_talk_start_url, :class => "btn btn-primary btn-large" %>
    </div>
    <p>Want to know more about what we are looking for in a proposal? Read <%= link_to 'more', info_cfp_url %>.</p>
  </div>
</div>


<div class="row speakers-box">
  <div class="speakers">
    <h3>Speaking at Booster 2014</h3>
    <% for speaker in @speakers.shuffle.take(4) do %>
        <div class="frontpage-speaker">
          <span>
            <a href="/info/speakers">
              <%= image_tag speaker.bio.picture.url %>
            </a>
          </span>
          <span>
            <b><%= speaker[:name] %></b> - <i><%= speaker.bio[:title] %></i>
            <% if speaker.bio[:twitter_handle].length > 0 %>
                <br />
                <a href="http://twitter.com/<%= speaker.bio[:twitter_handle] %>" title="Twitter" target="_blank">
                  &#64;<%= speaker.bio[:twitter_handle] %>
                </a>
            <% end %>
          </span>
        </div>
    <% end %>
  </div>
</div> 