<div class="calltoaction">
  <span>
    <!-- We're accepting ideas for lightning talks and workshops until 15th November. -->
    Early bird registration is now open!
  </span>
  <button>Get your ticket</button>
</div>
<%= render partial: 'frontpage_element', locals: {
                                               headline: "Workshops",
                                               path_to_image: "/images/bryggen.jpeg",
                                               text: "We don't have any hour-long talks. Instead we have the bite-sized
                                                      wisdom of lightning talks and the immersion of tutorials, making
                                                      you come back from the conference with real knowledge you can use."
                                       } %>

<%= render partial: 'frontpage_element', locals: {
                                               headline: "Lightning talks",
                                               path_to_image: "/images/bryggen.jpeg",
                                               text: "We don't have any hour-long talks. Instead we have the bite-sized
                                                      wisdom of lightning talks and the immersion of tutorials, making
                                                      you come back from the conference with real knowledge you can use."
                                       } %>
<%= render partial: 'frontpage_element', locals: {
                                               headline: "Short talks",
                                               path_to_image: "/images/bryggen.jpeg",
                                               text: "We don't have any hour-long talks. Instead we have the bite-sized
                                                      wisdom of lightning talks and the immersion of tutorials, making
                                                      you come back from the conference with real knowledge you can use."
                                       } %>
<%= render partial: 'frontpage_element', locals: {
                                               headline: "Open spaces",
                                               path_to_image: "/images/bryggen.jpeg",
                                               text: "We don't have any hour-long talks. Instead we have the bite-sized
                                                      wisdom of lightning talks and the immersion of tutorials, making
                                                      you come back from the conference with real knowledge you can use."
                                       } %>

<div class="imagetron">
  <div class="imagetron-bg" style='background-image: url("/images/bergen1920.jpg")'>
    <%= image_tag '/images/bergen1920.jpg', class: 'img-superfluid' %>
  </div>
  <div class="container imagetron-text-over-background">
    <h2>Beautiful city of Bergen</h2>

    <p>Bergen is pretty awesome, okay?</p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2>Super awesome speakers!</h2>

    <p class="lead">
      <%= link_to "View all", info_speakers_path %>
    </p>
  </div>
</div>

<div class="quad-list container-fluid">
  <div class="quad-list-big hidden-md-down">
    <div class="row">
      <% @speakers.+(@speakers).each do |speaker| %>
      <div class="col-xs-3">
	<%= image_tag speaker.bio.picture.url, class: "img-superfluid" %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <% @speakers.+(@speakers).each do |speaker| %>
      <div class="col-xs-3 minor-block-body">
	<div class="minor-block-body-inner">
          <h2><%= speaker.full_name %></h2>

          <p class="lead"><%= speaker.bio.title %></p>
	</div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="quad-list-small hidden-lg-up">
    <div class="row">
      <% @speakers.+(@speakers).each do |speaker| %>
      <div class="col-xs-3">
	<%= image_tag speaker.bio.picture.url, class: "img-superfluid" %>
      </div>

      <div class="col-xs-9 minor-block-body">
	<div class="minor-block-body-inner">
          <h2><%= speaker.full_name %></h2>

          <p class="lead"><%= speaker.bio.title %></p>
	</div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="imagetron">
  <div class="imagetron-bg"  style='background: url("/images/bergen1920.jpg")'>
    <%= image_tag '/images/bergen1920.jpg', class: 'img-superfluid' %>
  </div>
  <div class="container imagetron-text-over-background">
    <%= image_tag '/images/barista.jpg', class: 'imagetron-img' %>
    <h2>Our very own barista</h2>

    <p>
      Year after year Vidar Graawe Farland provide the Booster delegates with the 
      best coffee Bergen has to offer for free. Why? &laquo;I keep coming back, 
      simply because it's loads of fun!&raquo;
      </p>
  </div>
</div>
