<% content_for :pre_content do %>
    <div class="rocket">

      <div class="middle-of-image">
        <h1>The software conference for the whole team</h1>
        <div class="dates-location">
          <span class="font-page-conference-dates"><%= Dates::CONFERENCE_DATES %></span>
          <span class="front-page-location">Bergen, Norway</span>
        </div>
      </div>

    </div>
<% end %>

<div class="jumbotron m-b-0">
  <div class="container text-xs-center">
    <h2>We're working hard on making Booster 2018!</h2>
    <p class="lead">
      <a href="https://vimeo.com/boosterconf">Meanwhile, check out the videos from 2017</a>
    </p>
  </div>
</div>

<div class="quad-list container-fluid">
  <div class="quad-list-big hidden-md-down">
    <div class="row">
      <% @featured_speakers.each do |speaker| %>
          <div class="col-xs-3">
            <%= image_tag speaker.bio.picture.url, class: "img-superfluid" %>
          </div>
      <% end %>
    </div>

    <div class="row">
      <% @featured_speakers.each do |speaker| %>
          <div class="col-xs-3 minor-block-body">
            <div class="minor-block-body-inner">
              <h2><a href="info/speakers/#<%= speaker.full_name %>"><%= speaker.full_name %></a></h2>

              <p class="lead"><%= speaker.bio.title %></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="quad-list-small hidden-lg-up">
    <div class="row">
      <% @featured_speakers.each do |speaker| %>
          <div class="col-xs-3">
            <%= image_tag speaker.bio.picture.url, class: "img-superfluid" %>
          </div>

          <div class="col-xs-9 minor-block-body">
            <div class="minor-block-body-inner">
              <h2><%= speaker.full_name %></h2>

              <p class="lead"><%= speaker.bio.title %></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


<div class="imagetron">
  <div class="imagetron-bg" style='background-image: url("/images/bergen1920.jpg")'>
    <%= image_tag '/images/bergen1920.jpg', class: 'img-superfluid' %>
  </div>
  <div class="container imagetron-text-over-background">
    <h2>Beautiful city of Bergen</h2>

    <p>Bergen "the city of seven mountains" is the proud home of Booster. Norwegian beauty surrounds the historic
      coastal city located in the city fjord.</p>
  </div>
</div>

<%= render partial: 'frontpage_element', locals: {
    headline: "Workshops",
    path_to_image: "/images/workshops.jpg",
    text: "We strongly believe in learning by doing. Join a workshop and bring back practical knowledge to your workplace."
} %>

<%= render partial: 'frontpage_element', locals: {
    headline: "Lightning talks",
    path_to_image: "/images/talk.jpg",
    text: "Lightning talks are fast-paced 10-minute talks about all the latest trends, buzzwords and more."
} %>

<%= render partial: 'frontpage_element', locals: {
    headline: "Short talks",
    path_to_image: "/images/short_talk.jpg",
    text: "Short talks are 30-minute talks meant to give you a deeper understanding of a subject and acts as a supplement for our lightning talks."
} %>

<%= render partial: 'frontpage_element', locals: {
    headline: 'Open spaces',
    path_to_image: '/images/open_spaces.jpg',
    text: "Open spaces is about conversations. Join an open space, or suggest an open space about your favorite topic."
} %>

<div class="imagetron">
  <div class="imagetron-bg" style='background-image: url("/images/coffee.jpg")'>
    <%= image_tag '/images/coffee.jpg', class: 'img-superfluid' %>
  </div>
  <div class="container imagetron-text-over-background">

    <%= image_tag '/images/tedragen.png', class: 'imagetron-img' %>
    <h2>Our very own baristas</h2>
    <p>
      We always have fantastic cofee - and plenty of it! We also love tea and so does local black metal heroes and
      tea enthusiasts Tedragen. Who will be serving up exotic and
      exciting teas brewed fresh and perfect.
    </p>
  </div>
</div>
