<% content_for :pre_content do %>
  <div class="rocket">
    <div class="middle-of-image">
      <h1>THE SOFTWARE CONFERENCE<br/>FOR THE WHOLE TEAM</h1>
      <div class="dates-location">
        <span class="font-page-conference-dates"><%= Dates::CONFERENCE_DATES %></span>
        <span class="front-page-location">Bergen, Norway<br/>Venue: Scandic Bergen City </span>
      </div>
    </div>


    <div class="bottom-image">
      <%= image_tag '/images/figures.png', class: 'img-superfluid' %>
    </div>

  </div>
<% end %>

<div class="calltoaction">
<%- if(AppConfig.cfp_open) %>
  <span>Call for presentations is now open!</span><br />
  <a class="btn btn-primary btn-large" href="/info/cfp">Submit a talk / workshop</a>
<%- end %>
<%- if(AppConfig.ticket_sales_open) -%>
  <p>The ticket sale is open!</p>
  <% if TicketType.early_bird_is_active? %>
    <p>Early bird prices for the 100 first tickets! Buy now and save 2000 NOK.</p>
  <% end %>
  <div>
    <a class="btn btn-primary" href="/tickets/new">Buy a ticket</a>
  </div>
 <br/><br/>
<%- end -%>
<%- if(AppConfig.speakers_released) -%>
  <p>Here are some of the amazing speakers that will be at Booster <%= AppConfig.year %>!</p>
<%- end -%>
</div>
<%- if(AppConfig.cfp_open || AppConfig.ticket_sales_open) %>
<div class="jumbotron m-b-0">
  <div class="container text-xs-center">
    <h2>We're working hard on making Booster <%= AppConfig.year %>!</h2>
    <p class="lead">
      <a href="https://vimeo.com/boosterconf">Meanwhile, check out the videos from <%= AppConfig.year - 1 %></a>
    </p>
  </div>
</div>
<%- end %>
<div class="quad-list container-fluid">
  <div class="quad-list-big hidden-md-down">
    <div class="row">
      <% @featured_speakers.each do |speaker| %>
        <div class="col-xs-2">
          <a href="info/speakers/#<%= speaker.full_name %>">
            <%= image_tag speaker.bio.picture.url, class: "img-superfluid" %>
          </a>
        </div>
      <% end %>
    </div>

    <div class="row">
      <% @featured_speakers.each do |speaker| %>
        <div class="col-xs-2 minor-block-body">
          <div class="minor-block-body-inner">
            <h2><a href="info/speakers/#<%= speaker.full_name %>"><%= speaker.full_name %></a></h2>
            <p class="lead"><%= speaker.bio.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="quad-list-small hidden-lg-up">
    <div class="row">
      <% @featured_speakers.each do |speaker| %>
        <div class="col-xs-3">
          <a href="info/speakers/#<%= speaker.full_name %>">
            <%= image_tag speaker.bio.picture.url, class: "img-superfluid" %>
          </a>
        </div>

        <div class="col-xs-9 minor-block-body">
          <div class="minor-block-body-inner">
            <h2>
              <a href="info/speakers/#<%= speaker.full_name %>"><%= speaker.full_name %></a></h2>

            <p class="lead"><%= speaker.bio.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%- if(AppConfig.speakers_released) -%>
<div class="viewall">
  <%= link_to "View all", info_speakers_path %>
</div>
<%- end -%>

<div class="imagetron">
  <div class="imagetron-bg" style='background-image: url("/images/bergen1920.jpg")'>
    <%= image_tag '/images/bergen1920.jpg', class: 'img-superfluid' %>
  </div>
  <div class="container imagetron-text-over-background">
    <h2>Beautiful city of Bergen</h2>

    <p>Bergen "the city of seven mountains" is the proud home of Booster. Norwegian beauty surrounds the historic
      coastal city located in the city fjord.</p>
  </div>
</div>

<%= render partial: 'frontpage_element', locals: {
    headline: "Workshops",
    path_to_image: "/images/workshops.jpg",
    text: "We strongly believe in learning by doing. Join a workshop and bring back practical knowledge to your workplace."
} %>

<%= render partial: 'frontpage_element', locals: {
    headline: "Lightning talks",
    path_to_image: "/images/talk.jpg",
    text: "Lightning talks are fast-paced 10-minute talks about all the latest trends, buzzwords and more."
} %>

<%= render partial: 'frontpage_element', locals: {
    headline: "Short talks",
    path_to_image: "/images/short_talk.jpg",
    text: "Short talks are 30-minute talks meant to give you a deeper understanding of a subject and acts as a supplement for our lightning talks."
} %>

<%= render partial: 'frontpage_element', locals: {
    headline: 'Open spaces',
    path_to_image: '/images/open_spaces.jpg',
    text: "Open spaces is about conversations. Join an open space, or suggest an open space about your favorite topic."
} %>

<%# render partial: 'tedragen_advertisement' %>
<%= render partial: 'kaffemisjonen_advertisement' %>
