<div class="container">
<div class="row-fluid">
    <div class="hello span12" >
      <div class="hello-inner">
        <h2>Booster 2015, 11-13 March</h2>
        <p>
          <a href="https://twitter.com/hashtag/booster2015?src=hash" target="_new">#‎booster2015‬</a>
          is over! To all our wonderful speakers,
           participants, sponsors and volunteers, <strong>THANK YOU!</strong>
           We hope you had a blast at Booster!</p>
           <p>We hope you had a great time at this year’s conference!
             We’re always seeking to improve and know that you can help us. It only takes 2 minutes to do so.
              <a href="http://ow.ly/Km19k">Click here &amp; give us invaluable feedback.</a>
           </p>
      </div>
 </div>

<% if @speakers.size >= 4 %>
  <div class="speakers-box">
    <h4>Some of our speakers this year (<%= link_to 'See the rest', info_speakers_url %>)</h4>
    <div class="speakers row-fluid">
      <% for group in @speakers.shuffle.take(4).each_slice(2) %>
        <div class="speaker-group span6">
        <% for speaker in group %>
          <div class="frontpage-speaker">
            <div>
              <a href="/info/speakers">
                <%= image_tag speaker.bio.picture.url %>
              </a>
            </div>
            <div>
              <b><%= speaker.full_name %></b> <br /> <i><%= speaker.bio[:title] %></i>
              <% if speaker.bio[:twitter_handle].length > 0 %>
                  <br />
                  <a href="http://twitter.com/<%= speaker.bio[:twitter_handle].sub(/@/, '') %>" title="Twitter" target="_blank">
                    &#64;<%= speaker.bio[:twitter_handle].sub(/@/, '') %>
                  </a>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span11" style="text-align: center; padding-top: 40px;">
      <p>Got questions? We're available on <%= mail_to 'kontakt@boosterconf.no' %> and
        <a href="http://twitter.com/boosterconf">@boosterconf</a>.</p>
  </div>
</div>

</div>
