<div class="container">
  <div class="row-fluid">
    <div class="hello span12">
      <div class="hello-inner">
        <h2>Booster <%= Dates::CONFERENCE_YEAR %> kicks off March 9-11!</h2>

        <div class="cfp">
          <p>
            If you register now, you get our early bird price - only NOK <%= PAYMENT_CONFIG[:prices]['early_bird'].to_i %>!
            Better hurry though, the bird leaves <%= AppConfig.early_bird_ends.strftime('%b %d') %>.
          </p>

          <p>
            <%= link_to 'Register a person!', new_user_url, class: 'btn btn-primary btn-large' %>
            <%= link_to 'Register a group!', new_group_registration_url, class: 'btn btn-primary btn-large' %>
          </p>
        </div>
      </div>
    </div>

    <% if @speakers.size >= 4 %>
        <div class="speakers-box">
          <h4>Some of our speakers this year (<%= link_to 'See the rest', info_speakers_url %>)</h4>

          <div class="speakers row-fluid">
            <% for group in @speakers.shuffle.take(4).each_slice(2) %>
                <div class="speaker-group span6">
                  <% for speaker in group %>
                      <div class="frontpage-speaker">
                        <div>
                          <a href="/info/speakers">
                            <%= image_tag speaker.bio.picture.url %>
                          </a>
                        </div>
                        <div>
                          <b><%= speaker.full_name %></b> <br/> <i><%= speaker.bio[:title] %></i>
                          <% if speaker.bio[:twitter_handle].length > 0 %>
                              <br/>
                              <a href="http://twitter.com/<%= speaker.bio[:twitter_handle].sub(/@/, '') %>" title="Twitter" target="_blank">
                                &#64;<%= speaker.bio[:twitter_handle].sub(/@/, '') %>
                              </a>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="row-fluid">
      <div class="span11" style="text-align: center; padding-top: 40px;">
        <p>Got questions? We're available on <%= mail_to 'kontakt@boosterconf.no' %> and
          <a href="http://twitter.com/boosterconf">@boosterconf</a>.</p>
      </div>
    </div>

  </div>
</div>
