<div id="front-page">

  <div id="notifications">
<%# TODO: Dette ser jævlig ut. Fikse! %>
    <% if flash[:notice] %>
        <p class="flash-notice"><%= flash[:notice] %></p>
    <% end %>

    <p style="color: orange"><%= flash[:warn] %></p>

    <p style="color: red"><%= flash[:error] %></p>
  </div>

  <div class="row">

    <article class="span4 pull-right">
      <!--h1 class="hidden-phone">&nbsp;</h1-->

      <div class="thumbnail-with-button">
        <h2>Tickets</h2>

        <p>
          All tickets includes the full 3 day conference and the conference dinner.
        </p>

        <p>
            <em>Early-bird ends on <%= ApplicationHelper.early_bird_end_date.strftime('%b %d %Y') %>.</em>
        </p>

        <p>
            <%= link_to 'Tickets and prices', info_tickets_url, :class => "btn btn-primary btn-large" %>
        </p>
      </div>

      <div class="navbar hidden-phone social-links">
        <ul class="nav">
          <li>
            <a href="https://twitter.com/search?q=%23booster2013" target="_blank">
              <%= image_tag "twitter-logo.png" %>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/boosterconf" title="Facebook" class="facebook" target="_blank">
              <%= image_tag "facebook-logo.png" %>
            </a>
          </li>
          <li>
            <a href="http://lanyrd.com/2013/boosterconf/" title="Lanyrd" class="lanyrd" target="_blank">
              <%= image_tag "lanyrd-logo.png" %>
            </a>
          </li>
          <li>
            <a href="http://linkd.in/QjWslE" title="LinkedIn" class="linkedin" target="_blank">
              <%= image_tag "linkedin-logo.png" %>
            </a>
          </li>
        </ul>
      </div>
      <p class="hidden-phone">
        <a class="twitter-timeline" href="https://twitter.com/boosterconf" data-widget-id="278214166739820544">Tweets
          by
          @boosterconf</a>

        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>

      </p>

    </article>

    <article class="span7">
      <h2 class="announce">Call for Papers</h2>

      <p>
        Do you have something you want to share? A controversial idea,
        an interesting experience or something you have learnt lately? Submit your abstract and get a chance to be part
        of a great team of speakers at Booster 2013. All speakers get free admission to the Conference Dinner and
        the Speaker's Dinner.
      </p>
    </article>

    <div class="caption thumbnail thumbnail-with-button span7">
      <h3>Lightning talk</h3>

      <p>
        A lightning talk is <em>10 minutes long</em> and is a great way to convey an insight, suggest an idea, or
        share your enthusiasm about a particular technology or method.
        Lightning talks are usually well-rehearsed and packed with useful information.
      </p>

      <p>
        <em>CfP for lightning talks ends on 28 January 2013.</em>
      </p>

      <p>
        <a href="/register_lightning_talk/start" class="btn btn-primary btn-large">Propose a lightning talk</a>
      </p>
    </div>

    <div class="caption thumbnail thumbnail-with-button span7">
      <h3>Workshop</h3>

      <p>
        A workshop can be <em>short</em> (1.5 hrs), <em>half-day</em> (3 hrs) or <em>full-day</em> (4.5 hrs).
        You work with a small group of people who want to
        learn a particular technology or method that you know well.
        Workshops are interactive and hands-on, and focused on learning by doing.
      </p>

      <p>
        <em>CfP for workshops ends on 21 January 2013.</em>
      </p>

      <p>
        <a href="/register_workshop/start" class="btn btn-primary btn-large">Propose a workshop</a>
      </p>
    </div>

  </div>


  <div class="row">
    <article class="span12">
      <h2 class="sectionhead">Some of our presenters</h2>
      <% @speakers.each do |speaker| %>
          <div class="span2 speaker-box">
            <a class="defaultDOMWindow" href="#<%= speaker.atomic_reference %>" title="<%= speaker.bio[:name] %>">
              <%= image_tag speaker.bio.picture.url %>
            </a>
            <br/>
            <a class="defaultDOMWindow" href="#<%= speaker.atomic_reference %>" title="<%= speaker.bio[:name] %>">
              <%= speaker.name %>
            </a>
            <br/>
            <% if speaker.bio[:twitter_handle] %>
                <a href="http://twitter.com/<%= speaker.bio[:twitter_handle] %>" title="Twitter" target="_blank">
                  &#64;<%= speaker.bio[:twitter_handle] %>
                </a>
            <% end %>
          </div>
      <% end %>

      <% @speakers.each do |speaker| %>
          <div id="<%= speaker.atomic_reference %>" style=" display:none;" class="speaker-full">
            <%= image_tag speaker.bio.picture.url %>
            <h3><%= speaker.name %></h3>

            <p><i><%= speaker.bio.title %></i></p>
            <% if speaker.bio[:twitter_handle] %>
                <p>
                  <a href="http://twitter.com/<%= speaker.bio[:twitter_handle] %>" title="Twitter" target="_blank">
                    &#64;<%= speaker.bio[:twitter_handle] %>
                  </a>
                </p>
            <% end %>
            <p>
              <%= simple_format speaker.bio[:bio] %>
            </p>
          </div>
      <% end %>

      <div class="clearfix"></div>
      <%= link_to 'Show all', info_speakers_path %>
    </article>
  </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        $('.defaultDOMWindow').openDOMWindow({
            eventType:'click',
            loader:1,
            loaderImagePath:'animationProcessing.gif',
            loaderHeight:16,
            loaderWidth:17
        });
    </script>
<% end %>