<div id="front-page">

  <div class="row">

    <div id="notifications">
<%# TODO: Dette ser jævlig ut. Fikse! %>
      <% if flash[:notice] %>
          <p class="flash-notice"><%= flash[:notice] %></p>
      <% end %>

      <p style="color: orange"><%= flash[:warn] %></p>

      <p style="color: red"><%= flash[:error] %></p>
    </div>


    <article class="span4 pull-right">
      <!--h1 class="hidden-phone">&nbsp;</h1-->

      <div class="thumbnail-with-button">
        <h2>Tickets</h2>

        <p>
          All tickets includes the full 3 day conference and the conference dinner.
        </p>

        <p>
          <%= link_to 'Tickets and prices', info_tickets_url, :class => "btn btn-primary btn-large" %>
        </p>
      </div>

      <div class="navbar hidden-phone social-links">
        <ul class="nav">
          <li>
            <a href="https://twitter.com/boosterconf" target="_blank">
              <%= image_tag "twitter-logo.png" %>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/boosterconf" title="Facebook" class="facebook" target="_blank">
              <%= image_tag "facebook-logo.png" %>
            </a>
          </li>
          <li>
            <a href="http://lanyrd.com/2013/boosterconf/" title="Lanyrd" class="lanyrd" target="_blank">
              <%= image_tag "lanyrd-logo.png" %>
            </a>
          </li>
          <li>
            <a href="http://linkd.in/QjWslE" title="LinkedIn" class="linkedin" target="_blank">
              <%= image_tag "linkedin-logo.png" %>
            </a>
          </li>
        </ul>
      </div>

    </article>

    <article class="span7">
      <h2 class="announce">Welcome to Booster 2013</h2>
    </article>

    <div class="caption thumbnail thumbnail-with-button span7">

      <p>
        The Booster 2013 program is now launched! <a href="/program">Chek it out here!</a>
      </p>
      <p>
        <%= link_to "Buy a ticket!", info_tickets_url, :class => "btn btn-primary btn-large" %>
      </p>
    </div>
  </div>


  <div class="row">
    <article class="span12">
      <h2 class="sectionhead">Some of our speakers
        <%= image_tag("folk-samlet.png", {:width => "450px", :class => "frontpage-img-align"}) %>
      </h2>
      <% @speakers.each do |speaker| %>
          <div class="span2 speaker-box">
            <a class="defaultDOMWindow" href="#<%= speaker.atomic_reference %>" title="<%= speaker.bio[:name] %>">
              <%= image_tag speaker.bio.picture.url %>
            </a>
            <br/>
            <a class="defaultDOMWindow" href="#<%= speaker.atomic_reference %>" title="<%= speaker.bio[:name] %>">
              <%= speaker.name %>
            </a>
            <br/>
            <% if speaker.bio[:twitter_handle] %>
                <a href="http://twitter.com/<%= speaker.bio[:twitter_handle] %>" title="Twitter" target="_blank">
                  &#64;<%= speaker.bio[:twitter_handle] %>
                </a>
            <% end %>
          </div>
      <% end %>

      <% @speakers.each do |speaker| %>
          <div id="<%= speaker.atomic_reference %>" style=" display:none;" class="speaker-full">
            <%= image_tag speaker.bio.picture.url %>
            <h3><%= speaker.name %></h3>

            <p><i><%= speaker.bio.title %></i></p>
            <% if speaker.bio[:twitter_handle] %>
                <p>
                  <a href="http://twitter.com/<%= speaker.bio[:twitter_handle] %>" title="Twitter" target="_blank">
                    &#64;<%= speaker.bio[:twitter_handle] %>
                  </a>
                </p>
            <% end %>
            <p>
              <%= simple_format speaker.bio[:bio] %>
            </p>
          </div>
      <% end %>

      <div class="clearfix"></div>
      <%= link_to 'Show all', info_speakers_path %>
    </article>
  </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        $('.defaultDOMWindow').openDOMWindow({
            eventType:'click',
            loader:1,
            loaderImagePath:'animationProcessing.gif',
            loaderHeight:16,
            loaderWidth:17
        });
    </script>
<% end %>