<div class="row">
  <div class="span11">
    <div class="hello">
      <h1 style='padding-top: 50px'>Call for Papers is open</h1>
      <div class="cfp">
        <h2><%= link_to 'Submit your idea!', info_cfp_url, :class => 'btn btn-primary btn-large wide cfp-button'%></h2>
        <p><h3>We're accepting ideas for lightning talks and workshops.</h3></p>
        <p><h3>Want to be a part of Booster 2015? Submit your proposal now!</h3></p>
      </div>
    </div>
  </div>
  <div class="span11" style="text-align: center; padding-top: 40px;">
      <p>Got questions? We're available on <%= mail_to 'kontakt@boosterconf.no' %> and
        <a href="http://twitter.com/boosterconf">@boosterconf</a>.</p>
  </div>
</div>

<!--
<div class="row speakers-box">
  <div class="speakers">
    <h3>Speaking at Booster 2015</h3>
    <% for speaker in @speakers.shuffle.take(4) do %>
        <div class="frontpage-speaker">
          <span>
            <a href="/info/speakers">
              <%= image_tag speaker.bio.picture.url %>
            </a>
          </span>
          <span>
            <b><%= speaker[:full_name] %></b> <br /> <i><%= speaker.bio[:title] %></i>
            <% if speaker.bio[:twitter_handle].length > 0 %>
                <br />
                <a href="http://twitter.com/<%= speaker.bio[:twitter_handle] %>" title="Twitter" target="_blank">
                  &#64;<%= speaker.bio[:twitter_handle] %>
                </a>
            <% end %>
          </span>
        </div>
    <% end %>
  </div>
</div>
--> 