<div id="front-page">

  <div class="row">

    <article class="span4 pull-right">
      <!--h1 class="hidden-phone">&nbsp;</h1-->

      <div class="thumbnail-with-button">
        <%= image_tag("fish.jpg", {:width => "400px", :class => 'hidden-phone'}) %>
      </div>

      <div class="navbar hidden-phone social-links">
        <ul class="nav">
          <li>
            <a href="https://twitter.com/boosterconf" target="_blank">
              <%= image_tag "twitter-logo.png" %>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/boosterconf" title="Facebook" class="facebook" target="_blank">
              <%= image_tag "facebook-logo.png" %>
            </a>
          </li>
          <li>
            <a href="http://lanyrd.com/2013/boosterconf/" title="Lanyrd" class="lanyrd" target="_blank">
              <%= image_tag "lanyrd-logo.png" %>
            </a>
          </li>
          <li>
            <a href="http://linkd.in/QjWslE" title="LinkedIn" class="linkedin" target="_blank">
              <%= image_tag "linkedin-logo.png" %>
            </a>
          </li>
        </ul>
      </div>

    </article>

    <article class="span7">
      <h2 class="announce">So long and thanks for all the fish!</h2>
      <p>
        Booster 2013 is over, and we hope you have enjoyed it as much as we have. Videos of keynotes and
        lightning talks will be made available on <a href="http://vimeo.com/boosterconf">Vimeo</a> over the
        next weeks.
      </p>
      <p>
        The dates are already set for next year, so be sure to mark your calendars for <strong>March 12.-14. 2014</strong>.
      </p>

      <h2>Feedback?</h2>
      <div id="notifications">
        <%# TODO: Dette ser jævlig ut. Fikse! %>
        <% if flash[:notice] %>
            <p class="flash-notice"><%= flash[:notice] %></p>
        <% end %>

        <p style="color: orange"><%= flash[:warn] %></p>

        <p style="color: red"><%= flash[:error] %></p>
      </div>
      <p>
        Did you attend the conference, as a participant or as a speaker, and would like to give us some
        feedback? Or do you have any ideas for us for next year's conference?
        Please fill out this form. We appreciate it!
      </p>
      <%= form_for(@feedback) do |f| %>
          <%= f.text_area :comment, :rows => 5, :class => 'span7'  %>
          <%= f.submit 'Send', :class => 'btn btn-primary' %>
      <% end %>

    </article>

  </div>

</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        $('.defaultDOMWindow').openDOMWindow({
            eventType:'click',
            loader:1,
            loaderImagePath:'animationProcessing.gif',
            loaderHeight:16,
            loaderWidth:17
        });
    </script>
<% end %>