<article class="inner group">
  <div>
    <%= image_tag("folk01.png", {:width => "75px", :class => "pull-left"}) %>
    <%= image_tag("folk05.png", {:width => "75px", :class => "pull-right"}) %>
  </div>
  <h2>Organizing committee</h2>


  <p class="clearfix">
    Meet the people behind the Booster Conference. We have for many years organized the
    <a href="http://rootsconf.no">Roots Conference</a>, some of us since it started, back in 2000.
  </p>


  <% for organizer in @organizers do %>

      <div class="person">
        <div class="scale-down">
            <%= image_tag organizer.bio.picture.url, alt: organizer.name, class: 'img-polaroid', onerror: "this.src = '/assets/placeholder.jpg';" %>
        </div>
        <div class="info">
          <div class="name"><%= organizer.name %></div>
          <div class="twitter_handle">
            <% if not organizer.bio.twitter_handle.blank? %>
                <a href="http://twitter.com/<%= organizer.bio.twitter_handle %>" title="Twitter" target="_blank">
                  &#64;<%= organizer.bio.twitter_handle %>
                </a>
            <% else %>
                <br/>
            <% end %>
          </div>
          <div class="company"><%= organizer.company %></div>
        </div>
      </div>

  <% end %>


</article>
