<article class="inner group">
  <div class="header-join">
    <h2>
      Our speakers
    </h2>
  </div>

  <div class="speakers-body .container">
    <div class="row">
        <% @speakers.shuffle.each_with_index do |speaker,index| %>
            <div class="speaker <%= 'odd' if index%2 != 0 %> col-md-12">
              <div class="row speaker-row">
              <div class="left col-sm-6">
                <%= image_tag speaker.bio.picture.url, class: 'speaker-image' %>
              </div>
              <div class="right col-sm-6">
                <div class="content">
                  <h3><%= speaker.full_name %></h3>
                  <div class="speaker-meta">
		    <p>
                      <i><%= speaker.bio[:title] %></i><br />

                      <% if speaker.is_on_twitter? %>
                            <a href="http://twitter.com/<%= speaker.bio[:twitter_handle].sub(/@/, '') %>" title="Twitter" target="_blank">
                              &#64;<%= speaker.bio[:twitter_handle].sub(/@/, '') %>
                            </a>
                      <% end %>
		      </p>
                    </div>

                  <div class="speaker-bio">
                    <%= simple_format speaker.bio[:bio] %>
		 </div>

                  <% unless speaker.accepted_talks.empty? %>
                      <p>
                        <b><%= pluralize speaker.accepted_talks.size, 'Presentation' %></b>
                      </p>
                      <ul style="list-style-type: none;">
                        <% speaker.accepted_talks.each do |talk| %>
                            <li><%= link_to h(talk.title), talk %></li>
                        <% end %>
                      </ul>

                  <% end %>
                </div>
              </div>
                </div>
            </div>
        <% end %>
    </div>
  </div>


</article>
