<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript">var NREUMQ = NREUMQ || [];
  NREUMQ.push(["mark", "firstbyte", new Date().getTime()]);</script>

  <title>Booster Conference <%= Dates::CONFERENCE_YEAR %> Bergen </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="The Booster conference is in Bergen, Norway <%= Dates::CONFERENCE_DATES %>. The
conference is for all IT professionals seeking to learn from each other and from experts in their fields"/>
  <meta name="keywords" content="booster conference, conference, software, agile, programming, bergen, norway,booster, roots conference, roots, it conference, software conference, methodology, testing, craftsmanship, software development, user experience, tools, project management"/>
  <meta name="thumbnail" content="<%= asset_path 'booster.png' %>"/>

  <meta property="og:image" content="<%= asset_path 'booster.png' %>"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= favicon_link_tag %>

  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= tinymce_assets %>

</head>

<body>

<header id="top" role="banner">
  <div class="container-fluid">
    <nav class="navbar main-nav" role="navigation">
      <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>

      <a class="navbar-brand" href="/"><%= image_tag "icons/logo.svg", height: 40 %></a>

      <div class="collapse navbar-toggleable-xs">
        <ul class="nav navbar-nav pull-right">
          <% if AppConfig.program_released %>
              <li class="nav-item"><%= link_to 'Program', '/program', class: 'nav-link' %></li>
          <% end %>
          <% if AppConfig.speakers_released %>
              <li class="nav-item"><%= link_to 'Speakers', info_speakers_url, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'Sessions', accepted_talks_url, class: 'nav-link' %></li>
          <% end %>
          <% if AppConfig.tutorial_registration_open || AppConfig.lightning_registration_open %>
              <li class="nav-item"><%= link_to 'Call for presentations', info_cfp_url, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'Proposals', talks_url, class: 'nav-link' %></li>
          <% end %>
          <li class="nav-item"><%= link_to 'Code of Conduct', info_coc_url, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'About us', info_about_url, class: 'nav-link' %></li>
          <% if logged_in %>
              <li class="nav-item"><%= link_to 'My profile', current_user_url, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to_unless_current "Log out", logout_path, class: 'nav-link' %></li>
          <% else %>
              <!--li><%#= link_to 'Register', new_user_url, class: 'nav-link' %></li-->
              <li class="nav-item"><%= link_to 'Log in', login_url, class: 'nav-link' %></li>
          <% end %>
          <% if admin? %>
              <li class="nav-item"><%= link_to 'Admin', admin_path, class: 'nav-link' %></li>
          <% end %>
          <% if reviewer? %>
              <li class="nav-item"><%= link_to 'Reviews', reviews_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </nav>
  </div>

</header>

<div class="rocket">

  <div class="middle-of-image">
    <span class="font-page-conference-dates">9th - 11th March</span>
    <%= image_tag "icons/rocket.svg", class: "rocket-image" %>
    <span class="front-page-location">Bergen, Norway</span>
  </div>
  <%= image_tag "icons/smoke.svg", class: "smoke-image" %>

</div>

<div class="inner" role="main">
  <%= yield %>
</div>

<div class="jumbotron sponsorarea">
  <ul class="sponsorlogos">
    <% @our_sponsors.each do |sponsor| %>
        <li>
          <%= link_to image_tag(sponsor.logo.url, alt: sponsor.name), sponsor.website, target: '_blank', title: sponsor.name %>
        </li>
    <% end %>
  </ul>
</div>


<footer>
    <div class="jumbotron">
      <div class="container">
        <%= image_tag "icons/spread.svg", id: "footer-image" %>
        <h2 id="footer-text">You are awesome.<br/>Hope to see you soon!</h2>
        <p class="centered-text">
        <a href="#">Return to top</a>
        </p>
      </div>
    </div>
</footer>

<script type="text/javascript">//<![CDATA[
$('.sponsorlogos').shuffle();
//]]></script>

<%= yield :javascript %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-37448589-1', 'auto');
    ga('send', 'pageview');

</script>

<script type="text/javascript">
    setTimeout(function () {
        var a = document.createElement("script");
        var b = document.getElementsByTagName("script")[0];
        a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/7142.js?" + Math.floor(new Date().getTime() / 3600000);
        a.async = true;
        a.type = "text/javascript";
        b.parentNode.insertBefore(a, b)
    }, 1);
</script>

<script type="text/javascript">
    $.notify.defaults({
        globalPosition: 'top left',
        elementPosition: 'right'
    });
    $.notify("<%= flash[:notice] %>", "success");
</script>


</body>
</html>
