
<!DOCTYPE html>
<html>
<head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>

    <title>Booster Conference 2013 Bergen </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="The Booster conference is in Bergen, Norway March 13.-15. 2013. The
conference is for all IT professionals seeking to learn from each other and from experts in their fields"/>
    <meta name="keywords" content="booster conference, conference, software, agile, programming, bergen, norway,
booster, roots conference, roots, it conference, software conference, methodology, testing, craftsmanship, software development, user experience, tools, project management" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--<link rel="icon" type="image/ico" href="favicon.ico" />   -->

    <%= stylesheet_link_tag :application %>
    <%= stylesheet_link_tag :tablesorter %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <!--<link href="/stylesheets/program.css?1336503206" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/tablesorter/style.css?1336503206" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/tooltip.css?1336503206" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/caption.css?1336503206" media="screen" rel="stylesheet" type="text/css" />  -->
    <!--<link rel="stylesheet" src="/javascripts/fancybox/jquery.fancybox-1.3.4.css" >-->
</head>
<body id="hjem" >
<!--<link rel="shortcut icon" href="faviconicon.ico"/>      -->
<div id="wrapper">
<div id="social_media">
    <ul>
        <li>
            <a href="https://www.facebook.com/boosterconf" title="Facebook" class="facebook" target="_blank">
                Like us on Facebook
            </a>
        </li>
        <li>
            <a href="http://twitter.com/boosterconf" title="Twitter" class="twitter" target="_blank">Follow us on Twitter</a>
        </li> 
        <li>
            <a href="http://lanyrd.com/2013/boosterconf/" title="Lanyrd" class="lanyrd" target="_blank">Track us on Lanyrd</a>
        </li> 
       <li>
            <a href="http://linkd.in/QjWslE" title="LinkedIn" class="linkedin">Join us on LinkedIn</a>
        </li>
        <!--<li>
            <a href="http://vimeo.com/boosterconf/videos/" title="videos" class="vimeo">Videos</a>
        </li>-->
        <li style="float:right">

        </li>
    </ul>
</div>
<div id="header-wrapper">


    <div id="header">
        <div id="logo">
            <!--<a href="/" title="Main page">
                <h1>BOOSTER 2013</h1>-->
                <!--<img src="/images/booster-logo.gif" alt="Booster logo"/>    -->
            <!--</a>-->

            <p id="conference_info"><a href="/">Booster Conference, March 13-15. 2013, Bergen</a></p>
        </div>
        <div id="menu">
            <ul>

                <li><a href="/">Main page</a></li>
                <!--<li><a href="/users/new">Register</a></li>-->
                <!--li><a href="/talks/new">Suggest a talk</a></li-->
                <!--li><a href="/talks">Talk suggestions</a></li-->
                <!--li><a href="/speakers">Speakers</a></li-->
                <!--li><a href="/program">Program</a></li-->
                <!--li><a href="/info/videos">Videos</a></li -->
                <li><a href="/info/sponsors">Be a sponsor</a></li>
                <li><a href="/info/about">About Booster</a></li>

                <li><a href="/login">Log in</a></li>
            </ul>
        </div>


        <div id="header-right">
            <!--<div id="submittalk">
                <a href="/program">Program</a>
            </div>-->


            <!--
               <div id="registration">
               <a href="/users/new">Buy ticket</a>
               </div>
               -->

        </div>

    </div>

</div>

  <div class="clearit"></div>
<div id="content-wrapper">

    <div id="content">

        <%= yield %>

    </div>

</div>

<div class="clearit"></div>

<div id="footer-wrapper">

    <div id="footer">
        <h2>Sponsors</h2>
        <ul class="ikoner" id="logoer">
      	     <li>
                 <a href="http://www.kantega.no/" title="Kantega" target="_blank"><img src="/images/logos/kantega.gif" alt="Kantega"/></a>
             </li>
 	         <li>
                 <a href="http://www.miles.no/" title="Miles" target="_blank"><img src="/images/logos/miles.png" alt="Miles"/></a>
             </li>
             <li>
                <a href="http://www.pswin.com/" title="PSWinCom AS" target="_blank"><img src="/images/logos/pswincom.jpg" alt="PSWinCom AS"/></a>
             </li>
			<li>
				<a href="http://www.webstep.no/" title="Webstep AS" target="_blank"><img src="/images/logos/webstep.png" alt="Webstep AS"/></a>
			 </li>
        </ul>

        <div style="clear: both; text-align:center; margin:0 auto;">
                If you want to sponsor Booster 2013 and have your logo shown here,
                contact us at <a href="mailto:kontakt@boosterconf.no">kontakt@boosterconf.no</a>
        </div>

        <div style="clear: both; text-align: center; margin:  0 auto;">
            <small>
                Booster is organized by a group of volunteers.
                <a href="/info/organizers">Meet the organizers</a>.
            </small>
        </div>

    </div>
</div>
<!-- end #footer -->
<script type="text/javascript">
logosShuffle();
</script>

<div class="clearit"></div>

<!-- START Disclaimer/Tracking Stuff -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19730740-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<!-- END Disclaimer/Tracking Stuff -->

</div>
<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
    NREUMQ.push(["load",new Date().getTime()]);
    var e=document.createElement("script");
    e.type="text/javascript";e.async=true;e.src="https://d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";
    document.body.appendChild(e);
    if(NREUMQ.a)NREUMQ.a();
};
    NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","789462450d",339576,"cAsIFkNcX1RTRRYPXVULSQtfV1ZA",0.0,84,new Date().getTime(),"","","","",""])</script></body>
</html>
