<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://f.fontdeck.com/s/css/Uf28uh55+ApRRbdMqWM/5y2U+0o/boosterconf.no/25614.css" type="text/css" />

  <meta charset="utf-8">
  <script type="text/javascript">var NREUMQ = NREUMQ || [];
  NREUMQ.push(["mark", "firstbyte", new Date().getTime()]);</script>

  <title>Booster Conference 2013 Bergen </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="The Booster conference is in Bergen, Norway March 13.-15. 2013. The
conference is for all IT professionals seeking to learn from each other and from experts in their fields"/>
  <meta name="keywords" content="booster conference, conference, software, agile, programming, bergen, norway,booster, roots conference, roots, it conference, software conference, methodology, testing, craftsmanship, software development, user experience, tools, project management"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= tinymce_assets %>

</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/info/about">About us</a></li>
          <li><a href="/info/sponsors">For sponsors</a></li>
          <% if logged_in %>
              <li><%= link_to 'My profile', current_user_url %></li>
          <% else %>
              <li><%= link_to 'Log in', login_url %></li>
          <% end %>
          <% if admin? %>
              <li><%#= link_to 'Admin', :controller => 'admin', :action => 'index' %></li>
          <% end %>
        </ul>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<header id="header">
  <div class="container masthead">
    <h1><%= image_tag "booster-logo-color-neg.png" %></h1>
    <p>International Software Conference. Join us on March 13. - 15., 2013, in beautiful Bergen!</p>
  </div>
  <div class="navbar pull-right">
    <ul class="nav">
      <li>
        <a href="https://www.facebook.com/boosterconf" title="Facebook" class="facebook" target="_blank">
          <%= image_tag "facebook-logo.png" %>
        </a>
      </li>

      <li>
        <a href="http://lanyrd.com/2013/boosterconf/" title="Lanyrd" class="lanyrd" target="_blank">
          <%= image_tag "lanyrd-logo.png" %>
        </a>
      </li>
      <li>
        <a href="http://linkd.in/QjWslE" title="LinkedIn" class="linkedin" target="_blank">
          <%= image_tag "linkedin-logo.png" %>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/boosterconf" title="Twitter" class="twitter" target="_blank">
          <%= image_tag "twitter-logo.png" %> @boosterconf
        </a>
      </li>
      <li>
        <a href="https://twitter.com/search?q=%23booster2013" target="_blank">
          <%= image_tag "twitter-logo.png" %> #booster2013
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div id="sponsors" class="container">
    <h4>Our dear sponsors</h4>
    <ul class="sponsorlogoer" id="logoer">
      <li>
        <a href="http://www.kantega.no/" title="Kantega" target="_blank"><img src="/images/logos/kantega.png" alt="Kantega"/></a>
      </li>
      <li>
        <a href="http://www.miles.no/" title="Miles" target="_blank"><img src="/images/logos/miles.png" alt="Miles"/></a>
      </li>
      <li>
        <a href="http://www.pswin.com/" title="PSWinCom AS" target="_blank"><img src="/images/logos/pswincom.jpg" alt="PSWinCom AS"/></a>
      </li>
      <li>
        <a href="http://www.webstep.no/" title="Webstep AS" target="_blank"><img src="/images/logos/webstep.png" alt="Webstep AS"/></a>
      </li>
      <li>
        <a href="http://www.rainfall.no/" title="Rainfall" target="_blank"><img src="/images/logos/rainfall.png" alt="Rainfall"/></a>
      </li>
      <li>
        <a href="http://www.innovit.no/" title="Innovit" target="_blank"><img src="/images/logos/innovit.png" alt="Innovit"/></a>
      </li>
      <li>
        <a href="http://www.experis.no/" title="Experis" target="_blank"><img src="/images/logos/experis.png" alt="Experis"/></a>
      </li>
      <li>
        <a href="http://www.knowit.no/" title="Knowit" target="_blank"><img src="/images/logos/knowit.png" alt="KnowIt"/></a>
      </li>
      <li>
        <a href="http://www.delfidata.no/" title="Delfi Data" target="_blank"><img src="/images/logos/delfidata.png" alt="Delfi Data"/></a>
      </li>
    </ul>
  </div>
  <div style="clear: both; text-align: center; margin: 0 auto;">
      Booster is organized by a group of volunteers.
      <a href="/info/organizers">Meet the organizers</a>.
  </div>
</footer>

</body>
</html>
