<!DOCTYPE html>
<!-- saved from url=(0036)http://prosjekt.sortenke.no/booster/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>Booster Conference</title>

  <link rel="stylesheet" href="http://f.fontdeck.com/s/css/Uf28uh55+ApRRbdMqWM/5y2U+0o/boosterconf.no/25614.css" type="text/css"/>
	<%= favicon_link_tag %>

	<%= stylesheet_link_tag :application, :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
	 <!--[if lt IE 9]>
	 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	 <link rel="stylesheet" href="css/ie.css">
	 <![endif]-->
 </head>
<body>
<header id="top" role="banner">
	 <nav role="navigation" class="group">
			<div class="inner group">
				 <ul class="mainnav group">
						<li><a href="/program">Program</a></li>
						<li><a href="/info/speakers">Speakers</a></li>
						<li><a href="/info/about">About us</a></li>
						<li><a href="/info/sponsors">For sponsors</a></li>
						<li><a href="/login">Log in</a></li>
				 </ul>
			</div>
	 </nav>
	 <div class="inner group">
			<h1 class="logo"><a href="/"><%= image_tag "booster.png" %></a></h1>
			<div id="meta">
				 <p class="whenandwhere">12–14 March 2014 • Bergen, Norway</p>
				 <p class="tagline">A software conference for&nbsp;the whole team</p>
			</div>
	 </div> <!-- end inner -->
</header>

<div id="content" class="group" role="main">
<div class="inner group">

<div class="hello">
	 <p>So long and thanks for all the fish! Booster 2013 is over, and we hope you enjoyed it as much as we did. Join us <strong>next year</strong> on…</p>
	 <h1>12–14 March 2014</h1>
</div>

<div class="videosarea group">
	 <div class="videosintro">
			<p>But while you count the days, we think you should watch</p>
			<h1>videos from talks at Booster&nbsp;2013</h1>
	 </div>
	 <ul class="videosthatarelong group">
			<li class="keynotefirst">
				 <a class="keynotelink" href="http://vimeo.com/62378403" title="Self-Organize or Die: Why self-organizing teams are the key to thriving in a fast changing world - Esther Derby on Vimeo">
						<p class="keynotespeaker"><span>Keynote:</span> Esther Derby</p>
						<h2 class="keynotetitle">Self-Organize or&nbsp;Die:</h2>
						<h3 class="keynotetitle">Why self-organizing teams are the key to&nbsp;thriving in a fast changing world</h3>
						<p class="keynoteintro">“Self-organizing team” may be the most over-used, mis-understood, vague, and mis-leading phrase of the decade. What is a self-organizing team? How are self-organizing teams different from other teams? What makes self-organizing teams the key to unlocking creativity and agility?
						</p>
				 </a>
			</li>
			<li class="keynotesecond">
				 <a class="keynotelink" href="http://vimeo.com/62821779" title="Get up from your chair, get digital! - Jonas Söderström on Vimeo">
						<p class="keynotespeaker"><span>Keynote:</span> Jonas Söderström</p>
						<h2 class="keynotetitle">Get up from your chair, get&nbsp;digital!</h2> 
						<p class="keynoteintro">Too much software today just sucks. Too many digital products leave us frustrated and disappointed. (…) There’s a huge global market for digital products that take on this challenge — and it’s not just about appearance. It’s about the best democratic ideals and traditions, about empowerment and independence. And it's waiting for you to claim it.
						</p>
				 </a>
			</li>
	 </ul>
	 <h2 class="tenminutestitle">Got 10 minutes? We also have short videos for you to enjoy.</h2>
	 <ul class="videosthatareshort group">
			<li>
				 <a href="http://vimeo.com/62378401" title="Tips for bedre logger - Anders Båtstrand on Vimeo">
						<p class="speaker">Anders Båtstrand</p>
						<h3 class="talk">Tips for bedre logger</h3>
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62274255" title="Slik unngår du at din app blir en sikkerhetstrussel - Anders Skar on Vimeo">
						<p class="speaker">Anders Skar</p>
						<h3 class="talk">Slik unngår du at din app blir en sikkerhetstrussel</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62305786" title="Hvor smidig er utviklingen hvis vi følger en smidig metode? - Atle Geitung on Vimeo">
						<p class="speaker">Atle Geitung</p>
						<h3 class="talk">Hvor smidig er utviklingen hvis vi følger en&nbsp;smidig metode?</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62274257" title="RubyMotion - Developer happiness for iOS - Bjørn Arild Mæland on Vimeo">
						<p class="speaker">Bjørn Arild Mæland</p>
						<h3 class="talk">RubyMotion—Developer happiness for&nbsp;iOS</h3>
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/61896812" title="Programming by hyperbole - Einar W. Høst on Vimeo">
						<p class="speaker">Einar W. Høst</p>
						<h3 class="talk">Programming by hyperbole</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62274260" title="HTML5 Pixel Magic - Eirik Bjørsnøs on Vimeo">
						<p class="speaker">Eirik Bjørsnøs</p>
						<h3 class="talk">HTML5 Pixel Magic</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62295467" title="How we transformed a deadful legacy codebase using only a Strap-on - Espen Dalløkken on Vimeo">
						<p class="speaker">Espen Dalløkken</p>
						<h3 class="talk">How we transformed a deadful legacy codebase using only a&nbsp;Strap-on</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62295464" title="UX Low hanging fruit - Fredrik Johnsson on Vimeo">
						<p class="speaker">Fredrik Johnsson</p>
						<h3 class="talk">UX Low hanging fruit</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62305787" title="Feil - Gaute Småland on Vimeo">
						<p class="speaker">Gaute Småland</p>
						<h3 class="talk">Feil</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62298874" title="Manage risk and expectations in Agile - Harald Hovdevik on Vimeo">
						<p class="speaker">Harald Hovdevik</p>
						<h3 class="talk">Manage risk and expectations in Agile</h3> 
				 </a>
			</li>      
			<li>
				 <a href="http://vimeo.com/62305789" title="EffectMapping: Hvis forretningsverdi er viktigst - Håvard Sjøvoll on Vimeo">
						<p class="speaker">Håvard Sjøvoll</p>
						<h3 class="talk">EffectMapping: Hvis forretningsverdi er viktigst</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62295471" title="Storm: Real time processing of Big Data - Jon Espen Ingvaldsen on Vimeo">
						<p class="speaker">Jon Espen Ingvaldsen</p>
						<h3 class="talk">Storm: Real time processing of Big Data</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62378404" title="Embrace the superteam - Kjartan Storli, Rick Sickenger on Vimeo">
						<p class="speaker">Kjartan Storli &amp;&nbsp;Rick&nbsp;Sickenger</p>
						<h3 class="talk">Embrace the superteam</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62298873" title="Distribuert databasesynkronisering i skyen(e) - Knut Tveitane on Vimeo">
						<p class="speaker">Knut Tveitane</p>
						<h3 class="talk">Distribuert databasesynkronisering i&nbsp;skyen(e)</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62274261" title="Automated CSS Testing - Kristofer Walters on Vimeo">
						<p class="speaker">Kristofer Walters</p>
						<h3 class="talk">Automated CSS Testing</h3> 
				 </a>
			</li> 
			<li>
				 <a href="http://vimeo.com/62298870" title="Type Driven Development - Maciek Próchniak on Vimeo">
						<p class="speaker">Maciek Próchniak</p>
						<h3 class="talk">Type Driven Development</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62305788" title="Emphasizing customer value of software quality using quality requirements - Mario Ek Aparicio on Vimeo">
						<p class="speaker">Mario Ek Aparicio</p>
						<h3 class="talk">Emphasizing customer value of software quality using quality requirements</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62298867" title="Apache Kafka - distributed publish-subscribe messaging system - Morten Kjetland on Vimeo">
						<p class="speaker">Morten Kjetland</p>
						<h3 class="talk">Apache Kafka – distributed publish-subscribe messaging system</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62295468" title="App-server euthanasia; Dropwizard - Olve Hansen on Vimeo">
						<p class="speaker">Olve Hansen</p>
						<h3 class="talk">App-server euthanasia; Dropwizard</h3> 
				 </a>
			</li> 
			<li>
				 <a href="http://vimeo.com/61889110" title="Alle prosjekter bør gjennomføre brukertesting! - Ram Yoga on Vimeo">
						<p class="speaker">Ram Yoga</p>
						<h3 class="talk">Alle prosjekter bør gjennomføre brukertesting!</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62295466" title="Are you cross-browser compatible - Safurudin Mahic on Vimeo">
						<p class="speaker">Safurudin Mahic</p>
						<h3 class="talk">Are you cross-browser compatible</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62298868" title="Deploying Java web applications with zero downtime - Stein Inge Morisbak on Vimeo">
						<p class="speaker">Stein Inge Morisbak</p>
						<h3 class="talk">Deploying Java web applications with zero downtime</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62378405" title="K I S S - Keep it simple stupid - Thommy Bommen on Vimeo">
						<p class="speaker">Thommy Bommen</p>
						<h3 class="talk">KISS — <br>Keep it simple stupid</h3> 
				 </a>
			</li>
			<li>
				 <a href="http://vimeo.com/62274256" title="All you need to know about TypeScript (in 10 minutes) - Torstein Nicolaysen on Vimeo">
						<p class="speaker">Torstein Nicolaysen</p>
						<h3 class="talk">All you need to know about TypeScript (in 10 minutes)</h3> 
				 </a>
			</li>
	 </ul>
</div> <!-- end videosarea -->

</div> <!-- end inner -->
</div> <!-- end content -->

<div class="sponsorarea">
<section class="inner group">
	 <h3 class="sponsortitle">Thanks to our sponsors</h3>
	 <ul class="sponsorlogos">
		 <li>
			 <a href="http://www.kantega.no/" title="Kantega" target="_blank">
			 <img src="images/logos/kantega.png" alt="Kantega"></a>
		 </li>
		 <li>
			 <a href="http://www.miles.no/" title="Miles" target="_blank">
			 <img src="images/logos/miles.png" alt="Miles"></a>
		 </li>
		 <li>
			 <a href="http://www.pswin.com/" title="PSWinCom AS" target="_blank">
			 <img src="images/logos/pswincom.jpg" alt="PSWinCom AS"></a>
		 </li>
		 <li>
			 <a href="http://www.webstep.no/" title="Webstep AS" target="_blank">
			 <img src="images/logos/webstep.png" alt="Webstep AS"></a>
		 </li>
		 <li>
			 <a href="http://www.rainfall.no/" title="Rainfall" target="_blank">
			 <img src="images/logos/rainfall.png" alt="Rainfall"></a>
		 </li>
		 <li>
			 <a href="http://www.innovit.no/" title="Innovit" target="_blank">
			 <img src="images/logos/innovit.png" alt="Innovit"></a>
		 </li>
		 <li>
			 <a href="http://www.experis.no/" title="Experis" target="_blank">
			 <img src="images/logos/experis.png" alt="Experis"></a>
		 </li>
		 <li>
			 <a href="http://www.knowit.no/" title="Knowit" target="_blank">
			 <img src="images/logos/knowit.png" alt="KnowIt"></a>
		 </li>
		 <li>
			 <a href="http://www.delfidata.no/" title="Delfi Data" target="_blank">
			 <img src="images/logos/delfidata.png" alt="Delfi Data"></a>
		 </li>
		 <li>
			 <a href="http://www.dataloy-systems.com/" title="Dataloy Systems" target="_blank">
			 <img src="images/logos/dataloy_logo.png" alt="Dataloy Systems"></a>
		 </li>
		 <li>
			 <a href="http://www.umoeconsulting.no/" title="Umoe Consulting" target="_blank">
			 <img src="images/logos/umoe.png" alt="Umoe Consulting"></a>
		 </li>
		 <li>
			 <a href="http://www.vimond.com/" title="Vimond" target="_blank">
			 <img src="images/logos/vimond.png" alt="Vimond"></a>
		 </li>
		 <li>
			 <a href="http://www.evry.no/" title="Evry" target="_blank">
			 <img src="images/logos/evry.png" alt="Evry"></a>
		 </li>
		 <li>
			 <a href="http://www.computas.com/" title="Computas" target="_blank">
			 <img src="images/logos/computas.png" alt="Computas"></a>
		 </li>
		 <li>
			 <a href="http://www.frende.no/" title="Frende Forsikring" target="_blank">
			 <img src="images/logos/frende.png" alt="Frende Forsikring"></a>
		 </li>
		 <li>
			 <a href="http://www.skandiabanken.no/" title="Skandiabanken" target="_blank">
			 <img src="images/logos/skandiabanken.png" alt="Skandiabanken"></a>
		 </li>
		 <li>
			 <a href="http://www.marcello.no/" title="Marcello Systems" target="_blank">
			 <img src="images/logos/marcello.png" alt="Marcello Systems"></a>
		 </li>
		 <li>
			 <a href="http://www.sonat.no/" title="Sonat" target="_blank">
			 <img src="images/logos/sonat.png" alt="Sonat"></a>
		 </li>
		 <li>
			 <a href="http://www.bouvet.no/" title="Bouvet" target="_blank">
			 <img src="images/logos/bouvet.png" alt="Bouvet"></a>
		 </li>
		 <li>
			 <a href="http://www.uib.no/infomedia/" title="Infomedia" target="_blank">
			 <img src="images/logos/infomedia.png" alt="Infomedia"></a>
		 </li>
		 <li>
			 <a href="http://www.hib.no/" title="Bergen University College" target="_blank">
			 <img src="images/logos/hib.png" alt="Bergen University College"></a>
		 </li>
	 </ul>
</section>
</div><!-- end sponsorarea -->


<footer>
	 <div class="inner group">
			<h3 class="contacttitle">Don’t be a stranger!</h3>
			<ul class="contactbuttons">
				 <li><a href="http://twitter.com/boosterconf" title="Follow Booster on Twitter" class="btn" id="btntwitter">Follow @boosterconf on Twitter</a></li>
				 <li><a href="http://facebook.com/boosterconf" title="Find us on Facebook" class="btn" id="btnfacebook">Find us on Facebook</a></li>
				 <li><a href="http://lanyrd.com/2014/boosterconf/" title="Track Booster 2014 on Lanyrd" class="btn" id="btnlanyrd">Track Booster 2014 on Lanyrd</a></li>
			</ul>
			<p class="beammeup"><a href="/#top">Take me back to the top!</a></p>
	 </div>
  <script type="text/javascript">//<![CDATA[
  $('#logoer').shuffle();
  //]]></script>
</footer>

<%= yield :javascript %>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37448589-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/7142.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

</body>
</html>